<div>
  <p><strong>Domains pattern</strong></p>
  <p>After <a x-ui-sref="ldapconnection.list">creating a connection to an LDAP directory</a>, it is necessary to create
    a domain pattern.<br/><br/>
    This pattern will allows you to define the correspondence between the firstname, lastname and email fields of
    {{'COMMON.NAME' | translate}}, and the attributes of your directory.
    {{ 'COMMON.NAME' | translate }} requires 4 different queries to work properly:</p>
  <ul>
    <li><strong>query LQL <i>(Ldap Query Language)</i> of authentication :</strong> query to find
      a user in the directory during the authentication phase from the identifier he has entered (email).
    </li>
    <li><strong>query LQL <i>(Ldap Query Language)</i> user :</strong> query to find a
      user in the directory when searching for consultation, editing, sharing, ...
    </li>
    <li><strong>query LQL <i>(Ldap Query Language)</i>autocomplete on all attributes:</strong> allows
      autocomplete a user from the entered pattern
    </li>
    <li><strong>query LQL <i>(Ldap Query Language)</i> autocomplete on firstname and lastname :</strong> allows
      autocomplete of a user from a couple of pattern: lastname-firstname or firstname-lastname
    </li>
  </ul>
</div>
