<div>
  <p><strong> Cross-domain communication rules </strong></p>
  <p> Inter-domain communication rules allows to manage <i> (list / share) </i> communication between
    users from different domains or within the same domain. <br/>
    When you create a domain through the <a x-ui-sref="domain.detail({domainId: domain})"> 'Domains Configuration' </a>
    view and choose the <strong> 'Create option automatic '</strong> for
    <strong> 'Cross-domain communication rules' </strong>, a rule will be created automatically by authorizing
    the newly created domain to communicate with itself only. All other communications are
    forbidden by default. <br/>
    In order to validate a rule, it must be assigned to a domain. </p>
</div>
