<div xmlns="http://www.w3.org/1999/html">
  <p><strong>Group pattern</strong></p>
  <p>Thanks to synchronization system between ldap groups and LinShare workgroup, it will create
    workgroup and synchronize their members automatically.
  </p>
  <p>By default members are always added as readers (Roles):</p>
  <p>
    LinShare needs the queries below to synchronize :
  </p>
  <ul>
    <li><strong>query LQL <i>(Ldap Query Language)</i> to search all workgroups :</strong>

    </li>
    <li><strong>query LQL <i>(Ldap Query Language)</i> to search workgroup:</strong>
    </li>
  </ul>
</div>

