<div>
	<p><strong>Contenu de courriel</strong></p>
	<p>Cette vue permet de créer le contenu des notifications envoyées automatiquement aux utilisateurs de l'application. Vous pouvez créer des messages en anglais et en français, vous pouvez également créer plusieurs variations de ces messages.
		Vous pourrez ensuite, dans l'onglet <a x-ui-sref="mailconfig.list({domainId: domain})">'Configuration de courriel'</a>, choisir le contenu adapté à la configuration.<br/><br/>
		Les champs 'Subject', 'Greetings' et 'Body', viendrons remplacer les variables ${subject}, ${greetings} et ${body}
		 que vous aurez ajoutées à une <a x-ui-sref="maillayout.list({domainId: domain})">structure de courriel</a>.</p>
</div>