<div>
  <p><strong>Mails configuration</strong></p>
  <p>This view allows you to create a mail template to your domains, from the entered information</p>
  <ul>
    <li><strong><a x-ui-sref="maillayout.list({domainId: domain})">'Mail layout'</a></strong> allows to create a custom
      mail layout.
    </li>
    <li><strong><a x-ui-sref="mailfooter.list({domainId: domain})">'Mail footer'</a></strong> to edit the mail footer
      template.
    </li>
    <li><strong><a x-ui-sref="mailcontent.list({domainId: domain})">'Mail content'</a></strong> to manage mail
      notification content, sent to LinShare users.
    </li>
  </ul>
  <p>After your different mail templates you can in <a x-ui-sref="domain.detail({domainId: domain})">'Domains
    configuration'</a>
    (on creation/edition of your domain), choose a mail configuration.</p>
</div>
