<div>
  <p><strong>Mail layout</strong></p>
  <p>
    This view allows you to create a models for your mails layout. You need to create a HTML & text models.
    A mail layout allows you to adjust the different parts
    <i>(salutation, message, logo, footer)</i> into a mail.</p>
  <ul>
    <li><strong>${mailSubject}</strong> Title / Mail subject</li>
    <li><strong>${image}</strong> LinShare log, that can be set in the configuration<i>(If you have the required
      authorities)</i></li>
    <li><strong>${personalMessage}</strong> A custom message added to the default message <strong>${body}</strong></li>
    <li><strong>${greetings}</strong> Greeting message</li>
    <li><strong>${body}</strong> Content that you put in <a x-ui-sref="mailcontent.list({domainId: domain})"> 'Mail
      content'</a></li>
    <li><strong>${footer}</strong> Content that you put in <a x-ui-sref="mailfooter.list({domainId: domain})"> 'Mail
      footer'</a></li>
  </ul>
</div>
