<div>
  <p><strong>Mail content</strong></p>
  <p>This view allows you to set the mail notification content sent automatically to the application's users.
    You can write a messages in english, french, vietnamese or russian. You can also create a several versions of this
    messages.
    you can then in the tab <a x-ui-sref="mailconfig.list({domainId: domain})">'Mail configuration'</a>, choose the
    right content of the configuration.<br/><br/>
    The fields 'Subject', 'Greetings' et 'Body',replace ${subject}, ${greetings} and ${body}
    that you have added to a <a x-ui-sref="maillayout.list({domainId: domain})">'Mail layout'</a>.</p>
</div>
