<div>
	<p><strong>Structure de courriel</strong></p>
	<p>
		Cette vue vous permet de créer des modèles de strucutre de courriel. Il vous faudra créer un modèle HTML & Text. Un modèle de structure vous permet d'organiser la disposition des différentes parties <i>(salutation, message, logo, footer)</i> au sein d'un courriel.</p>
	<ul>
		<li><strong>${mailSubject}</strong> Titre / Sujet du courriel</li>
		<li><strong>${image}</strong> Image, logo, entête du courriel</li>
		<li><strong>${personalMessage}</strong> Message personnel qui est ajouté au message de base <strong>${body}</strong>.</li>
		<li><strong>${greetings}</strong> Message ---</li>
		<li><strong>${body}</strong> Correspond au contenu que vous saisissez dans la vue 'contenu de courriel'</li>
		<li><strong>${footer}</strong> Correspond au contenu que vous saisissez dans la vue 'Pied de courriel'</li>
	</ul>
	<p>Dans la vue 'Configuration de courriel' vous pourrez créer des modèles de courriel en choisissant pour :</p>
	<ol>
		<li><strong>Structure de courriel HTML / Text</strong> le template créé ici en version HTML & Text</li>
		<li><strong>Pied de courriel</strong> le pied de courriel qui sera ajouté à la variable <strong>${footer}</strong></li>
		<li><strong>Contenu de courriel</strong> les contenus de courriel <i>(en version EN et FR)</i> qui seront ajoutés à la variable <strong>${body}</strong></li>
	</ol>
</div>