<p><strong>Gestion des règles de type MIME</strong></p>
<p>
Cette vue vous permet de paramétrer les filtres par type MIME. Ainsi vous pouvez autoriser ou interdire
 le dépôt de fichiers d’un type donné, <i>e.g. interdire le dépôt de fichiers vidéos (MPEG, etc.)</i>.</br></br>
<strong>Fonctionnement :</strong>
</p>
<div>
<ul>

<li>Sélectionnez un domaine depuis l’« Arbre des domaines », cliquez sur le bouton « Ajouter » et créer votre filtre;</li>

<li>Cliquez ensuite sur le filtre de votre choix ;</li>

<li>Pour chaque type MIME, activez-le ou désactivez-le, puis enregistrez en cliquant sur le bouton « Sauvegarder ».</li>
</ul>
</div>