<p><strong>MIME policies</strong></p>
<p>
  In this view you can filter the uploaded files <i>e.g. forbid upload a videos (MPEG, etc.)</i>.</br></br>
  <strong>Operation :</strong>
</p>
<div>
  <ul>
    <li>Click on the « + » button and give a name to your MIME type filter</li>
    <li>Choose the filter that you added than a list of available MIME types is displayed;</li>
    <li>Enable or disable the MIME type you want than save.</li>
    <li>You can than select this filter in'Manage domains' menu when you create or edit a domain</li>
  </ul>
</div>

