This section allows you manage the quota size of every domain on LinShare.
It contains 3 subsections:
<ul>
  <li>Used space for the current domain</li>
  <p>You can see here all the current domain quota size and setup it as on your need. </p>
  <li>Container's allocation</li>
  <p>This section contains two parts:
    <ol>
      <li>Personal spaces:</li>
  <p>Manage the allocated space for every user personal space and setup the file's size</p>
  <li>Shared spaces:</li>
  <p>Manage the allocated space for a every shared space and setup the uploaded file's size</p>
  </ol>
  </p>
  <li>Subdomains default allocation</li>
  <p>You can manage the subdomain quota size of your current domain</p>
</ul>
