<div>
	<p><strong>Les comptes techniques</strong></p>
	<p>Cette vue vous permet de créer des comptes avec des droits spécifiques de délégation.</br></br>
	<strong>Détails des droits :</strong></p>
	<ul>
		<li><strong>'Délégation' :</strong> permet la réalisation d'opérations pour d'autres utilisateurs grâce à
			 l'API de délégation. Pour réaliser ces opérations il faut sélectionner la liste de permissions <i>(droits)</i> que
			  l'on souhaite donner à ce compte. Aucune permission n'est sélectionée par défaut.<br/>
Pour la définition du fonctionnement de l'API de délégation, vous pouvez vous référer à sa documentation disponible à
 l'adresse : <a href="http://download.linshare.org">http://download.linshare.org</a></li>
		<li><strong>'Upload proposition' :</strong> Upload proposition étant un module extérieur de l'application, il
		 nécessite un compte spécial pour se connecter à LinShare et récupérer sa configuration. Ce compte est dédié à
		  cet usage.</li>
	</ul>
</div>