<div>
  <p><strong>Technical accounts</strong></p>
  <p>This view allows you to create new accounts with specific delegation rights.</br></br>
    <strong>Permissions details:</strong></p>
  <ul>
    <li><strong>'Delegation' :</strong> allows to make operations for other users via the delegation API.
      To do that you should select the permissions that you give to this account.
      <i>(rights)</i>. By default any permission is given to it.<br/>
      For more indication you can see : <a href="http://download.linshare.org">http://download.linshare.org</a></li>
    <li><strong>'Upload proposition' :</strong> Upload proposition is an external module. So it requires a special
      account to get access to LinShare and recover its configuration
    </li>
  </ul>
</div>
