<p><strong>Customize welcome messages</strong></br></br>
  You can create several welcome messages per domain and associate them to sub-domains.</br>
  To do that :</p>
<ul>
  <li>In 'manage domains' menu, you can see a domain parent <i>(readonly)</i>, your domains and subdomains
    <i>(read/write)</i>.<br/>Then access to 'welcome messages configuration' and
    click on <strong>'add button'.</strong></br> A pop-up will be displayed and you can fill in the blank a new welcome
    message's name.
  </li>
  <li>Choose the duplicated message from the list, and you can edit its associated domain, content (for all LinShare
    available languages), description or name.
  </li>
</ul>

