/* LIMIT */
.overallocation-limit {
  width: 0;
  display: flex;
  position: absolute;
  bottom: -1px;
  left: 50%;
  > span {
    top: -5px;
    position: relative;
    font-size: .7em;
    background: white;
    z-index: 1;
  }
  .slider-arrow {
    border-bottom: solid 2px;
    bottom: 0px;
  }
}
.overallocation-limit-bar {
  position: absolute;
  border-left: dotted 1px orange;
  left: 50%;
  width: 1px;
  height: calc(100% - 30px);
  z-index: 9;
}
.bottom-overallocation-bar {
  position: absolute;
  bottom: -1px;
  left: 50%;
  height: 2px;
  width: 50%;
  border-bottom: solid 1px $graphOrange;
}
.over-allocation-ref-clr-bg {
  background-color : $graphOrange !important;
}