.content {
  margin-bottom: 0px;
  background-color: transparent;
}
.table-striped > tbody > tr.ls-table-info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr:hover > td {
  cursor: pointer;
  cursor: hand;
}

.table-hover.table-show tbody tr:hover > td {
  cursor: auto;
}
