@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(/styles/linshare/fonts/sourcesanspro/sourcesanspro_normal_300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/styles/linshare/fonts/sourcesanspro/sourcesanspro_normal_400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(/styles/linshare/fonts/sourcesanspro/sourcesanspro_normal_600.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url(/styles/linshare/fonts/sourcesanspro/sourcesanspro_italic_300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(/styles/linshare/fonts/sourcesanspro/sourcesanspro_italic_400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'), url(/styles/linshare/fonts/sourcesanspro/sourcesanspro_italic_600.woff) format('woff');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(/styles/linshare/fonts/kaushanscript/kaushanscript_normal_400.woff) format('woff');
}

@font-face {
  font-family: 'LinShare';
  src:  url('/styles/linshare/fonts/linshare/LinShare.eot?5xajv9');
  src:  url('/styles/linshare/fonts/linshare/LinShare.eot?5xajv9#iefix') format('embedded-opentype'),
  url('/styles/linshare/fonts/linshare/LinShare.ttf?5xajv9') format('truetype'),
  url('/styles/linshare/fonts/linshare/LinShare.woff?5xajv9') format('woff'),
  url('/styles/linshare/fonts/linshare/LinShare.svg?5xajv9#LinShare') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ls-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LinShare' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ls-libre-free:before {
  content: "\e90d";
}
.ls-upload-item:before {
  content: "\e90e";
}
.ls-add-user-sm:before {
  content: "\e90f";
}
.ls-excel-alt:before {
  content: "\e910";
}
.ls-contact-list-item:before {
  content: "\e911";
}
.ls-upload-fill:before {
  content: "\e904";
}
.ls-uploads:before {
  content: "\e90c";
}
.ls-workgroup:before {
  content: "\e960";
}
.ls-member:before {
  content: "\e913";
}
.ls-file-type-other:before {
  content: "\e914";
}
.ls-file-type-archive:before {
  content: "\e900";
}
.ls-file-type-video:before {
  content: "\e901";
}
.ls-file-type-graph:before {
  content: "\e902";
}
.ls-project:before {
  content: "\e903";
}
.ls-upload-file:before {
  content: "\e905";
}
.ls-share-file:before {
  content: "\e906";
}
.ls-file-type-presentation:before {
  content: "\e907";
}
.ls-file-type-audio:before {
  content: "\e908";
}
.ls-file-type-code:before {
  content: "\e909";
}
.ls-my-uploads:before {
  content: "\e90a";
}
.ls-my-space:before {
  content: "\e90b";
}
.ls-file-type-2-pdf:before {
  content: "\e918";
}
.ls-history:before {
  content: "\e919";
}
.ls-action-upload-file-6:before {
  content: "\e91b";
}
.ls-action-share-file-6:before {
  content: "\e91c";
}
.ls-action-add-file-6:before {
  content: "\e91d";
}
.ls-action-add-file:before {
  content: "\e928";
}
.ls-action-upload-file-dash-2:before {
  content: "\e929";
}
.ls-action-share-file:before {
  content: "\e92a";
}
.ls-write:before {
  content: "\e934";
}
.ls-write-alt:before {
  content: "\e935";
}
.ls-read:before {
  content: "\e936";
}
.ls-admin:before {
  content: "\e937";
}
.ls-folder:before {
  content: "\e939";
}
.ls-file-type-2-other:before {
  content: "\e93e";
}
.ls-file-type-2-img:before {
  content: "\e93f";
}
.ls-file-type-2-text:before {
  content: "\e940";
}
.ls-file-type-img:before {
  content: "\e941";
}
.ls-file-type-1-other:before {
  content: "\e942";
}
.ls-file-type-text:before {
  content: "\e943";
}
.ls-file-type-pdf:before {
  content: "\e944";
}
.ls-contact-list-alt:before {
  content: "\e945";
}
.ls-contact-list:before {
  content: "\e946";
}
.ls-multi-select-alt:before {
  content: "\e948";
}
.ls-multi-select:before {
  content: "\e949";
}
.ls-check-checked:before {
  content: "\e94a";
}
.ls-check-o:before {
  content: "\e94b";
}
.ls-previous-caret:before {
  content: "\e94c";
}
.ls-previous-folder:before {
  content: "\e94d";
}
.ls-previous-arrow-2:before {
  content: "\e94e";
}
.ls-previous-arrow:before {
  content: "\e94f";
}
.ls-add-user:before {
  content: "\e950";
}
.ls-guest-account:before {
  content: "\e951";
}
.ls-refresh:before {
  content: "\e952";
}
.ls-user:before {
  content: "\e953";
}
.ls-received-shares:before {
  content: "\e954";
}
.ls-current-position:before {
  content: "\e955";
}
.ls-my-profile:before {
  content: "\e956";
}
.ls-upload-request:before {
  content: "\e959";
}
.ls-upload-request-alt:before {
  content: "\e95a";
}
.ls-settings:before {
  content: "\e95b";
}
.ls-shared-space:before {
  content: "\e95c";
}
.ls-my-space-alt:before {
  content: "\e95d";
}
.ls-homepage:before {
  content: "\e95e";
}
