<p><strong>Gestion des règle de type MIME</strong></p>
<p>
Cette fonctionnalité vous permet de paramétrer les filtres par type MIME. Ainsi vous pouvez autoriser ou interdire le dépôt de fichiers d’un type donné, <i>e.g. interdire le dépôt de fichiers vidéos (MPEG, etc.)</i>.
</p>
<div>
<p>
  Une fois activée :
<p>
<ul>
<li>Depuis le menu de navigation, allez à la rubrique « Paramètres > Règles de type MIME » ;</li>

<li>Sélectionnez un domaine depuis l’« Arbre des domaines », cliquer sur le bouton « Ajouter » ;</li>

<li>Cliquer sur le filtre « Mon filtre » ;</li>

<li>Pour chaque type MIME, activez-le ou désactivez-le, puis enregistrez en cliquant sur le bouton « Soumettre ».</li>
</ul>
</div>