<div>
	<h4> Close an Upload Request <i>(issuer/recipient)</i></h4>
	<ul>
		<li>
			The issuer and, possibly, the recipient can close an upload request.
		</li>
		<li>
			The recipient can no longer modify or add documents to the upload request.
		</li>
		<li>
			The upload request then appears as closed in the current view. 
		</li>
		<li>
			Once an upload request expires, it is automatically closed.
		</li>
	</ul>
</div>
<div collapse="!isCollapse">
	<h4>Closing reasons:</h4>
	<ul>
				<li>Closing automatically when expiry date is reached.</li>

				<li>Closing by the recipient (depending on configuration)</li>

				<li>Closing by issuer</li>
	</ul>
</div>
<i class="fa fa-fw btn-description pull-right" ng-click="seeContent()"
	ng-class="{'fa-plus': !isCollapse, 'fa-minus': isCollapse}"
	tooltip="{{'FUNCTIONALITIES.' + contentStatus | translate}}"></i>