<h4><strong>Using Upload Request</strong></h4>
<p>
  An upload request is a feature through which a person (email) can upload files for a LinShare user, in a temporary and
  regulated manner.
  <br>The uploaded documents will impact the issuer’s personal space quota.
</p>
<div collapse="!isCollapse">
  <h5><strong>How it works ?</strong></h5>
  <p>
    An internal LinShare user who wants an external user to upload files can proceed in the following manner:
  </p>
  <ol>
    <li>
      The internal or guest user, the issuer of the upload request, creates an upload request.
      <br> During the creation, he can modify the conditions of use of this upload request by changing the default
      configuration within the limit of the options given to him by the administrators.
      <br><i> <b>NB:</b> During the creation of an upload request, the issuer can choose the activation date, by default
        it is the creation date. </i>
    </li>

    <li>
      Once the upload request is activated, the system notifies the external user, the recipient of the upload request.
      <br>This notification is an email containing a unique HTTPS link pointing towards a LinShare upload interface and
      indicating the conditions of use.
      This interface lets the recipient(s) upload one or multiple documents for the issuer.
      <br><i><b>NB:</b>uploading files is only possible when the upload request is activated.</i>
    </li>
    <li>
      The upload request is closed once the expiry date is reached, or by an action from the part of the issuer or the
      recipient, depending on the configuration of the upload request.
      <br> The upload request remains available to everyone in read only mode.
    </li>
    <li>
      The issuer can then archive the upload request, which is then moved to the issuer’s history and is no longer
      available to the recipient.
      <br>During this process, the issuer has the option to copy all of the uploaded documents into their personal space
      or to delete them.
    </li>
  </ol>
</div>
<i class="fa fa-fw btn-description pull-right" ng-click="seeContent()"
  ng-class="{'fa-plus': !isCollapse, 'fa-minus': isCollapse}"
  tooltip="{{'FUNCTIONALITIES.' + contentStatus | translate}}"></i>