<div class="box box-primary">
  <div class="box-header">
    <div class="box-title">
      <!-- Legend -->
      <div x-ng-if="state === 'create'">
        <div x-ng-switch="domain.type">
          <h3 class="box-title"
            x-ng-switch-when="TOPDOMAIN">
              {{ 'MANAGE_DOMAINS.CREATE_FORM.TITLE.TOP_DOMAIN' | translate:domain }}
          </h3>
          <h3 class="box-title"
              x-ng-switch-when="SUBDOMAIN">
              {{ 'MANAGE_DOMAINS.CREATE_FORM.TITLE.SUB_DOMAIN' | translate:domain }}
          </h3>
          <h3 class="box-title"
              x-ng-switch-when="GUESTDOMAIN">
              {{ 'MANAGE_DOMAINS.CREATE_FORM.TITLE.GUEST_DOMAIN' | translate:domain }}
          </h3>
        </div>
      </div>
      <div x-ng-if="state === 'edit'">
        <h3>
          {{ 'MANAGE_DOMAINS.BOX_FORM.TITLE' | translate }}
        </h3>
      </div>
    </div>
    <div class="pull-right box-tools">
      <button class="btn btn-primary btn-sm"
              x-ng-click="cancel()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
  <form name="domainForm" class="form" role="form"
        x-ls-form-submit="submit()"
        x-ls-form-attempt>
    <div class="box-body">
      <div x-ng-if="state === 'create'">
        <!-- Identifier -->
        <div class="form-group"
             x-ng-class="{'has-error': domainForm.identifier.$invalid &&
               (domainForm.identifier.$dirty || ls.domainForm.attempted)}">
          <label for="identifier">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_IDENTIFIER' | translate }}
          </label>
          <input id="identifier" name="identifier" type="text" class="form-control" required
                 x-ng-model="domain.identifier"
                 x-ng-pattern="/^[a-zA-Z0-9_]{4,}$/" >
        </div>
      </div>
      <div x-ng-if="state === 'edit'">
        <!-- Identifier -->
        <label for="identifier">
          {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_IDENTIFIER' | translate }}
        </label>
        <div class="form-group">
          <p class="form-control-static">
            {{domain.identifier}}
          </p>
        </div>
      </div>
      
      <!-- Name -->
      <div class="form-group"
           x-ng-class="{'has-error': domainForm.name.$invalid &&
             (domainForm.name.$dirty || ls.domainForm.attempted)}">
        <label for="name">
          {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_NAME' | translate }}
        </label>
        <input id="name" name="name" type="text" class="form-control" required
               x-ng-model="domain.label">
      </div>
      
      <!-- Description -->
      <div class="form-group">
        <label for="description">
          {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_DESCRIPTION' | translate }}
        </label>
        <textarea id="description" name="description" class="form-control"
                  x-ng-model="domain.description">
        </textarea>
      </div>

      <!-- Locale -->
      <div class="form-group"
           x-ng-class="{'has-error': domainForm.locale.$invalid &&
             (domainForm.locale.$dirty || ls.domainForm.attempted)}">
        <label for="locale">
          {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_LOCALE' | translate }}
        </label>
        <select id="locale" name="locale" class="form-control" required
                x-ng-model="domain.locale"
                x-ng-options="'COMMON.ENUM.LANGUAGE.' + l | translate for l in locales">
        </select>
      </div>

      <div x-ng-hide="isRootDomain">
        <!-- User role -->
        <div class="form-group"
             x-ng-show="domain.type!='GUESTDOMAIN'"
             x-ng-class="{'has-error': domainForm.userRole.$invalid &&
               (domainForm.userRole.$dirty || ls.domainForm.attempted)}">
          <label for="userRole">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_USER_ROLE' | translate }}
          </label>
          <select id="userRole" name="userRole" class="form-control" required
                  x-ng-model="domain.userRole"
                  x-ng-options="u for u in userRoles">
          </select>
        </div>

        <!-- Policy -->
        <div class="form-group"
             x-ng-class="{'has-error': domainForm.policy.$invalid &&
               (domainForm.policy.$dirty || ls.domainForm.attempted)}">
          <label for="policy">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_POLICY' | translate }}
          </label>
          <select id="policy" name="policy" class="form-control" required
                  x-ng-model="domain.policy.identifier"
                  x-ng-options="p for p in domainPolicies">
          </select>
        </div>
      </div>


      <div class="form-group"
           x-ng-show="domain.type!='GUESTDOMAIN'">
        <button type="button" class="btn"
                x-ng-disabled="disableProvider"
                x-ng-click="addProvider()">
          <i class="fa fa-plus"></i> {{ 'MANAGE_DOMAINS.BOX_FORM.BUTTON_ADD_PROVIDER' | translate }}
        </button>
      </div>
      <!-- Provider Form -->
      <div class="well" style="max-width: 600px; margin: 0 auto 10px;"
           x-ng-repeat="provider in domain.providers">
        <button type="button" class="close"
                x-ng-click="deleteProvider()">
          &times;
        </button>
        <h4>
          {{ 'MANAGE_DOMAINS.BOX_FORM.TITLE_PROVIDER' | translate }}
        </h4>
        <!-- LDAP Connection -->
        <div class="form-group"
             x-ng-class="{'has-error': domainEditForm.ldapConnection.$invalid &&
               (domainEditForm.ldapConnection.$dirty || ls.domainEditForm.attempted)}">
          <label for="ldapConnection">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_LDAP_CONNECTION' | translate }}
          </label>
          <select id="ldapConnection" name="ldapConnection" class="form-control" required
                  x-ng-model="provider.ldapConnectionId"
                  x-ng-options="l for l in ldapConnections">
          </select>
        </div>
        <!-- Domain Pattern -->
        <div class="form-group"
             x-ng-class="{'has-error': domainEditForm.domainPattern.$invalid &&
               (domainEditForm.domainPattern.$dirty || ls.domainEditForm.attempted)}">
          <label for="domainPattern">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_DOMAIN_PATTERN' | translate }}
          </label>
          <select id="domainPattern" name="domainPattern" class="form-control" required
                  x-ng-model="provider.domainPatternId"
                  x-ng-options="d for d in domainPatterns">
          </select>
        </div>
        <!-- Base Dn -->
        <div class="form-group"
             x-ng-class="{'has-error': domainEditForm.baseDn.$invalid &&
               (domainEditForm.baseDn.$dirty || ls.domainEditForm.attempted)}">
          <label for="baseDn">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_BASE_DN' | translate }}
          </label>
          <input id="baseDn" name="baseDn" type="text" class="form-control" required
                 x-ng-model="provider.baseDn">
        </div>
      </div>

    </div>
    <div class="box-footer">
      <!-- Validation -->
      <div class="form-group">
        <div class="controls">
          <button id="delete" name="delete" type="button" class="btn btn-danger"
                  x-ng-click="remove()"
                  x-ng-if="state==='edit'">
            {{ 'MANAGE_DOMAINS.BOX_FORM.FORM_ACTIONS.BUTTON_DELETE' | translate }}
          </button>
          <button type="button" id="reset" name="reset" class="btn btn-warning"
                  x-ng-click="reset()">
            {{ 'MANAGE_DOMAINS.BOX_FORM.FORM_ACTIONS.BUTTON_RESET' | translate }}
          </button>
          <button type="submit" id="submit" name="submit" class="btn btn-success">
            {{ 'MANAGE_DOMAINS.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
