<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{'P_Domains-DomainPatterns_BoxListTitle' | translate}}
    </h3>
    <div class="pull-right box-tools">
      <div class="btn-group">
        <button class="btn btn-primary" type="button"
                x-ng-click="create()">
          <span>
            <i class="fa fa-plus"></i> 
            {{'P_Domains-DomainPatterns_Add' | translate}}
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-striped"
             x-ng-table="tableParams">
        <tbody>
          <tr x-ng-repeat="domainPattern in $data"
              x-ng-click="edit(domainPattern)">
            <td data-title="'P_Domains-DomainPatterns_IdentifierLabel' | translate"
                sortable="'identifier'">
              <span>
                {{domainPattern.identifier}}
              </span>
            </td>
            <td data-title="'P_Domains-DomainPatterns_DescriptionLabel' | translate"
                sortable="'description'">
              <span>
                {{domainPattern.description}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
