<!-- Model selector -->
<div class="control-group pull-right">
  <label class="control-label" for="modelSelector">{{'P_Domains-DomainPatterns_ModelSelectorLabel' | i18n}}</label>
  <div class="controls">
    <select id="modelSelector" name="modelSelector" class="input-xlarge" data-ng-model="modelSelector" data-ng-options="model as model.identifier for model in models | orderBy:'identifier'" required>
    </select>
  </div>
</div>
<form class="form-horizontal" name="domainPatternForm" data-ls-form-submit="submit(domainPattern)" data-ls-form-attempt novalidate>
  <fieldset>
    <!-- Legend -->
    <legend>{{'P_Domains-DomainPatterns_CreationTitle' | i18n}}</legend>
    <!-- Identifier -->
    <div class="control-group"
         ng-class="{error: domainPatternForm.identifier.$invalid &&
         (domainPatternForm.identifier.$dirty || ls.domainPatternForm.attempted)}">
      <label class="control-label" for="identifier">{{'P_Domains-DomainPatterns_IdentifierLabel' | i18n}}</label>
      <div class="controls">
        <input id="identifier" name="identifier" type="text" data-ng-model="domainPattern.identifier"
        class="input-xlarge" required>
      </div>
    </div>
    <!-- Description -->
    <div class="control-group">
      <label class="control-label" for="description">{{'P_Domains-DomainPatterns_DescriptionLabel' | i18n}}</label>
      <div class="controls">
        <textarea id="description" name="description" class="input-xxlarge" data-ng-model="domainPattern.description"></textarea>
      </div>
    </div>
    <!-- Authentication -->
    <div class="control-group"
         ng-class="{error: domainPatternForm.authentication.$invalid &&
         (domainPatternForm.authentication.$dirty || ls.domainPatternForm.attempted)}">
      <label class="control-label" for="authentication">{{'P_Domains-DomainPatterns_AuthenticationLabel' | i18n}}</label>
      <div class="controls">
        <textarea id="authentication" name="authentication" class="input-xxlarge" data-ng-model="domainPattern.authCommand" required></textarea>
        <p class="help-block">{{'P_Domains-DomainPatterns_AuthenticationHelp' | i18n}}</p>
      </div>
    </div>
    <!-- Search User -->
    <div class="control-group"
         ng-class="{error: domainPatternForm.searchUser.$invalid &&
         (domainPatternForm.searchUser.$dirty || ls.domainPatternForm.attempted)}">
      <label class="control-label" for="searchUser">{{'P_Domains-DomainPatterns_SearchUserLabel' | i18n}}</label>
      <div class="controls">
        <textarea id="searchUser" name="searchUser" class="input-xxlarge" data-ng-model="domainPattern.searchUserCommand" required></textarea>
        <p class="help-block">{{'P_Domains-DomainPatterns_SearchUserHelp' | i18n}}</p>
      </div>
    </div>
    <!-- Attributes -->
    <div class="well" style="max-width: 600px; margin: 0 auto 10px;">
       <h4>{{'P_Domains-DomainPatterns_Attributes' | i18n}}</h4>

      <div class="control-group"
           ng-class="{error: domainPatternForm.email.$invalid &&
           (domainPatternForm.email.$dirty || ls.domainPatternForm.attempted)}">
        <label class="control-label" for="email">{{'P_Domains-DomainPatterns_EmailLabel' | i18n}}</label>
        <div class="controls">
          <input id="email" name="email" type="text" data-ng-model="domainPattern.userMail"
          class="input-xlarge" required>
          <p class="help-block">{{'P_Domains-DomainPatterns_EmailHelp' | i18n}}</p>
        </div>
      </div>
      <div class="control-group"
           ng-class="{error: domainPatternForm.firstName.$invalid &&
           (domainPatternForm.firstName.$dirty || ls.domainPatternForm.attempted)}">
        <label class="control-label" for="firstName">{{'P_Domains-DomainPatterns_FirstNameLabel' | i18n}}</label>
        <div class="controls">
          <input id="firstName" name="firstName" type="text" data-ng-model="domainPattern.userFirstName"
          class="input-xlarge" required>
          <p class="help-block">{{'P_Domains-DomainPatterns_FirstNameHelp' | i18n}}</p>
        </div>
      </div>
      <div class="control-group"
           ng-class="{error: domainPatternForm.lastName.$invalid &&
           (domainPatternForm.lastName.$dirty || ls.domainPatternForm.attempted)}">
        <label class="control-label" for="lastName">{{'P_Domains-DomainPatterns_LastNameLabel' | i18n}}</label>
        <div class="controls">
          <input id="lastName" name="lastName" type="text" data-ng-model="domainPattern.userLastName"
          class="input-xlarge" required>
          <p class="help-block">{{'P_Domains-DomainPatterns_LastNameHelp' | i18n}}</p>
        </div>
      </div>
      <div class="control-group"
           ng-class="{error: domainPatternForm.ldapUid.$invalid &&
           (domainPatternForm.ldapUid.$dirty || ls.domainPatternForm.attempted)}">
      <label class="control-label" for="ldapUid">{{'P_Domains-DomainPatterns_LdapUidLabel' | i18n}}</label>
        <div class="controls">
          <input id="ldapUid" name="ldapUid" type="text" data-ng-model="domainPattern.ldapUid"
          class="input-xlarge" required>
          <p class="help-block">{{'P_Domains-DomainPatterns_LdapUidHelp' | i18n}}</p>
        </div>
      </div>
    </div>
    <!-- Validation -->
    <div class="control-group">
      <div class="controls">
        <button type="button" id="reset" name="reset" class="btn btn-warning" data-ng-click="reset()">{{'P_Domains-DomainPatterns_Reset' | i18n}}</button>
        <button type="submit" id="submit" name="submit"
        class="btn btn-success">{{'P_Domains-DomainPatterns_Submit' | i18n}}</button>
      </div>
    </div>
  </fieldset>
</form>
