<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title" x-ng-if="state === 'create'">
      {{'P_Domains-Policies_CreationTitle' | i18n}}
    </h3>
    <h3 class="box-title" x-ng-if="state === 'edit'">
      {{domainPolicy.identifier}}
    </h3>
    <div class="pull-right box-tools">
      <div class="btn-group">
        <button class="btn btn-primary pull-right" type="button"
                x-ng-click="cancel()">
          <span>
            <i class="fa fa-list"></i> 
            {{'P_Domains-Policies_List' | i18n}}
          </span>
        </button>
      </div>
    </div>
  </div>
  <form class="form" name="domainPolicyForm" role="form" novalidate
        x-ls-form-submit="submit()"
        x-ls-form-attempt>
    <fieldset>
      <div class="box-body">
        <div x-ng-if="state === 'create'">
          <!-- Identifier -->
          <div class="form-group"
               x-ng-class="{'has-error': domainPolicyForm.identifier.$invalid &&
                (domainPolicyForm.identifier.$dirty || ls.domainPolicyForm.attempted)}">
            <label for="identifier">
              {{'P_Domains-Policies_IdentifierLabel' | i18n}}
            </label>
            <input id="identifier" name="identifier" class="form-control" type="text" required
                   x-ng-model="domainPolicy.identifier">
          </div>
        </div>
        <!-- Description -->
        <div class="form-group">
          <label for="description">
            {{'P_Domains-Policies_DescriptionLabel' | i18n}}
          </label>
          <textarea id="description" name="description" class="form-control"
                    x-ng-model="domainPolicy.description">
          </textarea>
        </div>
        <div class="form-group">
          <label>
            {{'P_Domains-Policies_RulesLabel' | i18n}}
          </label>
          <div class="form-inline form-group">
            <div class="form-group">
              <label class="sr-only" for="ruleType">
                {{'P_Domains-Policies_RulesTypeLabel' | i18n}}
              </label>
              <select name="ruleType" class="form-control"
                      x-ng-model="ruleToAdd.type"
                      x-ng-options="type as type for type in allRuleTypes | orderBy:'toString()'">
              </select>
            </div>
            <div class="form-group">
              <label class="sr-only" for="ruleDomain">
                {{'P_Domains-Policies_RulesDomainLabel' | i18n}}
              </label>
              <select name="ruleDomain" class="form-control"
                      x-ng-model="ruleToAdd.domain"
                      x-ng-options="domain.originalElement as domain.label for domain in allDomains | orderBy:'label'">
              </select>
            </div>
            <button type="button" class="btn btn-success"
                    x-ng-click="addRule(ruleToAdd)">
              <i class="fa fa-plus"></i>&nbsp;
              {{'P_Domains-Policies_RulesAdd' | i18n}}
            </button>
          </div>
          <table class="table table-striped"
                 x-ng-table="tableParams">
            <tbody>
              <tr x-ng-repeat="rule in $data">
                <td data-title="'P_Domains-Policies_RulesPositionLabel' | i18n">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary"
                            x-ng-click="swap($index, $index - 1)"
                            x-ng-disabled="$first">
                      <i class="fa fa-arrow-circle-up"></i>
                    </button>
                    <button type="button" class="btn btn-primary"
                            x-ng-click="swap($index, $index + 1)"
                            x-ng-disabled="$last">
                      <i class="fa fa-arrow-circle-down"></i>
                    </button>
                  </div>
                </td>
                <td data-title="'P_Domains-Policies_RulesDomainLabel' | i18n">
                  <span>
                    {{rule.domain.label}}
                  </span>
                </td>
                <td data-title="'P_Domains-Policies_RulesTypeLabel' | i18n">
                  <span>
                    {{rule.type}}
                  </span>
                </td>
                <td class="col-sm-2"
                    data-title="'P_Domains-Policies_RulesActionLabel' | i18n">
                  <button class="btn btn-danger" type="button"
                          x-ng-show="confirm === undefined"
                          x-ng-click="confirm = $index">
                    {{'P_Domains-Policies_RulesDelete' | i18n}}
                  </button>
                  <button class="btn" type="button"
                          x-ng-show="confirm === $index"
                          x-ng-click="confirm = undefined">
                    {{'G_App_ConfirmNo' | i18n}}
                  </button>
                  <button class="btn btn-danger" type="button"
                          x-ng-show="confirm === $index"
                          x-ng-click="deleteRule($index)">
                    {{'G_App_ConfirmYes' | i18n}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="box-footer">
        <!-- Validation -->
        <button id="delete" name="delete" type="button" class="btn btn-danger"
                x-ng-show="state==='edit'"
                x-ng-click="remove()">
          {{'P_Domains-Policies_Delete' | i18n}}
        </button>
        <button type="button" id="reset" name="reset" class="btn btn-warning"
                x-ng-click="reset()">
          {{'P_Domains-Policies_Reset' | i18n}}
        </button>
        <button type="submit" id="submit" name="submit" class="btn btn-success">
          {{'P_Domains-Policies_Submit' | i18n}}
        </button>
      </div>
    </fieldset>
  </form>
</div>
<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
    </h3>
  </div>
  <div class="box-body">
  </div>
</div>
