<div class="alert-box">
  <div x-ng-repeat="alert in alerts">
    <alert type="{{ alert.type }}"
           x-close="closeAlert($index)"
           x-index="$index"
           x-ng-if="alert.type==='success'"
           x-ls-alert-timeout>
      {{alert.msg | translate}}
    </alert>
    <alert type="{{ alert.type }}"
           x-close="closeAlert($index)"
           x-index="$index"
           x-ls-alert-timeout
           x-ng-if="alert.type==='danger' && alert.errorType === undefined">
       <a href="{{alert.url}}" target="_blank">
            {{alert.date | date:'H:mm:ss'}}<br>
            {{alert.msg | translate}}
          </a>
    </alert>
    <alert type="{{ alert.type }}"
           x-close="closeAlert($index)"
           x-index="$index"
           x-ls-alert-timeout
           x-ng-if="alert.type==='danger' && alert.errorType === 500">
           <a href="{{alert.url}}" target="_blank">
            {{alert.date | date:'H:mm:ss'}}<br>
            {{alert.msg | translate}}
          </a>
    </alert>
  </div>
</div>
