<div id="functionality_description" x-ng-if="extendedTemplate != '0'">
  <div class="row">
    <div class="col-md-12">
      <div ng-include src="template"
        x-ng-if="extendedTemplate == '3'">
      </div>
      <div x-ng-if="extendedTemplate == '1' || extendedTemplate == '2'">
        <p>
          {{ docType + '.DETAILS.' + functionalityDetail.identifier + '.DESCRIPTION' | translate }}
        </p>
        <p collapse="!isCollapse">
          {{ docType + '.DETAILS.'  + functionalityDetail.identifier + '.ADVANCED_DESCRIPTION' | translate }}
        </p>
        <i class="fa fa-fw btn-description pull-right" ng-click="collapse()" ng-class="{'fa-plus': !isCollapse, 'fa-minus': isCollapse}" x-ng-if="extendedTemplate == '2'"></i>
        </div>
    </div>
  </div>
</div>
