<div class="col-md-2">
  <span class="motto" x-ng-show="license">Libre &amp; free</span>
</div>
<div class="col-md-8 navbar-title">
  <h3>{{ 'COMMON.TITLE' | translate }}</h3>
</div>
<div class="col-md-2 navbar-button">
  <ul class="nav navbar-nav navbar-right">
    <li class="">
      <a x-ui-sref="dashboard" class="dropdown-toggle">
        <i class="fa fa-lg fa-home"></i>
      </a>
    </li>
    <li class="language-menu"
        dropdown
        is-open="isopen">
      <a href="#" class="dropdown-toggle">
        <i class="fa fa-lg fa-flag"></i>
      </a>
      <ul class="dropdown-menu">
        <li x-ng-class="{disabled: isCurrentLang('en')}">
          <a x-ng-click="setLanguage('en');isopen=false;">
            {{ 'COMMON.NAVBAR.LANGUAGE.ENGLISH' | translate }}
          </a>
        </li>
        <li x-ng-class="{disabled: isCurrentLang('fr')}">
          <a x-ng-click="setLanguage('fr');isopen=false;">
            {{ 'COMMON.NAVBAR.LANGUAGE.FRENCH' | translate }}
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle">
        <i class="fa fa-lg fa-user"></i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <p style="padding:3px 20px">{{userLogged.mail}}</p>
        </li>
        <li class="divider"></li>
        <li x-ng-if="isSuperAdmin">
          <a href="#/password">
            {{ 'COMMON.NAVBAR.CHANGE_PASSWORD' | translate }}
          </a>
        </li>
        <li>
          <a href="#logout" x-ng-click="logout()">
            {{ 'COMMON.NAVBAR.LOGOUT' | translate }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
