<!-- Override template -->
<script id="template/accordion/accordion-group.html" type="text/ng-template">
<div class="panel panel-default">
  <div class="panel-heading" ng-click="toggleOpen()">
    <h4 class="panel-title">
      <a class="accordion-toggle" accordion-transclude="heading">
        <span ng-class="{'text-muted': isDisabled}">
          {{heading}}
        </span>
      </a>
    </h4>
  </div>
  <div class="panel-collapse" collapse="!isOpen">
    <div class="panel-body" ng-transclude></div>
  </div>
</div>
</script>

<form class="sidebar-form" autocomplete="off">
  <div class="input-group">
    <input type="text" name="q" class="form-control"
           placeholder="{{ 'COMMON.SIDEBAR.PLACEHOLDER_SEARCH' | translate }}"
           x-ng-model="search">
    <span class="input-group-btn">
      <button type="button" name="search" id="search-btn" class="btn btn-flat" autocomplete="off">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>
<accordion class="sidebar-menu">
  <accordion-group class="treeview"
      x-is-open="tab.isopen"
      x-ng-repeat="tab in tabs | filter:search">
    <accordion-heading>
      <i id="{{tab.name.replace('COMMON.TAB.', 'MENU-')}}" class="fa"
         x-ng-class="tab.icon">
      </i>
      <span>
        &nbsp;{{tab.name | translate}}
      </span>
      <i class="fa pull-right"
        x-ng-class="{'fa-angle-down': tab.isopen, 'fa-angle-left': !tab.isopen}">
      </i>
    </accordion-heading>
    <ul class="treeview-menu">
      <li x-ng-repeat="link in tab.links | filter:search">
      <a id="{{link.name.replace('COMMON.TAB.', 'MENU-')}}" x-ng-class="{'active': link.sref==linkActive}" x-ng-click="changeState(link.sref)"  style="margin-left: 10px;">
          <i class="fa fa-angle-double-right"></i>
          {{link.name | translate}}
        </a>
      </li>
    </ul>
  </accordion-group> 
</accordion>
