<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{'P_Users-Threads_FormTitle' | i18n}}
    </h3>
    <div class="pull-right box-tools">
      <div class="btn-group">
        <button class="btn btn-primary pull-right" type="button"
                x-ng-click="cancel()">
          <span>
            <i class="fa fa-list"></i> 
            {{'P_Users-Threads_List' | i18n}}
          </span>
        </button>
      </div>
    </div>
  </div>
  <form class="form" name="threadForm" novalidate
      x-ls-form-submit="submit()"
      x-ls-form-attempt>
    <fieldset>
      <div class="box-body">
        <!-- Name -->
        <div class="form-group">
          <label for="name">
            {{'P_Users-Threads_FormName' | i18n}}
          </label>
          <input id="name" name="name" type="text" class="form-control" required
                 x-ng-model="thread.name">
        </div>
      </div>
      <div class="box-footer">
        <!-- Validation -->
        <div class="control-group">
          <div class="controls">
            <button id="delete" name="delete" type="button" class="btn btn-danger"
                    x-ng-click="remove()">
              {{'P_Users-Threads_FormDelete' | i18n}}
            </button>
            <button type="button" id="reset" name="reset" class="btn btn-warning"
                    x-ng-click="reset()">
              {{'P_Users-Threads_FormReset' | i18n}}
            </button>
            <button type="submit" id="submit" name="submit" class="btn btn-success">
              {{'P_Users-Threads_FormSubmit' | i18n}}
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<!-- USER LIST -->

<script type="text/ng-template" id="user_representation">
  <a>
    <span bind-html-unsafe="match.model.firstName | typeaheadHighlight:query"></span>&nbsp;
    <span bind-html-unsafe="match.model.lastName | typeaheadHighlight:query"></span>&nbsp;&lt;
    <span bind-html-unsafe="match.model.mail | typeaheadHighlight:query"></span>&gt;
  </a>
</script>

<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{'P_Users-Threads_MemberTitle' | i18n}}
    </h3>
  </div>
  <div class="box-body">
    <div class="form-group">
      <div class="input-append">
        <input type="text" class="form-control" placeholder="{{'P_Users-Threads_MemberAdd' | i18n}}"
               x-ng-model="userToAdd"
               x-typeahead-min-length="3"
               x-typeahead-wait-ms="30"
               x-typeahead-loading="searching"
               x-typeahead-on-select="addMember(userToAdd)"
               x-typeahead="u for u in autocompleteUsers($viewValue) | filter:$viewValue"
               x-typeahead-template-url="user_representation"/>
        <span class="add-on">
          <i class="icon icon-plus"></i>
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="table-responsive">
        <table class="table"
               x-ng-table="tableParams">
          <tr x-ng-repeat="threadMember in $data"
              x-ng-click="edit(threadMember)">
            <td data-title="'P_Users-Threads_MemberFirstName' | i18n"
                sortable="'firstName'">
              <span>
                {{threadMember.firstName}}
              </span>
            </td>
            <td data-title="'P_Users-Threads_MemberLastName' | i18n"
                sortable="'lastName'">
              <span>
                {{threadMember.lastName}}
              </span>
            </td>
            <td class="col-sm-1"
                data-title="'P_Users-Threads_MemberReadOnly' | i18n" 
                sortable="'readonly'">
              <input type="checkbox"
                     x-ng-model="threadMember.readonly"
                     x-ng-disabled="threadMember.admin"
                     x-ng-checked="!threadMember.admin && threadMember.readonly"
                     x-ng-change="updateMember(threadMember)">
            </td>
            <td class="col-sm-1"
                data-title="'P_Users-Threads_MemberAdmin' | i18n" 
                sortable="'admin'">
              <input type="checkbox"
                     x-ng-model="threadMember.admin"
                     x-ng-change="updateMember(threadMember)">
            </td>
            <td class="col-sm-2"
                data-title="'P_Users-Threads_MemberActions' | i18n">
              <button class="btn btn-danger"
                      x-ng-show="confirm === undefined"
                      x-ng-click="confirm = $index">
                {{'P_Users-Threads_MemberDelete' | i18n}}
              </button>
              <button class="btn"
                      x-ng-show="confirm === $index"
                      x-ng-click="confirm = undefined">
                {{'G_App_ConfirmNo' | i18n}}
              </button>
              <button class="btn btn-danger"
                      x-ng-show="confirm === $index"
                      x-ng-click="deleteMember(threadMember)">
                {{'G_App_ConfirmYes' | i18n}}
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
