<div class="well" data-ng-show="isObject(user)">
  <form class="form-horizontal" name="userEditForm">
    <fieldset>
      <!-- Legend -->
      <h4><legend>{{userRepresentation(user)}}</legend></h4>

      <!-- Creation date -->
      <div class="control-group">
        <label class="control-label" for="creationDate">{{'P_Users-Management_CreationDateLabel' | i18n}}</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input">{{user.creationDate | date:'medium'}}</span>
        </div>
      </div>

      <!-- Modification date -->
      <div class="control-group">
        <label class="control-label" for="modificationDate">{{'P_Users-Management_ModificationDateLabel' | i18n}}</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input">{{user.modificationDate | date:'medium'}}</span>
        </div>
      </div>

      <!-- Domain -->
      <div class="control-group">
        <label class="control-label" for="domain">{{'P_Users-Management_DomainLabel' | i18n}}</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input">{{user.domain}}</span>
        </div>
      </div>
      
      <!-- Owner -->
      <div class="control-group" data-ng-show="isStringEmpty(user.owner)">
        <label class="control-label" for="owner">{{'P_Users-Management_OwnerLabel' | i18n}}</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input">{{user.owner}}</span>
        </div>
      </div>

      <!-- User role -->
      <div class="control-group">
        <label class="control-label" for="role">{{'P_Domains-Management_UserRoleLabel' | i18n}}</label>
        <div class="controls">
          <select id="role" name="role" class="input-xlarge" data-ng-model="user.role" data-ng-options="r for r in userRoles" required>
          </select>
        </div>
      </div>

      <!-- Validation -->
      <div class="control-group">
        <div class="controls">
          <button id="reset" name="reset" class="btn btn-warning" data-ng-click="reset()">
            {{'P_Users-Management_Reset' | i18n}}
          </button>
          <button id="submit" name="submit" class="btn btn-success" data-ng-click="submit(userEditForm, user)">
            {{'P_Users-Management_Submit' | i18n}}
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
