<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{'P_Users-Management_BoxListTitle' | translate}}
    </h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-striped"
             x-ng-table="tableParams"
             show-filter="true">
        <tr x-ng-repeat="user in $data"
            x-ng-click="edit(user)">
          <td style="cursor: pointer"
              data-title="'P_Users-Management_FirstName' | translate"
              filter="{ 'firstName': 'text' }"
              sortable="'firstName'">
            <span>
              {{user.firstName}}
            </span>
          </td>
          <td style="cursor: pointer"
              data-title="'P_Users-Management_LastName' | translate"
              filter="{ 'lastName': 'text' }"
              sortable="'lastName'">
            <span>
              {{user.lastName}}
            </span>
          </td>
          <td style="cursor: pointer"
              data-title="'P_Users-Management_Mail' | translate"
              filter="{ 'mail': 'text' }"
              sortable="'mail'">
            <span>
              {{user.mail}}
            </span>
          </td>
          <td style="cursor: pointer"
              data-title="'P_Users-Management_Domain' | translate"
              sortable="'domain'">
            <span>
              {{user.domain}}
            </span>
          </td>
          <td style="cursor: pointer"
              data-title="'P_Users-Management_Role' | translate"
              sortable="'role'">
            <span>
              {{user.role}}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
