<div class="well" x-ng-show="showUserEditForm">
  <form class="form-horizontal" name="userEditForm" x-ls-form-submit="submit(user)" x-ls-form-attempt>
    <fieldset>
      <!-- Legend -->
      <h4><legend>{{userRepresentation(userToEdit)}}</legend></h4>

      <!-- Creation date -->
      <div class="control-group">
        <label class="control-label" for="creationDate">{{'P_Users-Management_CreationDate' | i18n}}</label>
        <div class="controls">
          <span name="creationDate" class="input-xlarge uneditable-input">{{user.creationDate | date:'medium'}}</span>
        </div>
      </div>

      <!-- Modification date -->
      <div class="control-group">
        <label class="control-label" for="modificationDate">{{'P_Users-Management_ModificationDate' | i18n}}</label>
        <div class="controls">
          <span name="modificationDate" class="input-xlarge uneditable-input">{{user.modificationDate | date:'medium'}}</span>
        </div>
      </div>

      <!-- GUEST -->
      <div x-ng-show="user.guest">
        <!-- First name -->
        <div class="control-group"
           ng-class="{error: userEditForm.firstName.$invalid && (userEditForm.firstName.$dirty || ls.userEditForm.attempted)}">
          <label class="control-label" for="firstName">{{'P_Users-Management_FirstName' | i18n}}</label>
          <div class="controls">
            <input id="firstName" name="firstName" type="text" x-ng-model="user.firstName"
            class="input-xlarge" required>
          </div>
        </div>

        <!-- Last name -->
        <div class="control-group"
           ng-class="{error: userEditForm.lastName.$invalid && (userEditForm.lastName.$dirty || ls.userEditForm.attempted)}">
          <label class="control-label" for="lastName">{{'P_Users-Management_LastName' | i18n}}</label>
          <div class="controls">
            <input id="lastName" name="lastName" type="text" x-ng-model="user.lastName"
            class="input-xlarge" required>
          </div>
        </div>

        <!-- Owner  -->
        <div class="control-group">
          <label class="control-label" for="owner">{{'P_Users-Management_Owner' | i18n}}</label>
          <div class="controls">
            <span name="owner" class="input-xlarge uneditable-input">{{user.owner.mail}}</span>
          </div>
        </div>
        
        <!-- Expiration date -->
        <div class="control-group">
          <label class="control-label" for="expirationDate">{{'P_Users-Management_ExpirationDate' | i18n}}</label>
          <div class="controls form-horizontal">

            <input type="text" name="expirationDate" datepicker-popup="dd-MMMM-yyyy" ng-model="user.expirationDate" open="opened" min="today" show-weeks="false"/>
            <button type="button" class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
          </div>
        </div>

        <!-- Comment -->
        <div class="control-group">
          <label class="control-label" for="comment">{{'P_Users-Management_Comment' | i18n}}</label>
          <div class="controls">
            <textarea id="comment" name="comment" class="input-xlarge" x-ng-model="user.comment"></textarea>
          </div>
        </div>

        <!-- Domain -->
        <div class="control-group">
          <label class="control-label" for="domain">{{'P_Users-Management_Domain' | i18n}}</label>
          <div class="controls">
            <span name="domain" class="input-xlarge uneditable-input">{{user.domain}}</span>
          </div>
        </div>
      </div>

      <!-- INTERNAL -->
      <div x-ng-show="!user.guest">
        <!-- First name -->
	<div class="control-group">
          <label class="control-label" for="firstName">{{'P_Users-Management_FirstName' | i18n}}</label>
          <div class="controls">
            <span name="firstName" class="input-xlarge uneditable-input">{{user.firstName}}</span>
          </div>
        </div>

        <!-- Last name -->
	<div class="control-group">
          <label class="control-label" for="lastName">{{'P_Users-Management_LastName' | i18n}}</label>
          <div class="controls">
            <span name="lastName" class="input-xlarge uneditable-input">{{user.lastName}}</span>
          </div>
        </div>
        <!-- Domain -->
        <div class="control-group">
          <label class="control-label" for="domain">{{'P_Users-Management_Domain' | i18n}}</label>
          <div class="controls">
            <span name="domain" class="input-xlarge uneditable-input">{{user.domain}}</span>
          </div>
        </div>
      </div>

      <!-- User role -->
      <div class="control-group"
         ng-class="{error: userEditForm.role.$invalid && (userEditForm.role.$dirty || ls.userEditForm.attempted)}">
        <label class="control-label" for="role">{{'P_Users-Management_Role' | i18n}}</label>
        <div class="controls">
          <select id="role" name="role" class="input-xlarge" x-ng-model="user.role" x-ng-options="r for r in userRoles" required>
          </select>
        </div>
      </div>

      <!-- Validation -->
      <div class="control-group">
        <div class="controls">
          <button type="button" id="cancel" name="cancel" class="btn btn-danger" x-ng-click="cancel()">
            {{'P_Users-Management_Cancel' | i18n}}
          </button>
          <button type="button" id="reset" name="reset" class="btn btn-warning" x-ng-click="reset()">
            {{'P_Users-Management_Reset' | i18n}}
          </button>
          <button type="submit" id="submit" name="submit" class="btn btn-success">
            {{'P_Users-Management_Submit' | i18n}}
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
