.tree li.branch {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li.branch::before, .tree li.branch::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li.branch::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li.branch::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree>ul>li.branch::before, .tree>ul>li.branch::after {
    border:0
}
.tree li.branch:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li.branch span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
