/* Don't mind me... */
#content {
    margin: 20px;
}

/* Relevant to the plugin. */
.listTree {
    margin-bottom: 18px;
}

.listTree ul {
    margin: 0;
}

.listTree li {
    list-style-type: none;
}

.listTree > ul > li {
    background-color: #eee;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #ddd;
}

.listTree > ul > li:first-child {
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.listTree > ul > li:last-child {
    border-width: 1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.listTree > ul > li:last-child > ul > li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.listTree span {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

.listTree > ul > li > span {
    font-weight: bold;
}

.listTree > ul > li > ul > li {
    background-color: #fff;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ddd;
    padding-left: 10px;
}

.listTree > ul > li > ul > li:first-child {
    border-width: 1px 0 0 0;
}

.listTree > ul > li > ul > li:last-child {
    border-width: 1px 0 0 0;
}

.listTree i {
    float: right;
    margin-right: 15px;
}

.slide-hide, .slide-show {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}
.slide-hide {
    position: relative;
    top: 0;
}
.slide-hide.slide-hide-active {
    position: absolute;
    top: -100px;
}
.slide-show {
    position: absolute;
    top: 100px;
}
.slide-show.slide-show-active {
    position: relative;
    top: 0px;
}
