<div class="legend-schemes">
  <div class="legend-ctn" data-ng-class="legend.colors.main" data-ng-repeat="legend in legends" data-ng-if="!legend.disabled">
    <div class="ref-legend" data-ng-class="legend.colors.legend"></div>
    <p data-ng-if="!legend.tooltip" translate translate-values="legend.param">{{legend.value}}</p>
    <p data-ng-if="legend.tooltip"
       tooltip-placement="bottom"
       tooltip-popup-delay='500'
       tooltip-append-to-body="true"
       tooltip="{{legend.tooltip}}">
      <span translate translate-values="legend.param">{{legend.value}}</span>
    </p>
  </div>
</div>
