/* LEGEND */
.legend-schemes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .legend-ctn {
    flex: 0 0 auto;
    display: flex;
    margin-right: 17px;
    &.hint {
      cursor: pointer;
    }
    > div {
      width: 15px;
      height: 15px;
      border: solid 1px #bebebe;
      margin-right: 5px;
    }
    > p {
      margin: 0;
      color: #797979;
      font-size: 0.85em;
    }
  }
}