<div class="box box-primary">
  <div class="box-body">
    <form role="form"
          x-ls-form-submit="reloadList()">
      <div class="row">
        <div class="col-md-6">
          <div class="well">
            <legend>
              {{ 'UPLOAD_REQUEST.BOX_FORM.STATUS.LEGEND' | translate }}
            </legend>
            <div x-ng-repeat="s in allStatus">
              <div class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox"
                         x-ng-checked="criteria.status.indexOf(s) > -1"
                         x-ng-click="toggleSelection(s)"
                         value="{{s}}">
                </span>
                <span class="form-control">{{ 'COMMON.ENUM.UPLOAD_REQUEST_STATUS.' + s | translate }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <legend>
              {{ 'UPLOAD_REQUEST.BOX_FORM.DATE.LEGEND' | translate }}
            </legend>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{{ 'UPLOAD_REQUEST.BOX_FORM.DATE.PLACEHOLDER_FROM' | translate }}"
                         datepicker-popup="medium"
                         show-button-bar="false"
                         is-open="opened.from"
                         max-date="criteria.beforeDate"
                         ng-model="criteria.afterDate">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            x-ng-click="open('from', $event)">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{{ 'UPLOAD_REQUEST.BOX_FORM.DATE.PLACEHOLDER_TO' | translate }}"
                         datepicker-popup="medium"
                         show-button-bar="false"
                         is-open="opened.to"
                         min-date="criteria.afterDate"
                         ng-model="criteria.beforeDate">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            x-ng-click="open('to', $event)">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" id="submit" name="submit" class="btn btn-success">
        {{ 'UPLOAD_REQUEST.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
      </button>
    </form>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped"
               x-ng-table="tableParams">
          <tbody>
          <tr x-ng-repeat="result in $data"
              x-ng-click="setCurrentUuid(result.uuid)"
              x-ng-class="{'ls-table-info': result.uuid === currentUuid}" class="not-linked">
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE.HEADER_SUBJECT' | translate"
                sortable="'subject'">
              {{ result.subject }}
            </td>
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE.HEADER_OWNER' | translate"
                sortable="'owner.mail'">
                {{result.owner.mail}}
            </td>
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE.HEADER_STATUS' | translate"
                sortable="'status'">
              {{ 'COMMON.ENUM.UPLOAD_REQUEST_STATUS.' + result.status | translate }}
            </td>
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE.HEADER_CREATION_DATE' | translate"
                sortable="'creationDate'">
              {{ result.creationDate | date:'medium' }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class="row"
         x-ng-show="currentUuid">
      <div class="col-md-12">
        <h3>{{'UPLOAD_REQUEST.BOX_FORM.TABLE_HISTORY.TITLE' | translate}}</h3>
        <table class="table table-striped table-hover"
               x-ng-table="tableParamsHistory" class="not-linked">
               <tr x-ng-repeat="result in $data">
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE_HISTORY.HEADER_MODIFICATION_DATE' | translate"
                sortable="'modificationDate'">
              {{ result.modificationDate | date:'medium' }}
            </td>
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE_HISTORY.HEADER_STATUS' | translate"
                sortable="'status'">
              {{ 'COMMON.ENUM.UPLOAD_REQUEST_STATUS.' + result.status | translate }}
            </td>
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE_HISTORY.HEADER_MAX_DEPOSIT_SIZE' | translate"
                sortable="'maxDepositSize'">
              {{ humanFileSize(result.maxDepositSize) }}
            </td>
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE_HISTORY.HEADER_MAX_FILE_COUNT' | translate"
                sortable="'maxFileCount'">
              {{ result.maxFileCount }}
            </td>
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE_HISTORY.HEADER_MAX_FILE_SIZE' | translate"
                sortable="'maxFileSize'">
              {{ humanFileSize(result.maxFileSize) }}
            </td>
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE_HISTORY.HEADER_CAN_DELETE' | translate"
                sortable="'canDelete'">
              {{ result.canDelete }}
            </td>
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE_HISTORY.HEADER_CAN_CLOSE' | translate"
                sortable="'canClose'">
              {{ result.canClose }}
            </td>
            <td data-title="'UPLOAD_REQUEST.BOX_FORM.TABLE_HISTORY.HEADER_SECURED' | translate"
                sortable="'secured'">
              {{ result.secured }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
