.btn-dropdown{
  padding: 0;
  margin-left: 0;
  background-color: #fff;
  color: #a69ba8;
  border: 1px solid #cccccc;
  border-radius: 0;
  height: 18px;
  width: 37px;
  font-size: 1em;
  line-height: 13px;
  cursor: pointer;
  pointer-events: auto;
}
.ls-dropdown {
  z-index: 2;
  margin-top: 2px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-clip: padding-box;
  list-style: none;
  padding: 0;
  opacity:0;
  font-size: 0.85em;
  min-width: auto;
  pointer-events: none;
  cursor: pointer;
  transition-delay: 200ms;
  transition: opacity 50ms ease-out;
  &.ls-dropdown-open {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 500ms ease-out;
  }
  li > a:hover {
    background-color: #0372b3;
    color: #f9f9f9;
  }
  a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: #333333;
    white-space: nowrap;
  }
}

