/* RULER */
.ruler-ctn {
  position: absolute;
  bottom: 0;
  width: 100%;
  .ruler-items {
    position: relative;
    width: 100%;
  }
  .ruler-elem {
    position: absolute;
    top: -3px;
  }
  .ruler-elem-height {
    width: 1px;
    height: 7px;
    background-color: #ccc;
  }
  .ruler-text {
    font-size: 0.6em;
    text-align: center;
    color: #9b9b9b;
    display: block;
    position: absolute;
    top: -12px;
    transform: translateX(-50%);
  }
  @for $i from 0 through 9 {
    .ruler-#{$i} {
      left: $i * 10%;
    }
  }
}
// MAX
.ruler-max {
  left: 100%;
  .ruler-elem-height {
    position: absolute;
    top: -3px;
    width: 2px;
    height: 12px;
  }
  .ruler-text {
    white-space: nowrap;
    font-size: 0.7em;
    top: -18px;
  }
}