$graphBlue: #678ec3;
.graph-color-blue-stripes-main {
  background: url('/images/domain-stripes.png') repeat white;
}
.graph-color-blue-stripes-legend {
  background: url('/images/domain-stripes-small.png') repeat white;
}
.graph-color-blue-label {
  color: $graphBlue !important;
}
.graph-color-blue-border {
  border-color: $graphBlue !important;
}
.graph-color-blue-main, .graph-color-blue-legend {
  background-color: $graphBlue !important;
  color: #fff;
}

$graphGreen: #4e925a;
.graph-color-green-stripes-main {
  background: url('/images/stripes.png') repeat white;
}
.graph-color-green-stripes-legend {
  background: url('/images/stripes-ss-small.png') repeat white;
}
.graph-color-green-label {
  color: $graphGreen !important;
}
.graph-color-green-border {
  border-color: $graphGreen !important;
}
.graph-color-green-main, .graph-color-green-legend {
  background-color: $graphGreen !important;
  color: #fff;
}

$graphGrey: #e0e0e0;
.graph-color-grey-main, .graph-color-grey-legend {
  background-color: $graphGrey !important;
}
.graph-color-grey-label {
  color: $graphGrey !important;
}
.graph-color-grey-border {
  border-color: $graphGrey !important;
}

$graphOrange: #e26b00;
.graph-color-orange-main, .graph-color-orange-legend {
  background-color: $graphOrange !important;
}
.graph-color-orange-label {
  color: $graphOrange !important;
}
.graph-color-orange-border {
  border-color: $graphOrange !important;
}
.graph-color-orange-main, .graph-color-orange-legend {
  background-color: $graphOrange !important;
  color: #fff;
}

$graphPurple: #584e92;
.graph-color-purple-stripes-main {
  background: url('/images/stripes-ps.png') repeat white;
}
.graph-color-purple-stripes-legend {
  background: url('/images/stripes-ps-small.png') repeat white;
}
.graph-color-purple-label {
  color: $graphPurple !important;
}
.graph-color-purple-border {
  border-color: $graphPurple !important;
}
.graph-color-purple-main, .graph-color-purple-legend {
  background-color: $graphPurple !important;
  color: #fff;
}

[class*="graph-color-"] {
  p {
    color: inherit !important;
  }
}