<div>
	<p><strong>Configuration de l'ordre des domaines</strong></p>
	<p>Lorsqu'un utilisateur est présent dans plusieurs domaines avec la même adresse de courriel, il est alors nécessaire d'activer la liste des domaines présent dans {{ 'COMMON.NAME' | translate }}.<br/>
Cela permet à l'utilisateur de choisir de quel domaine il dépendra lors de cette session. Par défaut cette liste n'est pas affichée.<br/><br/>
Cette vue vous permet de configurer l'ordre d'affichage des domaines de cette liste.</p>
</div>