<div>
	<p><strong>Règles de communication inter-domaines</strong></p>
	<p>Les règles de communication inter-domaine permettent de gérer la communication <i>(lister/partager)</i> entre les
		 utilisateurs de différents domaines ou au sein d'un même domaine.<br/>
		Lorsque vous créez un domaine via la vue <a x-ui-sref="domain.detail({domainId: domain})">'Configuration des domaines'</a> et que vous choisissez l'option <strong>'Création automatique'</strong> pour
		 <strong>'Règles de communication inter-domaines'</strong>, une règle sera créée automatiquement en autorisant
		  le domaine nouvellement créé à communiquer avec lui même uniquement. Toutes les autres communications sont
		   interdites par défaut.<br/>
Pour qu'une règle soit prise en compte il faut l'affecter à un domaine.</p>
</div>
