<p><strong>Diagnostic des utilisateurs</strong></p>
<p>Cette vue vous permet, pour une adresse de courriel fournie, de générer un rapport sur la présence d'un utilisateur
  dans les annuaires associés aux domaines et sa présence en base de données. Cette vue vous permettra donc de tester
  si un utilisateur est dans le bon domaine, s'il appartient à deux domaines en même temps, etc.
</p>
<p>
  Cette vue vous offre également la possibilité de tester votre modèle de domaine en temps réél, et de tester la
  consistence d'un utilisateur (sa fiche sera mise à jour à chaque changement d'état consistent/inconsistent)
</p>
<p>On peut visualiser les informations détaillées sur un des comptes de l'utilisateur en cliquant sur le domaine
  correspondant dans les résultats obtenus.
  Ces informations sont éditables et vous pouvez changer le domaine du compte vers un autre.
</p>
<p>Un utilisateur est inconsistent s'il ne figure pas dans l'annuaire.</p>
