<p><strong>Liste des utilisateurs incohérents</strong></p>
<p>
Les utilisateurs incohérents sont des utilisateurs ne se trouvant plus dans un domaine <i>(i.e utilisateur qui n'appartient
 plus au domaine, exemple utilisateur ayant quitté la société ou changé de profil)</i>.<br/>
Cette vue permet de réaffecter un utilisateur à un domaine pour permettre la connexion à l'application ou la destruction du compte.
</p>
<p>Si vous cliquez sur la ligne d'un utilisateur, vous serez rédirigé vers sa fiche détaillée où vous pourrez soit
  supprimer l'utilisateur, soit le migrer de domaine. Si vous sélectionnez un ou plusieurs utilisateurs à
  l'aide des checkbox alors vous aurez la possibilité de faire des actions groupées de changement de domaine ou de
  suppression.
</p>
