<div>
	<p><strong>Pied de courriel</strong></p>
	<p>Cette vue vous permet de créer des templates pour les pieds de courriel. Il vous faudra créer un modèle HTML & Text.
	Dans la vue <a x-ui-sref="mailconfig.list({domainId: domain})">'Configuration de courriel'</a> vous pouvez crées des modèles de structure de courriel et associer une structure de courriel avec un pied de courriel <i>(Attention: La structure de courriel doit posséder la variable ${footer} afin de pouvoir y insérer le pied de courriel)</i>.</p>
</div>