<strong>Utilité</strong></br>
<p>Dans le cadre des migrations de versions, que ce soit une version mineure tel que 2.1.x vers 2.2.x ou une version
majeure tel que 1.x vers 2.0, il sera peut être nécessaire de réaliser des traitements complémentaires sur les données
afin de terminer la mise à jour du logiciel.
Rappel: Le processus de mise à jour commence toujours par une migration SQL (à l'exception des versions de maintenance,
exemple 2.3.6).
</p>
</br>

<strong>Déroulement</strong></br>
<p>Ces tâches doivent être éxécutées dans l'ordre et se terminer avec succès.</br>
NB: Une tâche peut se terminer en succès mais des erreurs peuvent se produire pendant son déroulement.
Il est donc nécessaire de bien vérifier les rapports d'éxécution présent dans la console.
En cas d'erreur, il sera nécessaire de consulter les rapports du serveur Tomcat pour plus de détail,
de résoudre le problème et de relancer la tâche avant de continuer.
</p>
</br>

<strong>Criticité</strong></br>
<p>Toutes les tâches doivent être éxécutées pour compléter la mise à jour.</br>
Tant que les tâches en status 'Obligatoire' ne sont pas complétées, il sera
impossible pour les utilisateurs d'utiliser le système.

Tant que les tâches en status 'Requis' ne sont pas complétées, le système fonctionnera en mode dégradé.
Certaines fonctionnalités ou données ne seront pas accessibles.
Ces tâches pourront être exécutées en parallèle de l'activité des utilisateurs.
</p>
