<p><strong>Liste des utilisateurs</strong></p>
<p>
Cette vue vous permet d'effectuer une recherche parmi les utilisateurs des différents domaines. Vous pourrez ensuite
éditer les rôle, prénom, nom et langues par défaut et les droits de dépôt de l'utilisateur sélectionné.</br></br>
<strong>Fonctionnement :</strong>
</p>
<div>
<ul>

<li>Vous devez saisir dans un des champs de filtre les données de l'utilisateur souhaité.</li>

<li>Cliquez sur l'utilisateur pour acceder à sa fiche personnelle.</li>

</ul>
</div>