<p><strong>Personnalisez un message d'accueil pour les utilisateurs connectés à l'application 'LinShare'.</strong></br></br>
Vous pouvez créer plusieurs messages d'accueil par domaines et les associer aux différents sous-domaines.</br>
Pour créer un message d'accueil il vous suffit de dupliquer un message d'accueil existant, pour ce faire :</p>
<ul>
	<li>Dans l'arbre des domaines de gauche vous trouverez la liste des domaines : parents <i>(en lecture seul)</i> et
		la liste de vos domaines et sous-domaines <i>(en écriture)</i>.<br/>Vous pouvez dupliquer le message d'accueil
		<strong>grâce au bouton 'dupliquer'</strong> dans la liste des messages d'accueil ou en pré-visualisant le message
		 d'accueil. Une fenêtre s'ouvrira suite à la demande de duplicât, vous devrez y saisir un nom et le domaine ou vous
		  souhaitez copier le message d'accueil.</li>
	<li>Grâce au bouton <strong>'ajouter'</strong>, une fenêtre s'ouvrira pour vous proposer de choisir un domaine afin
	 d'y sélectionner un modèle de message d'accueil, vous devrez choisir un nouveau nom et une copie s'effectuera dans
	  le domaine courant.</li>
</ul>
<p>Suite à cette création vous pourrez modifier le message d'accueil et affecter celui aux domaines de votre choix qui
 pourront en bénéficier, c'est-à-dire, lors de la <a x-ui-sref="domain.detail({domainId: domain})">configuration des
  domaines</a> vous pourrez y choisir un message d'accueil, la liste proposée seront les messages d'accueil affectés pour le domaine. Par défaut si aucun message d'accueil ne lui est afféctée, la liste ne proposera que le message d'accueil par défaut.</p>
