<div class="box box-primary">
  <div class="box-body">
    <form role="form"
          x-ls-form-submit="reloadList()">
      <div class="row">
        <div class="col-md-6">
          <div class="well">
            <legend>
              {{ 'AUDIT.BOX_FORM.ACTOR.LEGEND' | translate }}
            </legend>
            <div class="form-group">
              <label for="actorMail">
                {{ 'AUDIT.BOX_FORM.ACTOR.LABEL_EMAIL' | translate }}
              </label>
              <input id="actorMail" name="actorMail" class="form-control" type="text"
                     x-ng-model="actorMails">
            </div>
            <div class="form-group">
              <label for="actorFirstName">
                {{ 'AUDIT.BOX_FORM.ACTOR.LABEL_FIRST_NAME' | translate }}
              </label>
              <input id="actorFirstName" name="actorFirstName" class="form-control" type="text"
                     x-ng-model="criteria.actorFirstName">
            </div>
            <div class="form-group">
              <label for="actorLastName">
                {{ 'AUDIT.BOX_FORM.ACTOR.LABEL_LAST_NAME' | translate }}
              </label>
              <input id="actorLastName" name="actorLastName" class="form-control" type="text"
                     x-ng-model="criteria.actorLastName">
            </div>
            <div class="form-group">
              <label for="actorDomain">
                {{ 'AUDIT.BOX_FORM.ACTOR.LABEL_DOMAIN' | translate }}
              </label>
              <select id="actorDomain" class="form-control"
                      x-ng-model="criteria.actorDomain"
                      x-ng-options="domain.identifier as domain.label for domain in allDomains | orderBy:'label'">
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <legend>
              {{ 'AUDIT.BOX_FORM.TARGET.LEGEND' | translate }}
            </legend>
            <div class="form-group">
              <label for="targetMail">
                {{ 'AUDIT.BOX_FORM.TARGET.LABEL_EMAIL' | translate }}
              </label>
              <input id="targetMail" name="targetMail" class="form-control" type="text"
                     x-ng-model="targetMails">
            </div>
            <div class="form-group">
              <label for="targetFirstName">
                {{ 'AUDIT.BOX_FORM.TARGET.LABEL_FIRST_NAME' | translate }}
              </label>
              <input id="targetFirstName" name="targetFirstName" class="form-control" type="text"
                     x-ng-model="criteria.targetFirstName">
            </div>
            <div class="form-group">
              <label for="targetLastName">
                {{ 'AUDIT.BOX_FORM.TARGET.LABEL_LAST_NAME' | translate }}
              </label>
              <input id="targetLastName" name="targetLastName" class="form-control" type="text"
                     x-ng-model="criteria.targetLastName">
            </div>
            <div class="form-group">
              <label for="targetDomain">
                {{ 'AUDIT.BOX_FORM.TARGET.LABEL_DOMAIN' | translate }}
              </label>
              <select id="targetDomain" class="form-control"
                      x-ng-model="criteria.targetDomain"
                      x-ng-options="domain.identifier as domain.label for domain in allDomains | orderBy:'label'">
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="well">
            <legend>
              {{ 'AUDIT.BOX_FORM.FILE.LEGEND' | translate }}
            </legend>
            <div class="form-group">
              <label for="fileName">
                {{ 'AUDIT.BOX_FORM.FILE.LABEL_NAME' | translate }}
              </label>
              <input id="fileName" name="fileName" class="form-control" type="text"
                     x-ng-model="criteria.fileName">
            </div>
            <div class="form-group">
              <label for="fileExtension">
                {{ 'AUDIT.BOX_FORM.FILE.LABEL_EXTENSION' | translate }}
              </label>
              <input id="fileExtension" name="fileExtension" class="form-control" type="text"
                     x-ng-model="criteria.fileExtension">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <legend>
              {{ 'AUDIT.BOX_FORM.DATE.LEGEND' | translate }}
            </legend>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{{ 'AUDIT.BOX_FORM.DATE.PLACEHOLDER_FROM' | translate }}"
                         datepicker-popup="medium"
                         is-open="opened.from"
                         ng-model="criterion.dateFrom">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            x-ng-click="open('from', $event)">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{{ 'AUDIT.BOX_FORM.DATE.PLACEHOLDER_TO' | translate }}"
                         datepicker-popup="medium"
                         is-open="opened.to"
                         ng-model="criterion.dateTo">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            x-ng-click="open('to', $event)">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label></label> <!-- Bootstrap Hack -->
              <select id="availableActions" multiple class="form-control"
                      x-ng-model="criteria.logActions"
                      x-ng-options="action as action for action in allActions | orderBy:'toString()'">
              </select>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" id="submit" name="submit" class="btn btn-success">
        {{ 'AUDIT.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
      </button>
    </form>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped"
               x-ng-table="tableParams">
          <tr x-ng-repeat="result in $data">
            <td data-title="'AUDIT.BOX_FORM.TABLE.HEADER_DATE' | translate"
                sortable="'actionDate'">
              {{ result.actionDate | date:'medium' }}
            </td>
            <td data-title="'AUDIT.BOX_FORM.TABLE.HEADER_ACTION' | translate"
                sortable="'action'">
              {{result.logAction}}
            </td>
            <td data-title="'AUDIT.BOX_FORM.TABLE.HEADER_ACTOR_EMAIL' | translate"
                sortable="'actorMail'">
              {{result.actorMail}}
            </td>
            <td data-title="'AUDIT.BOX_FORM.TABLE.HEADER_TARGET_EMAIL' | translate"
                sortable="'targetMail'">
              {{result.targetMail}}
            </td>
            <td data-title="'AUDIT.BOX_FORM.TABLE.HEADER_FILE_NAME' | translate"
                sortable="'fileName'">
              {{result.fileName}}
            </td>
            <td data-title="'AUDIT.BOX_FORM.TABLE.HEADER_EXPIRY_DATE' | translate"
                sortable="'expirationDate'">
              {{result.expirationDate}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
