<div id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-header">
     <h3 id="confirmModalLabel">{{'COMMON.BASIC_CONFIRMATION_FORM.TITLE' | translate}}</h3>

  </div>
  <div class="modal-body">
    <div x-ng-bind-html="content"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" x-ng-click="cancel()">
      {{'COMMON.BASIC_CONFIRMATION_FORM.BUTTON_NO' | translate}}
    </button>
    <button type="submit" class="btn btn-danger" x-ng-click="validate()">
      {{'COMMON.BASIC_CONFIRMATION_FORM.BUTTON_YES' | translate}}
    </button>
  </div>
</div>
