<div class="well">
  <div>
    <ul class="nav nav-list">
      <li>
        <label class="nav-header" data-ng-click="configDomain(rootDomain)">{{rootDomain.label}}</label>
        <ul class="nav nav-list">
          <div data-ng-switch on="topDomain.children" data-ng-repeat="topDomain in rootDomain.children">
            <div data-ng-switch-when="[]">
              <li>
                <a data-ng-click="configDomain(topDomain)">{{topDomain.identifier}}</a>
              </li>
            </div>
            <div data-ng-switch-default>
              <li>
                <label class="nav-header" data-ng-click="configDomain(topDomain)">{{topDomain.label}}</label>
                <ul class="nav nav-list">
                  <li data-ng-repeat="subDomain in topDomain.children">
                    <a data-ng-click="configDomain(subDomain)">{{subDomain.label}}</a>
                  </li>
                </ul>
              </li>
            </div>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div data-ng-transclude></div>
