<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown" data-ng-repeat="tab in tabs"> 
            <a class="dropdown-toggle">
              {{tab.name}}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li data-ng-repeat="link in tab.links">
                <a href="{{link.href}}">{{link.name}}</a>
              </li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown"> 
            <a class="dropdown-toggle">
              {{'G_App_Language' | i18n}}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a data-ng-click="setLanguage('en-US')">
                  {{'G_App_LangEn' | i18n}}
                </a>
              </li>
              <li>
                <a data-ng-click="setLanguage('fr-FR')">
                  {{'G_App_LangFr' | i18n}}
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown"> 
            <a class="dropdown-toggle brand">
              {{'G_App_AppName' | i18n}}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a data-ng-click="logout()">
                  {{'G_App_Logout' | i18n}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
