<div>
	<p><strong>Analyse des documents par antivirus</strong></p>
	<p>
	Les antivirus sont des logiciels conçus pour identifier, neutraliser et éliminer des logiciels malveillants. Ils peuvent modifier ou supprimer des fichiers infectés.</br>
	En activant l'antivirus sur votre application {{ 'COMMON.NAME' | translate }} celui-ci analysera automatiquement les fichiers au moment où ils sont déposés.
	Son analyse contribue à la protection de tous les utilisateurs de {{ 'COMMON.NAME' | translate }} et évitent que les virus ne se propagent.
	Si un document s'avère être malveillant il sera alors rejeté et son expéditeur sera prévenu.
	</p>
</div>