<div>
	<p><strong>Chiffrement de fichiers</strong></p>
	<p>
    {{ 'COMMON.NAME' | translate }} dispose d'une fonctionnalité de chiffrement symétrique AES 256 bits de fichiers.
    </br>
    Cette fonctionnalité permet à un utilisateur de protéger un fichier par un mot de passe.
	</p>
</div>
<div collapse="!functionality.collapse.showDsec">
	<p>
    Les opérations de chiffrement et de déchiffrement sont réalisées sur le serveur, sans pré-requis de la part du poste client.
    Une applet et des clients lourds sont disponibles pour réaliser ces traitements sur le poste du client.
	</p>
  </br>
	<p>
    Lorsqu'un utilisateur chiffre un document depuis l'interface WEB et
    partage ce fichier vers un destinataire sans compte, celui-ci reçoit un
    mail de notification avec un lien vers le fichier chiffré et un lien
    vers une applet de déchiffrement. Le fichier est chiffré selon le format
    AESCrypt (<a target="_blank" href="https://www.aescrypt.com/">AESCrypt.com</a>).
	</p>
	<p>
  NB: La construction des liens dans les notifications par courriel utilise URL racine de chaque domaine.
  Voir la fonctionnalité <a href="/#/functionality/LinShareRootDomain/detail/DOMAIN">suivante</a> pour la configuration
	</p>
	<p>
    Pour que cette applet fonctionne, il est nécessaire que le Java Runtime Environment (JRE) soit
    déployé sur le poste client ainsi que le kit Java Cryptography Extension
    (JCE) Unlimited Strength. En effet la distribution par défaut du Java Runtime Environment (JRE) est
    soumise aux lois américaines qui limitent le chiffrement à 128 bits.
    Ce kit JCE contient deux archives (jar) qui écrasent ceux présents dans le Java Runtime Environment (JRE) par défaut.
	</p>
	<p>
    Il est également possible de déployer des clients lourds, disponible
    sous Windows, Linux et Mac, qui permettent de chiffrer en amont de
    {{ 'COMMON.NAME' | translate }} et déchiffrer en aval.
	</p>
  </br>
</div>
<i class="fa fa-fw btn-description pull-right" ng-click="functionality.collapse.showDsec = !functionality.collapse.showDsec" ng-class="{'fa-plus': !functionality.collapse.showDsec, 'fa-minus': functionality.collapse.showDsec}"></i>
