<div>
	<p><strong>L’expiration des fichiers dans le cas d’un fichier déposé ou d’un fichier dont le partage est expiré.</strong></p>
	<p>
		En activant cette fonctionnalité les fichiers expirés seront supprimés de l’espace de l’utilisateur, vous pouvez
		 configurer le délai d'expiration.<br/>
		 La date d'expiration d'un fichier est calculé lors du dépôt du fichier et lors la suppression du
		  dernier partage qui lui est associé.
		La date d'expiration du fichier est réinitialisée lors de la création d'un partage.
	</p>
</div>