<div>
   <p><strong>L’expiration de partage</strong></p>
   <p>
      Les partages sont des liens entre un document présent dans l'espace personnel de l'utilisateur et un destinataire (adresse de courriel).
      Il est possible de limiter la durée de vie de ces liens via cette fonctionnalité.
       Une fois le partage expiré, le lien sera détruit. Tous accès à la ressource sera alors impossible.
      L'administrateur peut configurer le délais d'expiration des partages ainsi que le droit des utilisateurs à modifier cette valeur.
       Ce délais permet de calculer la date d'expiration par défaut ainsi que la date d'expiration maximale.
       </br>

      La fonctionnalité <strong>'{{ 'FUNCTIONALITIES.DETAILS.SHARE_EXPIRATION__DELETE_FILE_ON_EXPIRATION.NAME' | translate }}'</strong>
      permet de supprimer le document sous-jacent à un partage lors de l'expiration du dernier partage associé
      </br>
   </p>
</div>
