<p><strong>Utilisation de l'invitation de dépôt</strong></p>
<p>
Une invitation de dépôt est l'ouverture temporaire et réglementée pour un utilisateur externe, de déposer des fichiers dans l'espace personnel d'un utilisateur interne au système.
</p>
<div collapse="!isCollapse">
<p>
  Déroulement fonctionnel d'une invitation de dépôt :
<p>
<ol>
<li>L'utilisateur interne <i>(émetteur de l'invitation)</i> créé une invitation de dépôt en utilisant l'application.</br>Il peut également créer des modèles, consulter les demandes de dépôts en cours ainsi qu'un historique des fichiers déposés.</li>

<li>Le système notifie l'utilisateur externe, <i>(destinataire de l'invitation)</i>.</br>Cette notification est un courriel disposant d'un lien HTTPS unique pointant vers une interface de dépôt et indiquant ses conditions d'utilisation.</br>Cette interface permet au(x) destinataire(s) de déposer un ou plusieurs documents à l'attention de l'émetteur.</li>

<li>L'invitation de dépôt se termine lorsque sa date d'expiration est atteinte (à 0H00), ou par une action manuelle de l'émetteur ou du destinataire, selon la configuration de l'invitation.</li>
</ol>
</div>
<i class="fa fa-fw btn-description pull-right" ng-click="seeContent()" ng-class="{'fa-plus': !isCollapse, 'fa-minus': isCollapse}" tooltip="{{'FUNCTIONALITIES.' + contentStatus | translate}}"></i>