<div class="box box-primary">
  <!-- Header - Begin -->
  <div class="box-header">
    <h3 class="box-title">{{domain.label}}</h3>
    <small x-ng-if="mailContent.readonly" class="label label-danger">
      <i class="fa fa-eye"></i>
       {{'MAIL_CONTENT.SHOW_FORM.LABEL' | translate}}
     </small>
    <div class="pull-right box-tools">
      <a class="list btn-back"
         x-ui-sref="mailcontent.list({domainId: domain.identifier, language: language})"
         tooltip="{{'COMMON.BASIC_FORM.BUTTON_CLOSE' | translate}}">
        <i class="fa fa-2x fa-list pink"></i>
      </a>
    </div>
  </div>
  <!-- Header - End -->
  <form class="form" name="mailContentForm" role="form" novalidate
        x-ls-form-submit="update()" x-ls-form-attempt>
    <fieldset>
      <div class="box-body">
        <fieldset>
          <!-- Content type -->
          <div class="form-group">
            <label for="contentType">
              {{'MAIL_CONTENT.BOX_FORM.LABEL_CONTENT_TYPE' | translate}}
            </label>
            <div class="controls">
              <span name="contentType" class="form-control-static">
                {{mailContent.mailContentType}}:
                {{'COMMON.ENUM.MAIL_CONTENT_TYPE.' + mailContent.mailContentType | translate}}
              </span>
            </div>
          </div>
          <!-- Description -->
          <div class="form-group">
            <label for="description">
              {{'MAIL_CONTENT.BOX_FORM.LABEL_NAME' | translate}}
            </label>
            <textarea id="description" name="description" type="text" class="form-control" required
                   x-ng-model="mailContent.description" x-ng-disabled="mailContent.readonly">
            </textarea>
          </div>
          <!-- Subject -->
          <div class="form-group">
            <label for="subject">
              {{'MAIL_CONTENT.BOX_FORM.LABEL_SUBJECT' | translate}}
            </label>
            <textarea id="subject" name="subject" type="text" class="form-control" row="5"
                      x-ng-model="mailContent.subject" x-ng-disabled="mailContent.readonly">
            </textarea>
          </div>
          <!-- Body -->
          <div class="form-group">
            <label for="body">
              {{'MAIL_CONTENT.BOX_FORM.LABEL_BODY' | translate}}
            </label>
            <textarea id="body" name="body" type="text" class="form-control" rows="5"
                      x-ng-model="mailContent.body" x-ng-disabled="mailContent.readonly">
            </textarea>
            <div class="btn-group dropdown">
              <button type="button" id="mail-content-var" name="mail-content-var" class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{'MAIL_CONTENT.BOX_FORM.LABEL_CONTEXT' | translate}}:
                {{'MAIL_CONTENT.BOX_FORM.LABEL_CONTENT_CONTEXT.' +  mailContentContextSelected.index | translate}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="mail-config">
                <li x-ng-repeat="context in mailContentContext">
                  <a x-ng-click="selectContext(context)">
                    {{'MAIL_CONTENT.BOX_FORM.LABEL_CONTENT_CONTEXT.' +  context.index | translate}}
                    <span ng-show="context  === mailContentContextSelected" class="pull-right glyphicon glyphicon-ok"
                          aria-hidden="true">
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="btn-group dropdown">
              <button type="button" id="mail-config" name="mail-config" class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{mailConfigSelected.name}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="mail-config">
                <li x-ng-repeat="config in mailConfigs">
                  <a x-ng-click="selectConfig(config)">
                    {{config.name}}
                    <span ng-show="config  === mailConfigSelected" class="pull-right glyphicon glyphicon-ok"
                          aria-hidden="true">
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <accordion class="sidebar-menu" x-close-others>
              <accordion-group x-is-open="renderShow[lang]" x-ng-init="renderShow[lang] = false">
                <accordion-heading>
                  {{'MAIL_CONTENT.BOX_FORM.LABEL_CONTEXT' | translate}}
                  <i class="fa pull-right"
                     x-ng-class="{'fa-angle-down': renderShow[lang], 'fa-angle-left': renderShow[lang]}"></i>
                </accordion-heading>
                <section>
                  <ul>
                    <li x-ng-repeat="var in mailContentContextSelected.variables">
                      <b>{{var.name}} (</b>{{var.type}}) : {{var.stringValue}}
                      <ul>
                        <li x-ng-repeat="var2 in var.variables">
                          <b>{{var2.name}} (</b>{{var2.type}}) : {{var2.stringValue}}
                          <ul>
                            <li x-ng-repeat="var3 in var2.variables">
                              <b>{{var3.name}} (</b>{{var3.type}}) : {{var3.stringValue}}
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>
              </accordion-group>
            </accordion>
          </div>
          <div class="form-group" x-ng-repeat="lang in mailLanguage">
            <label for="{{'messages-' + lang.toLowerCase()}}">
              {{'MAIL_CONTENT.BOX_FORM.LABEL_' + lang | translate}}
            </label>
            <textarea id="{{'messages-' + lang.toLowerCase()}}" name="{{'messages-' + lang.toLowerCase()}}"
                      type="text" class="form-control" rows="5"
                      x-ng-model="mailContent['messages' + capitalize(lang)]" x-ng-disabled="mailContent.readonly">
            </textarea>
            <button type="button" id="render-default" name="render-default" class="btn btn-primary"
                    x-ng-click="render(false, lang)">
              {{'MAIL_CONTENT.BOX_FORM.FORM_ACTIONS.BUTTON_RENDER' | translate}} - {{lang}}
            </button>
            <button type="button" id="live-render-default" name="live-render-default" class="btn btn-secondary"
                    x-ng-click="render(true, lang)">
              {{'MAIL_CONTENT.BOX_FORM.FORM_ACTIONS.BUTTON_RENDER_LIVE' | translate}} - {{lang}}
            </button>
            <accordion class="sidebar-menu" x-close-others>
              <accordion-group x-is-open="renderShow[lang]" x-ng-init="renderShow[lang] = false">
                <accordion-heading>
                  <span x-ng-show="mailRendered.lang === lang">{{mailRendered.data.subject}}</span>
                  <span x-ng-show="mailRendered.lang !== lang">
                    {{'MAIL_CONTENT.BOX_FORM.LABEL_NORENDER' | translate}}
                  </span>
                  <i class="fa pull-right"
                     x-ng-class="{'fa-angle-down': renderShow[lang], 'fa-angle-left': renderShow[lang]}">
                  </i>
                </accordion-heading>
                <section>
                  <div class="" x-ng-show="mailRendered.lang === lang">
                    <div id="{{'render-' + lang.toLowerCase()}}" name="{{'render-' + lang.toLowerCase()}}"
                         x-ng-model="mailRendered.data.content" x-ng-bind-html="mailRendered.processed">
                    </div>
                  </div>
                </section>
              </accordion-group>
            </accordion>
          </div>
          <!-- Visible -->
          <div class="input-group">
            <span class="input-group-addon">
              <input id="visible" name="visible" type="checkbox"
                  x-ng-model="mailContent.visible" x-ng-disabled="mailContent.readonly">
            </span>
            <span class="form-control">
              {{'MAIL_CONTENT.BOX_FORM.LABEL_VISIBLE' | translate}}
            </span>
          </div>
        </fieldset>
      </div>
      <div class="box-footer">
        <!-- Validation -->
        <button type="button" id="delete" name="delete" class="btn btn-danger" x-ng-click="remove()"
                x-ng-disabled="mailContent.readonly">
          {{'MAIL_CONTENT.BOX_FORM.FORM_ACTIONS.BUTTON_DELETE' | translate}}
        </button>
        <button type="button" id="copy" name="copy" class="btn btn-info" x-ng-click="copy()">
          {{'MAIL_CONTENT.BOX_FORM.FORM_ACTIONS.BUTTON_COPY' | translate}}
        </button>
        <button type="button" id="reset" name="reset" class="btn btn-warning" x-ng-click="reset()"
                x-ng-disabled="mailContent.readonly">
          {{'MAIL_CONTENT.BOX_FORM.FORM_ACTIONS.BUTTON_RESET' | translate}}
        </button>
        <button type="submit" id="submit" name="submit" class="btn btn-success" x-ng-click="update()"
                x-ng-disabled="mailContent.readonly">
          {{'MAIL_CONTENT.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate}}
        </button>
      </div>
    </fieldset>
  </form>
</div>
