<div class="navbar-right">
  <ul class="nav navbar-nav">
    <li class="dropdown language-menu">
      <a href="#" class="dropdown-toggle">
        <i class="fa fa-flag"></i>
        {{'G_App_Language' | i18n}}
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu">
        <li x-ng-class="{disabled: isCurrentLang('en')}">
          <a x-ng-click="setLanguage('en-US')">
            {{'G_App_LangEn' | i18n}}
          </a>
        </li>
        <li x-ng-class="{disabled: isCurrentLang('fr')}">
          <a x-ng-click="setLanguage('fr-FR')">
            {{'G_App_LangFr' | i18n}}
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle">
        <i class="fa fa-user"></i>
        {{userLogged.mail}}
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a x-ng-click="logout()">
            {{'G_App_Logout' | i18n}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
