<div class="navbar-right">
  <ul class="nav navbar-nav">
    <li class="dropdown language-menu">
      <a href="#" class="dropdown-toggle">
        <i class="fa fa-flag"></i>
        {{'COMMON.NAVBAR.LANGUAGE.SWITCH_TITLE' | translate}}
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu">
        <li x-ng-class="{disabled: isCurrentLang('en')}">
          <a x-ng-click="setLanguage('en')">
            {{'COMMON.NAVBAR.LANGUAGE.ENGLISH' | translate}}
          </a>
        </li>
        <li x-ng-class="{disabled: isCurrentLang('fr')}">
          <a x-ng-click="setLanguage('fr')">
            {{'COMMON.NAVBAR.LANGUAGE.FRENCH' | translate}}
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle">
        <i class="fa fa-user"></i>
        {{userLogged.mail}}
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a x-ng-click="logout()">
            {{'COMMON.NAVBAR.LOGOUT' | translate}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
