<div class="box box-primary" x-ng-if="state">
  <div class="box-header">
    <!-- Legend -->
    <div x-ng-if="state === 'create'">
      <div x-ng-switch="domain.type">
        <h3 class="box-title"
            x-ng-switch-when="TOPDOMAIN">
          {{ 'MANAGE_DOMAINS.CREATE_FORM.TITLE.TOP_DOMAIN' | translate:parentDomain }} ({{parentDomain.parent}})
        </h3>

        <h3 class="box-title"
            x-ng-switch-when="SUBDOMAIN">
          {{ 'MANAGE_DOMAINS.CREATE_FORM.TITLE.SUB_DOMAIN' | translate:parentDomain }} ({{parentDomain.parent}})
        </h3>

        <h3 class="box-title"
            x-ng-switch-when="GUESTDOMAIN">
          {{ 'MANAGE_DOMAINS.CREATE_FORM.TITLE.GUEST_DOMAIN' | translate:parentDomain }} ({{parentDomain.parent}})
        </h3>
      </div>
    </div>
    <div x-ng-if="state === 'edit'">
      <h3 class="box-title">
        {{domain.label}} ({{domain.identifier}})
      </h3>
    </div>
  </div>

  <div class="box-body">
    <form name="domainForm" class="form" role="form"
          x-ls-form-submit="submit()"
          x-ls-form-attempt>

      <div x-ng-show="isSuperAdmin">
        <!-- Name -->
        <div class="form-group"
             x-ng-class="{'has-error': domainForm.name.$invalid &&
              (domainForm.name.$dirty || ls.domainForm.attempted)}">
          <label for="name">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_NAME' | translate }}
          </label>
          <input id="name" name="name" type="text" class="form-control" required
                 x-ng-model="domain.label">
        </div>

        <!-- Description -->
        <div class="form-group">
          <label for="description">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_DESCRIPTION' | translate }}
          </label>
          <textarea id="description" name="description" class="form-control" required
                    x-ng-model="domain.description">
          </textarea>
        </div>

        <!-- Locale -->
        <div class="form-group"
             x-ng-class="{'has-error': domainForm.language.$invalid &&
              (domainForm.language.$dirty || ls.domainForm.attempted)}"
             x-ng-hide="isRootDomain">
          <label for="language">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_LANGUAGE_MAIL' | translate }}
          </label>
          <select id="externalMailLocale" name="externalMailLocale" class="form-control" required
                  x-ng-init="domain.externalMailLocale = domain.externalMailLocale || 'ENGLISH'"
                  x-ng-model="domain.externalMailLocale"
                  x-ng-options="l as 'COMMON.ENUM.LANGUAGE.' + l | translate for l in supportedLanguages">
          </select>
        </div>

        <!-- externalMailLocale -->
        <div class="form-group"
             x-ng-class="{'has-error': domainForm.externalMailLocale.$invalid &&
              (domainForm.externalMailLocale.$dirty || ls.domainForm.attempted)}"
             x-ng-hide="isRootDomain">
          <label for="externalMailLocale">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_LANGUAGE' | translate }}
          </label>
          <select id="language" name="language" class="form-control" required
                  x-ng-init="domain.language = domain.language || 'ENGLISH'"
                  x-ng-model="domain.language"
                  x-ng-options="l as 'COMMON.ENUM.SUPPORTED_LANGUAGE.' + l | translate for l in languages">
          </select>
        </div>

        <!-- mailConfig -->
        <div class="form-group"
             x-ng-class="{'has-error': domainForm.mailConfig.$invalid &&
              (domainForm.mailConfig.$dirty || ls.domainForm.attempted)}"
             x-ng-hide="isRootDomain">
          <a class="clear-btn blue" x-ng-click="mailConfig = !mailConfig" x-ng-class="{'active': mailConfig}">
            <i class="fa fa-info-circle fa-lg"></i>
          </a>
          <label for="mailConfig">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_MAIL_CONFIG' | translate }}
          </label>
          <div class="description" collapse="!mailConfig">
            <x-ls-help content="'my-domain/MAIL_CONFIG'"></x-ls-help>
          </div>
          <div class= "form-mydomain">
            <select id="mailConfig" name="mailConfig" class="form-control" required
                    x-ng-init="domain.mailConfigUuid = domain.mailConfigUuid || '946b190d-4c95-485f-bfe6-d288a2de1edd'"
                    x-ng-model="domain.mailConfigUuid"
                    x-ng-options="m.uuid as m.name for m in mailConfigs"
                    x-ng-selected="domain.mailConfigUuid.uuid === mailConfigUuid.uuid">
            </select>
            <div class="box-tools-domain-manage">
              <a class="list btn-back"
                  x-ui-sref="mailconfig.list({domainId: userDomain, language: language, view: 'simple', formState: 'edit'})"
                  tooltip="{{'COMMON.BASIC_FORM.BUTTON_CLOSE' | translate}}">
                <i class="fa fa-2x fa-list"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- welcomeMessages -->
        <div class="form-group"
             x-ng-class="{'has-error': domainForm.currentWelcomeMessage.$invalid &&
             (domainForm.currentWelcomeMessage.$dirty || ls.domainForm.attempted)}"
             x-ng-hide="isRootDomain">
          <a class="clear-btn blue" x-ng-click="welcomeMess = !welcomeMess" x-ng-class="{'active': welcomeMess}">
            <i class="fa fa-info-circle fa-lg"></i>
          </a>
          <label for="currentWelcomeMessage">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_WELCOME_MESSAGES' | translate }}
          </label>
          <div class="description" collapse="!welcomeMess">
            <x-ls-help content="'my-domain/WELCOME_MESS'"></x-ls-help>
          </div>
          <div class= "form-mydomain">
            <select id="currentWelcomeMessage" name="currentWelcomeMessage" class="form-control" required
                    x-ng-init="domain.currentWelcomeMessage.uuid = domain.currentWelcomeMessage.uuid || '4bc57114-c8c9-11e4-a859-37b5db95d856'"
                    x-ng-model="domain.currentWelcomeMessage.uuid">
              <option
                x-ng-repeat="welcomeMessage in welcomeMessages"
                x-ng-selected="domain.currentWelcomeMessage.uuid === welcomeMessage.uuid"
                value="{{welcomeMessage.uuid}}">
                {{welcomeMessage.name}} <i>({{welcomeMessage.myDomain.label}})</i>
              </option>
            </select>
            <div class="box-tools-domain-manage">
              <a class="list btn-back"
                  x-ui-sref="welcomemessage.list({domainId: userDomain, language: language, view: 'simple', formState: 'edit'})"
                  tooltip="{{'COMMON.BASIC_FORM.BUTTON_CLOSE' | translate}}">
                <i class="fa fa-2x fa-list"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- mimePolicy -->
        <div class="form-group"
             x-ng-class="{'has-error': domainForm.mimePolicy.$invalid &&
             (domainForm.mimePolicy.$dirty || ls.domainForm.attempted)}"
             x-ng-hide="isRootDomain">
          <a class="clear-btn blue" x-ng-click="mimePolicy = !mimePolicy" x-ng-class="{'active': mimePolicy}">
            <i class="fa fa-info-circle fa-lg"></i>
          </a>
          <label for="mimePolicy">
            {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_MIME_POLICY' | translate }}
          </label>
          <div class="description" collapse="!mimePolicy">
            <x-ls-help content="'my-domain/MIME_POLICY'"></x-ls-help>
          </div>
          <div class= "form-mydomain">
            <select id="mimePolicy" name="mimePolicy" class="form-control mydomain" required
                    x-ng-init="domain.mimePolicyUuid = domain.mimePolicyUuid || '3d6d8800-e0f7-11e3-8ec0-080027c0eef0'"
                    x-ng-model="domain.mimePolicyUuid"
                    x-ng-options="m.uuid as m.name for m in mimePolicies"
                    x-ng-selected="domain.mimePolicyUuid.uuid === mimePolicyUuid.uuid">
            </select>
            <div class="box-tools-domain-manage">
              <a class="list btn-back"
                  x-ui-sref="mimepolicy.list({domainId: userDomain, language: language, view: 'simple', formState: 'edit'})"
                  tooltip="{{'COMMON.BASIC_FORM.BUTTON_CLOSE' | translate}}">
                <i class="fa fa-2x fa-list"></i>
              </a>
            </div>
          </div>
        </div>

        <div x-ng-show="isSuperAdmin">
          <div x-ng-hide="isRootDomain">
            <!-- User role -->
            <div class="form-group"
                 x-ng-show="domain.type!='GUESTDOMAIN'"
                 x-ng-class="{'has-error': domainForm.userRole.$invalid &&
                 (domainForm.userRole.$dirty || ls.domainForm.attempted)}">
              <label for="userRole">
                {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_USER_ROLE' | translate }}
              </label>
              <select id="userRole" name="userRole" class="form-control" required
                      x-ng-init = "domain.userRole = domain.userRole || 'SIMPLE'"
                      x-ng-model="domain.userRole"
                      x-ng-options="u as 'COMMON.ENUM.ROLE.' + u | translate for u in userRoles track by u"
                      x-ng-selected="domain.userRole.uuid === userRole.uuid">
              </select>
            </div>

            <!-- Policy -->
            <div class="form-group"
                 x-ng-class="{'has-error': domainForm.policy.$invalid &&
                 (domainForm.policy.$dirty || ls.domainForm.attempted)}">
              <a class="clear-btn blue" x-ng-click="policy = !policy" x-ng-class="{'active': policy}">
                <i class="fa fa-info-circle fa-lg"></i>
              </a>
              <label for="policy">
                {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_POLICY' | translate }}
              </label>
              <div class="description" collapse="!policy">
                <x-ls-help content="'my-domain/INTER_DOMAIN'"></x-ls-help>
              </div>
              <div class= "form-mydomain">
                <select id="policy" name="policy" class="form-control" required
                        x-ng-init="domain.policy.identifier = domain.policy.identifier || 'DefaultDomainPolicy'"
                        x-ng-model="domain.policy.identifier">
                  <option
                    x-ng-repeat="policy in domainPolicies"
                    data-ng-selected="domain.policy.identifier === policy.identifier"
                    x-ng-class="{'boldOption': policy.label == 'DefaultDomainPolicy'}"
                    value="{{policy.identifier}}">
                    {{policy.label}}
                  </option>
                  <option ng-if="state === 'create'" class="boldOption"
                          value="create_new_policy">{{'MANAGE_DOMAINS.CREATE_FORM.SELECT_OPTION_POLICY' | translate }}
                  </option>
                </select>
                <div class="box-tools-domain-manage">
                  <a class="list btn-back"
                      x-ui-sref="domainpolicy.list({domainId: userDomain, language: language, view: 'simple', formState: 'edit'})"
                      tooltip="{{'COMMON.BASIC_FORM.BUTTON_CLOSE' | translate}}">
                    <i class="fa fa-2x fa-list"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group"
               x-ng-show="domain.type!='GUESTDOMAIN'">
            <button type="button" class="btn"
                    x-ng-disabled="disableProvider"
                    x-ng-hide="isRootDomain"
                    x-ng-click="addProvider()">
              <i class="fa fa-plus"></i> {{ 'MANAGE_DOMAINS.BOX_FORM.BUTTON_ADD_USER_PROVIDER' | translate }}
            </button>
          </div>

          <!-- Provider Form -->
          <div class="well" style="max-width: 600px; margin: 0 auto 10px;"
               x-ng-repeat="provider in domain.providers">
            <button type="button" class="close"
                    x-ng-click="deleteProvider()">
              &times;
            </button>
            <h4>
              {{ 'MANAGE_DOMAINS.BOX_FORM.TITLE_PROVIDER' | translate }}
            </h4>

            <!-- LDAP Connection -->
            <div class="form-group"
                 x-ng-class="{'has-error': domainEditForm.ldapConnection.$invalid &&
                  (domainEditForm.ldapConnection.$dirty || ls.domainEditForm.attempted)}">
              <label for="ldapConnection">
                {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_LDAP_CONNECTION' | translate }}
              </label>
              <div class= "form-mydomain">
                <select id="ldapConnection" name="ldapConnection" class="form-control" required
                    x-ng-model="provider.ldapConnectionUuid">
                    <option
                      x-ng-repeat="(key, val) in ldapConnections"
                      x-ng-selected="provider.ldapConnectionUuid === key"
                      value="{{key}}">
                        {{val}}
                    </option>
                </select>
              <div class="box-tools-domain-manage">
                <a class="clear-btn blue" x-ui-sref="ldapconnection.detail({formState: 'create'})">
                  <i class="fa fa-plus-circle fa-lg" tooltip="{{'COMMON.BASIC_FORM.BUTTON_ADD' | translate}}"></i>
                </a>
              </div>
            </div>
          </div>

            <!-- Domain Pattern -->
            <div class="form-group"
                 x-ng-class="{'has-error': domainEditForm.domainPattern.$invalid &&
                  (domainEditForm.domainPattern.$dirty || ls.domainEditForm.attempted)}">
              <label for="domainPattern">
                {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_DOMAIN_PATTERN' | translate }}
              </label>
              <!-- x-ng-options="d for d in domainPatterns" -->
              <div class= "form-mydomain">
                <select id="domainPattern" name="domainPattern" class="form-control" required
                        x-ng-model="provider.userLdapPatternUuid">
                  <option
                    x-ng-repeat="(key, val) in domainPatterns"
                    x-ng-selected="provider.userLdapPatternUuid === key"
                    value="{{key}}">
                    {{val}}
                  </option>
                </select>
                <div class="box-tools-domain-manage">
                  <a class="clear-btn blue" x-ui-sref="domainpattern.detail({formState: 'create'})">
                    <i class="fa fa-plus-circle fa-lg" tooltip="{{'COMMON.BASIC_FORM.BUTTON_ADD' | translate}}"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- Base Dn -->
            <div class="form-group"
                 x-ng-class="{'has-error': domainEditForm.baseDn.$invalid &&
                  (domainEditForm.baseDn.$dirty || ls.domainEditForm.attempted)}">
              <a class="clear-btn blue" x-ng-click="isCollapsed = !isCollapsed" x-ng-class="{'active': isCollapsed}">
                <i class="fa fa-info-circle fa-lg"></i>
              </a>
              <label for="baseDn">
                {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_BASE_DN' | translate }}
              </label>
              <div class="description" collapse="!isCollapsed">
                <x-ls-help content="'my-domain/BASE_DN'"></x-ls-help>
              </div>
              <input id="baseDn" name="baseDn" type="text" class="form-control" required
                     x-ng-model="provider.baseDn">
            </div>
            <a x-ui-sref="inconsistentuser.search({domainId: userDomain, language: language, view: 'simple', formState: 'edit'})">
              <i>{{'MANAGE_DOMAINS.BOX_FORM.SEARCH_USER_ACCOUNT'| translate}}</i>
            </a>
          </div>

          <div class="form-group" x-ng-show="domain.type!='GUESTDOMAIN'">
            <button type="button" class="btn" x-ng-disabled="disableGroupProvider" x-ng-hide="isRootDomain" x-ng-click="addGroupProvider()">
              <i class="fa fa-plus"></i> {{ 'MANAGE_DOMAINS.BOX_FORM.BUTTON_ADD_GROUP_PROVIDER' | translate }}
            </button>
          </div>
          
          <!-- Group Provider Form -->
          <div class="well group-provider-form" x-ng-repeat="groupProvider in domain.groupProviders">
            <button type="button" class="close" x-ng-click="deleteGroupProvider()">
              &times;
            </button>
            <h4>
              {{ 'MANAGE_DOMAINS.BOX_FORM.TITLE_GROUP_PROVIDER' | translate }}
            </h4>
          
            <!-- LDAP Connection -->
            <div class="form-group">
              <label for="ldapConnection">
                {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_LDAP_CONNECTION' | translate }}
              </label>
              <div class="form-mydomain">
                <select 
                  id="connection"
                  name="connection"
                  class="form-control"
                  required
                  x-ng-model="domain.groupProviders[0].connection"
                >
                  <option
                    x-ng-repeat="connection in allLdapConnections | orderBy: 'label'"
                    value="{{connection}}"
                    x-ng-selected="connection.uuid === domain.groupProviders[0].connection.uuid"
                  >
                    {{connection.label}}
                  </option>
                </select>   
                <div class="box-tools-domain-manage">
                  <a class="clear-btn blue" x-ui-sref="ldapconnection.detail({formState: 'create'})">
                    <i class="fa fa-plus-circle fa-lg" tooltip="{{'COMMON.BASIC_FORM.BUTTON_ADD' | translate}}"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- Domain Pattern -->
            <div class="form-group">
              <label for="groupPattern">
                {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_GROUP_PATTERN' | translate }}
              </label>
              <div class="form-mydomain">
                <select 
                  id="pattern"
                  name="pattern"
                  class="form-control"
                  required
                  x-ng-model="domain.groupProviders[0].pattern"
                >
                  <option
                    x-ng-repeat="pattern in groupPatterns | orderBy: 'label'"
                    value="{{pattern}}"
                    x-ng-selected="pattern.uuid === domain.groupProviders[0].pattern.uuid"
                  >
                    {{pattern.label}}
                  </option>
                </select>
                <div class="box-tools-domain-manage">
                  <a class="clear-btn blue" x-ui-sref="grouppattern.detail({formState: 'create'})">
                    <i class="fa fa-plus-circle fa-lg" tooltip="{{'COMMON.BASIC_FORM.BUTTON_ADD' | translate}}"></i>
                  </a>
                </div>
              </div>
            </div>
          
            <!-- Base Dn -->
            <div class="form-group" x-ng-class="{'has-error': domainEditForm.baseDn.$invalid &&
                       (domainEditForm.baseDn.$dirty || ls.domainEditForm.attempted)}">
              <a class="clear-btn blue" x-ng-click="isCollapsed = !isCollapsed" x-ng-class="{'active': isCollapsed}">
                <i class="fa fa-info-circle fa-lg"></i>
              </a>
              <label for="baseDn">
                {{ 'MANAGE_DOMAINS.BOX_FORM.LABEL_BASE_DN' | translate }}
              </label>
              <div class="description" collapse="!isCollapsed">
                <x-ls-help content="'my-domain/BASE_DN'"></x-ls-help>
              </div>
              <input id="baseDn" name="baseDn" type="text" class="form-control" required x-ng-model="groupProvider.baseDn">
            </div>
            <div class="form-group">
              <label for="searchInOtherDomains">
                <input id="searchInOtherDomains" name="searchInOtherDomains" type="checkbox" x-ng-model="groupProvider.searchInOtherDomains"/>
                {{'MANAGE_DOMAINS.BOX_FORM.LABEL_SEARCH_IN_OTHER_DOMAIN' | translate}}
              </label>
            </div>
            <a x-ui-sref="inconsistentuser.search({domainId: userDomain, language: language, view: 'simple', formState: 'edit'})">
              <i>{{'MANAGE_DOMAINS.BOX_FORM.SEARCH_GROUP'| translate}}</i>
            </a>
          </div>

        </div>
      </div>

      <div class="box-footer">
        <!-- Validation -->
        <div class="form-group">
          <div class="controls">
            <button id="delete" name="delete" type="button" class="btn btn-danger"
                    x-ng-click="remove()"
                    x-ng-if="state==='edit'"
                    x-ng-hide="isRootDomain">
              {{ 'MANAGE_DOMAINS.BOX_FORM.FORM_ACTIONS.BUTTON_DELETE' | translate }}
            </button>
            <button type="button" id="reset" name="reset" class="btn btn-warning"
                    x-ng-click="reset()">
              {{ 'MANAGE_DOMAINS.BOX_FORM.FORM_ACTIONS.BUTTON_RESET' | translate }}
            </button>
            <button type="submit" id="submit" name="submit" class="btn btn-success">
              {{ 'MANAGE_DOMAINS.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
