$pink: #D70075;
$darkPink: #9c0039;
$blue: #0372B3;
$darkBlue: #015A8F;
$red: #EE0037;
$green: #00a65a;
$beige: #F4F4F4;
$black: #444;
$lightBlack: #555;
$grey: #ddd;
$darkGrey: #999;
$lightGrey: #EFEFEF;
$orange: #f0ad4e;
$lightRedAlert: #f20000;
$redAlert: #bb0505;

.grey {
  color: #999;
}
.green {
  color: $green;
}
.pink {
  color: $pink;
}
.darkPink {
  color: $darkPink;
}
.black {
  background-color: $black;
  color: white;
}
.blue {
  color: $blue;
}
.darkBlue {
  color: $darkBlue;
}
.red {
  color: $red;
}
.boldOption {
  font-weight:bold;
}
.m-t-20 {
  margin-top: 20px;
}
/*
** FONT CUSTOMIZATION
*/
@mixin legend {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: $black;
  margin-top: 10px;
  i.fa-info {
    color: $lightBlack;
  }
  i.fa-info.pull-left {
    line-height: 23px;
    margin-right: 10px;
  }
}
.flag {
  background-size: 100%;
  width: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 20px;
}
.CREOLE {
  background-image: url('/images/flag/CREOLE.svg');
}
.DUTCH {
  background-image: url('/images/flag/DUTCH.svg');
}
.ENGLISH {
  background-image: url('/images/flag/ENGLISH.svg');
}
.FRENCH {
  background-image: url('/images/flag/FRENCH.svg');
}
.VIETNAMESE {
  background-image: url('/images/flag/VIETNAMESE.svg');
}
.RUSSIAN {
  background-image: url('/images/flag/RUSSIAN.svg');
}

/* *****************
  Common helper classes
  ******************/

.uppercase {
  text-transform: uppercase;
}
.border-grey {
  border-bottom: solid 1px #d5d5d5;
}
.clear {
  clear : both;
}
.no-padding {
  padding : 0;
}
.m-0 {
  margin: 0;
}
.m-l-0 {
  margin-left: 0;
}
.md-m-t-15 {
  @media (min-width: 992px) {
    margin-top: 15px;
  }
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-vertical-center {
  display: flex;
  align-items: center;
}

body {
  background-color: transparent;
  .wrapper {
    margin-bottom: 80px;
  }
  .header {
    .logo {
      background-color: #0372b3;
      background-image: url('/images/linshare-logo-white.png');
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 3px;
      margin-left: -10px;
      &:hover {
        background-color: #0372b3;
        background-image: url('/images/linshare-logo-white.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      img {
        margin-top: -5px;
        height: 80%;
      }
    }
  }
}

#dashboard {
  .inner {
    a {
      color: #fff;
    }
  }
  .small-box {
    max-width: 550px;
    h3 {
      font-size: 28px;
    }
    .icon {
      position: absolute;
      top: auto;
      bottom: 25px;
      right: 15px;
      z-index: 0;
      font-size: 60px;
      a {
        color: rgba(255, 255, 255, 0.25);
      }
    }
    &:hover {
      .small-box-footer {
        color: #fff;
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }
}
@keyframes tansformAnimation {
  from {
    font-size: 60px;
  }
  to {
    font-size: 75px;
  }
}
@-webkit-keyframes tansformAnimation {
  from {
    font-size: 60px;
  }
  to {
    font-size: 75px;
  }
}

.top-buffer {
  margin-top: 20px;
}
.bottom-buffer {
  margin-bottom: 20px;
}
.description {
  color : $darkGrey;
  margin: 20px 0px 30px 0;
}
.header-description{
  color : $lightBlack;
}
.txtalign-right {
  text-align: right;
}
.txtalign-left {
  text-align: left;
}
.skin-black .motto {
  width: 100%;
  text-align: left;
}
.active {
  color: $darkBlue;
}
.badge-active {
  background-color: $green;
  color: #fff;
}
.section-fieldset {
  border-top: solid 1px $grey;
  margin-top: 30px;
  h4 {
    font-weight: bold;
    color: #0372b3;
  }
  h4 + p {
    margin-bottom: 35px;
    color: $darkGrey;
  }
}
.section-fieldset:first-child {
  border-top: 0px;
}

#accordion {
  .panel-group {
    .panel-default {
      border-top-color: $grey;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      .panel-heading {
        background-color: $beige;
        color: $blue;
        cursor: pointer;
        &:hover {
          background-color: $grey;
          color: $darkBlue;
        }
        a {
          &:hover {
            cursor: pointer;
            color: $darkBlue;
          }
        }
      }
    }
  }
}

/*
** BUTTON CUSTOMIZATION
*/
.btn.btn-info {
  background-color: $blue;
  border-color: #367fa9;
  &:hover {
    background-color: $darkBlue;
  }
}
.btn.btn-primary {
  background-color: $blue;
  border-color: #367fa9;
  &:hover {
    background-color: $darkBlue;
  }
}
.btn.btn-cancel {
  background-color: $pink;
  color: white;
}
a.btn {
  padding: 6px 12px;
  i {
    color: #fff;
  }
}
a.clear-btn, button.clear-btn {
  background-color: transparent;
  border: 0px;
  display: inline;
  cursor: pointer;
  font-size: 14px;
  outline : none;
  &.success {
    color: $green;
  }
  &.error {
    color: $red;
  }
  &.black {
    background-color: $black;
    color: white;
    &.disabled {
      cursor: not-allowed;
      color: $lightBlack;
    }
    &:hover {
      color: $darkGrey;
    }
  }
  &.blue {
    color: $blue;
    &:hover {
      color: $darkBlue;
    }
  }
  &.pink {
    color: $pink;
    &:hover {
      color: $darkPink;
    }
    &.active {
      color: $darkPink;
    }
  }
  &.warning {
    color: $orange;
  }
}
.btn-back {
  i {
    vertical-align: -27%;
  }
}
.list {
    margin: 0 8px;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}


.right-side > .content-header.header-fixed {
  position: fixed;
  h1 > small {
      display: inherit;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.accordion-form-content.form-inline .btn-disabled {
  pointer-events: none;
  .link-icon {
    color: rgba(128, 128, 128, 0.5);
  }
  .slider {
    opacity: 0.5;
  }
}

.box .box-header > .box-tools {
  padding: 10px 10px 5px 5px;
  .fa-lg {
    vertical-align: -35%;
  }
  small.label {
    font-size: 12px;
    margin-left: 20px;
  }
}
.box-title {
  h3 {
    margin: 0px;
    float: left;
  }
  small.label {
    font-size: 12px;
    margin-left: 20px;
  }
}
#tree.box .box-body {
  overflow-y: auto;
  overflow-x: auto;
  height: 90%;
  .box-footer {
    padding: 10px 0px !important;
  }
  .domain-quota-error {
    + span:hover {
      background: none;
      border: none;
    }
    .btn, + span i {
      border-color: $lightRedAlert;
      color: white;
      &.btn-default, &.btn-info{
        background-color: $redAlert;
        &:hover {
          background-color:#950404 !important;
          border-color: #950404 !important;
        }
      }
      &.fa-exclamation-circle {
        color: $redAlert;
        margin-top: 10px;
        margin-left: 15px;
      }
    }
  }
}
.box .box-header h3 + .fa {
  padding: 10px;
  color: $pink;
  cursor: pointer;
  &:hover {
    color: $darkPink;
  }
  &.active {
    color: $darkPink;
  }
  small.label {
    font-size: 12px;
  }
}
.box.box-primary {
  border-top: solid 2px $pink;
  border-top-color: $pink;
  .box-header {
    min-height: 55px;
    border-bottom: solid 1px #ccc;
    background-color: $beige;
    color: $blue;
    padding: 5px 0px;
    .view-selector {
      margin-right: 30px;
    }
    small.label {
      margin-left: 10px;
      line-height: 4;
      i.fa {
        margin-right: 0.25em;
      }
    }
  }
  .btn.btn-primary {
    background-color: #fff;
    border-color: #eee;
    color: $blue;
    i {
      color: $blue;
    }
    &:hover {
      background-color: #eee;
      border-color: #ddd;
    }
  }
  .btn.btn-success {
    color: #fff;
    background-color: #00a65a;
    border-color: #008d4c;
  }
  .btn.btn-grey {
    color: #fff;
    background-color:#ddd;
    border-color: #ccc;
    &:hover {
      background-color:#d2d6de;
    }
  }
  .btn.btn-maroon {
    background-color: $pink;
    border-color: #eee;
    color: #eee;
    &:hover {
      background-color:#ca195a;
    }
    .list {
      margin-left: 20px;
    }
  }
}
.col-md-8 {
  .box.box-primary {
    top: 0px;
  }
}

#functionality_details {
  .box-header {
    z-index: 2;
  }
  .box-body {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 670px;
  }
  .fa-times {
    color: $red;
  }
  .fa-check {
    color: $green;
  }
  .bg {
    height: 37px;
    background-color: #fff;
    z-index: 1;
    position: fixed;
    width: 58%;
    box-shadow: 0px 1px 9px rgba(255, 255, 255, 1);
    top: 47px;
  }
  .view-selector {
    margin-right: 30px;
  }
  #functionality_renderer {
    .legend {
      @include legend;
      margin-bottom: 5px;
    }
    .description {
      font-size: 14px;
      color: $darkGrey;
      margin-bottom: 10px;
      margin-top: 0px;
      .warning {
          font-size: 11px;
          color: #aaa;
          margin-bottom: 5px;
          font-style: italic;
          text-align: right;
          width: 100%;
        }
    }
    .row {
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
  #functionality_renderer_simple {
    .legend {
      @include legend;
    }
    .description {
      margin-bottom: 10px;
      margin-top: 0px;
    }
    .warning-enable {
      color: $pink;
      margin-bottom: 20px;
    }
  }
  #functionality_description {
    margin: 20px 0px;
    background-color: $beige;
    padding: 10px;
    color: $darkGrey;
    box-shadow: 1px 2px 4px $grey;
    .description {
      float: left;
      width: 90%;
    }
    .btn-description {
      color: $blue;
      position: absolute;
      bottom: 0;
      right: 10px;
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .functionality-parent {
    .box {
      border-top: 0px;
    }
  }
  .toggle-switch {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    min-width: 60px;
    color: $grey;
    .switch-left {
      color: #fff;
      background: $green;
    }
    .switch-right {
      color: #fff;
      background: $red;
    }
  }
}
.product-version {
  color: #ccc;
  position: absolute;
  width: 100%;
  bottom: 6%;
  text-align: center;
  font-size: 12px;
}
.table {
  thead {
    th {
      text-align: left;
    }
  }
  tbody {
    tr {
      td {
        padding: 0px;
        &.actions {
          a {
            display: inline;
            padding: 0px 6px;
            line-height: 30px;
          }
          .clear-btn {
              margin-right: 4px;
          }
        }
        span {
          padding-top: 8px;
          display: inline-block;
        }
        a {
          padding: 8px;
          color: #000;
          display: inline-block;
          width: 100%;
          &:hover {
            color: #000;
          }
          &.clear-btn {
            padding: 2px 6px;
            display: inline;
            margin-top:150px;
            margin-left: -3px;
            &.black {
              color: white;
              &.disabled {
                cursor: not-allowed;
                color: $lightBlack;
              }
              &:hover {
                color: $darkGrey;
              }
            }
          }
        }
        a.btn {
          display: inline-block;
          padding: 6px 12px;
        }
        &:last-child {
          .pull-right {
            line-height: 31px;
          }
        }
      }
      &:hover {
        td {
          background-color: #EFEFEF;
        }
      }
      &.not-linked {
        td {
          padding:8px;
        }
      }
    }
  }
}

.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
  // cursor: pointer;
  .badge {
    background-color: $green;
  }
}

a.list-group-item-success:hover {
  color: #3c763d;
  background-color: #d0e9c6;
}

.btn.btn-parent {
  background-color: $grey !important;
  &:hover {
    background-color: #B1B1B1 !important;
  }
}
.btn.btn-parent-active {
  background-color: $darkGrey !important;
  border-color: #666;
  &:hover {
    background-color: #6C6C6C !important;
  }
}
#availableActions {
  height: 180px;
}
.dropdown-menu > li > a:hover {
    background-color: #0372b3;
    color: #f9f9f9;
}

.active.lstabs-border {
  border-top: solid 2px #00a65a;
}

.lstabs-border {
  cursor: pointer;
  font-size: 18px;
}


.form-mydomain {
    display: -webkit-flex;
    display: flex;
}

.box-tools-domain-manage{
  margin-left: 10px;
}

 .clearfix-after:after {
  display: table;
  content: " ";
}

/* *****************
  Manage Quota User
  ******************/
.form-group {
  .input-group {
    .input-group-btn {
      .input-unit {
        font-size : 0.75em;
        display: inline-block;
        .btn-dropdown{
          height: 34px;
          border-left: none;
        }
      }
      a.link-ctn {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 15px;
        &:hover i {
          color : #79a1c1;
        }
      }
      .link-icon{
        position: absolute;
        transform: rotate(-45deg) translate(-4px, 0px);
        margin-left: 10px;
        color: #6387a4;
        font-size: 1.5em;
        cursor: pointer;
        transition: 250ms ease-out opacity;
        opacity:0;
        &.show-link {
          opacity : 1;
        }
      }
    }
  }
}

/* *****************
  Manage Quota
  ******************/

/* upper form in accordion*/

.card-form-ctn {
  display: flex;
  align-items: center;
  .form-top-actions {
    flex: 0 0 auto;
  }
  .breadcrumb-quota-ctn{
    flex: 1 1 85%;
    i{
      margin-top: 2px;
    }
    .breadcrumb-quota {
      a{
        color : #333333;
        cursor: pointer;
      }
      a:last-of-type {
        color : #0372B3;
        cursor: default;
      }
    }
  }
}

.accordion-header-form {
  padding: 0;
  margin-top: 2em;
  h3 {
    padding: 0;
    margin: 0;
    font-size: 1.17em;
    font-weight: bold;
  }
}
.accordion-form-content.form-inline {

  > section , > div{
    min-width: 450px;
  }
  .form-group {
    > span {
      min-width: 118px;
    }
  }
  .col-xs-6-5 {
    width: 65%;
  }

  label {
    font-weight: normal;
    span {
      display: block;
      font-size: 0.85em;
      color: #6e6e6e;
    }
  }
  .quota-max {
    display: flex;
    flex-direction: column;
    .quota-max-error {
      color: red;
    }
  }
   input {
    width: 75px !important;
    height: 20px;
    display: inline-block;
    padding: 0 0 0 5px;
    float : left;
  }
  input[type="checkbox"] {
    display: none;
  }
  .form-control[disabled] {
    color: #9b9b9b;
  }
  .form-group {
    margin-bottom: 0.6em;
  }
  a.link-ctn {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    &:hover i {
      color : #79a1c1;
    }
  }
  .link-icon{
    position: absolute;
    transform: rotate(-45deg) translate(-4px, 0px);
    margin-left: 10px;
    color: #6387a4;
    font-size: 1.2em;
    cursor: pointer;
    transition: 250ms ease-out opacity;
    opacity:0;
    &.show-link {
      opacity : 1;
    }
  }
  .input-unit {
    font-size : 0.75em;
    display: inline-block;
    height: 20px;
    float: left;
    .caret {
      margin-left:2px;
    }
    .unit-dropdown.btn, select{
      padding: 0;
      margin-left: 0;
      background-color: #fff;
      color: #a69ba8;
      border: 1px solid #cccccc;
      border-radius: 0;
      height: 20px;
      width: 37px;
      font-size: 1em;
      line-height: 13px;
      cursor: pointer;
      pointer-events: auto;
    }
    select {
      box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
    }
    .btn-group {
      vertical-align: top;
      .btn-dropdown{
        height: 20px;
        border-left: none;
      }

    }
    .dropdown-menu {
      position: relative;
      min-width: 38px;
      margin: 0;
      border-radius: 0;
      margin-top: -1px;
      font-size: 1.1em;
      padding: 0;
      font-size: 1.1em;
      padding: 0;
      margin-top: 17px;
      margin-left: -57px;
      cursor: pointer;

    }
  }
}

.manage-quota-accordion {
  .error-panel{
    padding: 1em;
    border: dotted 1px $lightRedAlert;
    margin-bottom: 2em;
    color: $redAlert;
  }
 .alert-panel {
   padding: 0 1em;
   border: dotted 1px #f28300;
   margin-bottom: 2em;
   color: #ce6c09;
   height: 0;
   opacity: 0;
   transition: height ease-in-out 250ms,opacity ease-in-out 200ms, padding ease-in-out 250ms;
   &.show-fade-id{
     height:auto;
     opacity :1;
     padding: 1em;
   }
  }
  .panel-heading {
    cursor: pointer;
    background-color: $blue;
    padding: 12px 15px;
  }
  a.accordion-toggle {
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
}

.maintenance-switch-ctn {
  height: 25px;
  margin-top: -5px;
}

.maintenance-label {
  font-size: 0.9em;
  color: $darkGrey;
}

.quota-status {
  > .help-block {
    clear: both;
    font-size: 0.9em;
    &.pull-right{
      margin-top: 0;
      margin-right: 14px;
      margin-bottom: 10px;
    }
  }
  &.fa {
    border-radius: 50%;
    width: 0.75em;
    height: 0.75em;
    position: relative;
  }
  &.fa:before {
    display: block;
    top: -1px;
    position: absolute;
    font-size: 1em;
  }

}
.has-error-quota {
  input{
    color: $redAlert;
  }
  .form-control {
    border-color: $redAlert;
  }
  > .help-block {
    color: $redAlert;
  }
  &.fa {
    background-color: $redAlert;
  }
}

.has-warning-quota {
  input{
    color: $orange;
  }
  .form-control {
    border-color: $orange;
  }
  > .help-block {
    color: $orange;
  }
  &.fa {
    background-color: $orange;
  }
}

/* *****************
  Toggle switch UI element
  ******************/

.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 18px;
  margin-bottom: 0;
  line-height: 27px;
  transform: translateY(5px);
  margin-left: 4px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00a65a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/****  end of slide toggle UI ****/


/* limit the textarea width*/
#accordion textarea {
  resize: vertical;
}

/*** CONSOLE VIEW ***/
.filter {
  margin-bottom: 10px;
  .filter-switch {
    margin-left: 10px;
  }
}
.console {
  height: 600px;
  overflow: auto;
  border-radius: 3px;
  background-color: $black;
  .console-line {
    color: $lightGrey;
    kbd {
      .console-date {
        color: $darkGrey;
      }
      .console-criticality {
        color: $orange;
      }
    }
  }
}

.group-provider-form {
  max-width: 600px;
  margin: 0 auto 10px;
}

/******************
  Manage Quota graph
******************/
.quota-graph {
  margin-left: 1em;
  margin-right: 1em;
}
@import '../../ng_components/quota/directives/lsgraph/colors';
@import '../../ng_components/quota/directives/lsgraph/styles';
@import '../../ng_components/quota/directives/lsgraph/graph-label/styles';
@import '../../ng_components/quota/directives/lsgraph/graph-ruler/styles';
@import '../../ng_components/quota/directives/lsgraph/graph-legends/styles';
@import '../../ng_components/quota/directives/lsgraph/graph-chain/styles';
@import '../../ng_components/quota/directives/lsgraph/graph-container/styles';
@import '../../ng_components/quota/directives/lsgraph/graph-limit/styles';
