$pink: #D70075;
$blue: #0372B3;
$blueDark: #015A8F;
$red: #EE0037;
$green: #00A114;
$beige: #F4F4F4;
$black: #444;
$lightBlack: #555;
$grey: #ddd;
$greyDark: #999;

@mixin legend {
  font-size: 16px;
  font-weight: bold;
  // letter-spacing: 1px;
  text-align: left;
  color: $black;
  margin-top: 10px;
  i.fa-info {
    color: $lightBlack;
    cursor: pointer;
    &:hover, &:active {
      color: $greyDark;
    }
  }
  i.fa-info.pull-left {
    line-height: 23px;
    margin-right: 10px;
  }
}
.boldOption {
  font-weight:bold;
}
body {
  .header {
    .logo {
      background-color: #0372b3;
      &:hover {
        background-color: #0372b3;
      }
      img {
        margin-top: -5px;
        height: 80%;
      }
    }
  }
}

.content {
  margin-bottom: 0px;
}

.skin-black .navbar {
  background-color: $blue;
}
.active {
  color: $blueDark;
}

.btn.btn-info {
  background-color: $blue;
  border-color: #367fa9;
  &:hover {
    background-color: $blueDark;
  }
}

.content-header {
  position: fixed !important;
}

#tree {
  top: 140px;
  position: fixed;
  width: 26%;
}
.box.box-primary {
  border-top: solid 2px $pink;
  border-top-color: $pink;
  top: 50px;
  .box-header {
    height: 55px;
    border-bottom: solid 1px #ccc;
    background-color: $beige;
    color: $blue;
    padding: 5px 0px;
  }
  .btn.btn-primary {
    background-color: #fff;
    border-color: #eee;
    color: $blue;
    &:hover {
      background-color: #eee;
      border-color: #ddd;
    }
  }
  .btn.btn-gray {
    color: #fff;
    &:hover {
      background-color:#d2d6de;
    }
  }
  .btn.btn-maroon {
    background-color: #d70075;
    border-color: #eee;
    color: #eee;
    &:hover {
      background-color:#ca195a;
    }
    .list {
      margin-left: 20px;
    }
  }
}
.col-md-8 {
  .box.box-primary {
    top: 0px;
  }
}

#functionality_details {
  // position: fixed;
  // width: 55%;
  top: 0px;
	.fa-times {
		color: $red;
	}
	.fa-check {
		color: $green;
	}
  .bg {
    height: 37px;
    background-color: #fff;
    z-index: 1;
    position: fixed;
    width: 58%;
    box-shadow: 0px 1px 9px rgba(255, 255, 255, 1);
    top: 47px;
  }
  .box-header {
    z-index: 2;
  }
  .box-body {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 670px;
  }
  #functionality_renderer {
    margin: 30px 0px;
    .legend {
      @include legend;
    }
    .description {
      font-size: 14px;
      color: $greyDark;
      margin-bottom: 10px;
      .warning {
          font-size: 11px;
          color: #aaa;
          margin-bottom: 5px;
          font-style: italic;
          text-align: right;
          width: 100%;
        }
    }
    .row {
      margin-top: 20px;
    }
  }
  #functionality_renderer_simple {
    .legend {
      @include legend;
    }
  }
  #functionality_description {
    margin: 20px 0px;
    background-color: $beige;
    padding: 10px;
    color: $greyDark;
    box-shadow: 1px 2px 4px $grey;
    .description {
      float: left;
      width: 90%;
    }
    .btn-description {
      color: $blue;
      position: absolute;
      bottom: 0;
      right: 10px;
      cursor: pointer;
    }
  }
  .functionality-parent {
    .box {
      border-top: 0px;
    }
  }
  .functionality-children {
    .panel-default {
      border-top-color: $grey;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      .panel-heading {
        background-color: $beige;
        color: $blue;
        cursor: pointer;
        &:hover {
          background-color: $grey;
          color: $blueDark;
        }
        a {
          &:hover {
            cursor: pointer;
            color: $blueDark;
          }
        }
      }
    }
  }
  .toggle-switch {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    min-width: 60px;
    color: $grey;
    .switch-left {
      color: #fff;
      background: $green;
    }
    .switch-right {
      color: #fff;
      background: $red;
    }
  }
}
.footer {
  z-index: -10;
}