$pink: #D70075;
$darkPink: #ca195a;
$blue: #0372B3;
$darkBlue: #015A8F;
$red: #EE0037;
$green: #00A114;
$beige: #F4F4F4;
$black: #444;
$lightBlack: #555;
$grey: #ddd;
$darkGrey: #999;
$lightGrey: #EFEFEF;
$orange: #f0ad4e;

.grey {
  color: $darkGrey;
}

.boldOption {
  font-weight:bold;
}
/*
** FONT CUSTOMIZATION
*/
@mixin legend {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: $black;
  margin-top: 10px;
  i.fa-info {
    color: $lightBlack;
    cursor: pointer;
    &:hover, &:active {
      color: $darkGrey;
    }
  }
  i.fa-info.pull-left {
    line-height: 23px;
    margin-right: 10px;
  }
}

body {
  .header {
    .logo {
      background-color: #0372b3;
      &:hover {
        background-color: #0372b3;
      }
      img {
        margin-top: -5px;
        height: 80%;
      }
    }
  }
  .table {
    tbody {
      tr {
        td {
          padding: 0px;
          a {
            color: $black;
            width: 100%;
            display: block;
            height: 100%;
            padding: 8px;
            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }
}

#dashboard {
  .inner {
    a {
      color: #fff;
    }
  }
  .small-box {
    max-width: 550px;
    h3 {
      font-size: 28px;
    }
    .icon {
      position: absolute;
      top: auto;
      bottom: 25px;
      right: 15px;
      z-index: 0;
      font-size: 60px;
      a {
        color: rgba(255, 255, 255, 0.25);
      }
    }
    &:hover {
      .small-box-footer {
        color: #fff;
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }
}
@keyframes tansformAnimation {
  from {
    font-size: 60px;
  }
  to {
    font-size: 75px;
  }
}
@-webkit-keyframes tansformAnimation {
  from {
    font-size: 60px;
  }
  to {
    font-size: 75px;
  }
}

.content {
  margin-bottom: 0px;
}

.top-buffer {
  margin-top: 20px;
}
.bottom-buffer {
  margin-bottom: 20px;
}
.description {
  color : $darkGrey;
  margin: 20px 0px 30px 0;
}
.txtalign-right {
  text-align: right;
}
.txtalign-left {
  text-align: left;
}

.skin-black .navbar {
  background-color: $blue;
}
.active {
  color: $darkBlue;
}
.badge-active {
  background-color: $green;
  color: #fff;
}
.section-fieldset {
  border-top: solid 1px $grey;
  margin-top: 30px;
  h4 {
    font-weight: bold;
    color: #0372b3;
  }
  h4 + p {
    margin-bottom: 35px;
    color: $darkGrey;
  }
}
.section-fieldset:first-child {
  border-top: 0px;
}

#accordion {
  .panel-group {
    .panel-default {
      border-top-color: $grey;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      .panel-heading {
        background-color: $beige;
        color: $blue;
        cursor: pointer;
        &:hover {
          background-color: $grey;
          color: $darkBlue;
        }
        a {
          &:hover {
            cursor: pointer;
            color: $darkBlue;
          }
        }
      }
    }
  }
}

/*
** BUTTON CUSTOMIZATION
*/
.btn.btn-info {
  background-color: $blue;
  border-color: #367fa9;
  &:hover {
    background-color: $darkBlue;
  }
}

.box .box-header a {
  color: #fff;
}

.btn.btn-primary {
  background-color: $blue;
  border-color: #367fa9;
  &:hover {
    background-color: $darkBlue;
  }
}
.btn.btn-cancel {
  background-color: $pink;
}
a.btn {
  padding: 6px 12px;
  i {
    color: #fff;
  }
}
a.clear-btn, button.clear-btn {
  background-color: transparent;
  border: 0px;
  display: inline;
  // &:hover {
  //   background-color: $darkBlue;
  // }
  &.success {
    color: $green;
  }
  &.error {
    color: $red;
  }
  &.blue {
    color: $blue;
    &:hover {
      color: $darkBlue;
    }
  }
  &.warning {
    color: $orange;
  }
}

.cursor-pointer {
  cursor: pointer;
}

#tree {
  top: 140px;
  position: fixed;
  width: 26%;
}
.box-title {
  h3 {
    margin: 0px;
    float: left;
  }
  small.label {
    font-size: 12px;
    margin-left: 20px;
  }
}
.box .box-header h3 + .fa {
  padding: 10px;
  color: $pink;
  cursor: pointer;
  &:hover {
    color: $darkPink;
  }
  &.active {
    color: $darkPink;
  }
  small.label {
    font-size: 12px;
  }
}
.box.box-primary {
  border-top: solid 2px $pink;
  border-top-color: $pink;
  // top: 50px;
  .box-header {
    min-height: 55px;
    border-bottom: solid 1px #ccc;
    background-color: $beige;
    color: $blue;
    padding: 5px 0px;
  }
  .btn.btn-primary {
    background-color: #fff;
    border-color: #eee;
    color: $blue;
    i {
      color: $blue;
    }
    &:hover {
      background-color: #eee;
      border-color: #ddd;
    }
  }
  .btn.btn-gray {
    color: white;
    background-color: $grey;
    &:hover {
      background-color:#d2d6de;
    }
  }
  .btn.btn-maroon {
    background-color: #d70075;
    border-color: #eee;
    color: #eee;
    &:hover {
      background-color:#ca195a;
    }
    .list {
      margin-left: 20px;
    }
  }
}
.col-md-8 {
  .box.box-primary {
    top: 0px;
  }
}

#functionality_details {
  // position: fixed;
  // width: 55%;
  top: 0px;
	.fa-times {
		color: $red;
	}
	.fa-check {
		color: $green;
	}
  .bg {
    height: 37px;
    background-color: #fff;
    z-index: 1;
    position: fixed;
    width: 58%;
    box-shadow: 0px 1px 9px rgba(255, 255, 255, 1);
    top: 47px;
  }
  .box-header {
    z-index: 2;
  }
  .box-body {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 670px;
  }
  #functionality_renderer {
    margin: 30px 0px;
    .legend {
      @include legend;
    }
    .description {
      font-size: 14px;
      color: $darkGrey;
      margin-bottom: 10px;
      .warning {
          font-size: 11px;
          color: #aaa;
          margin-bottom: 5px;
          font-style: italic;
          text-align: right;
          width: 100%;
        }
    }
    .row {
      margin-top: 20px;
    }
  }
  #functionality_renderer_simple {
    .legend {
      @include legend;
      margin-bottom: 20px;
    }
    .description {
      color: $darkGrey;
    }
  }
  #functionality_description {
    margin: 20px 0px;
    background-color: $beige;
    padding: 10px;
    color: $darkGrey;
    box-shadow: 1px 2px 4px $grey;
    .description {
      float: left;
      width: 90%;
    }
    .btn-description {
      color: $blue;
      position: absolute;
      bottom: 0;
      right: 10px;
      cursor: pointer;
    }
  }
  .functionality-parent {
    .box {
      border-top: 0px;
    }
  }
  .toggle-switch {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    min-width: 60px;
    color: $grey;
    .switch-left {
      color: #fff;
      background: $green;
    }
    .switch-right {
      color: #fff;
      background: $red;
    }
  }
}
.footer {
  z-index: -10;
}

.table {
  tbody {
    tr {
      td {
        padding: 8px;
        &.actions {
          a {
            display: inline;
            padding: 0px 6px;
            line-height: 30px;
          }
        }
        a {
          padding: 8px;
          color: #000;
          display: block;
          &:hover {
            color: #000;
          }
        }
        a.btn {
          display: inline-block;
          padding: 6px 12px;
        }
      }
      &:hover {
        td {
          background-color: #EFEFEF;
        }
      }
    }
  }
}

.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
  // cursor: pointer;
  .badge {
    background-color: $green;
  }
}

a.list-group-item-success:hover {
  color: #3c763d;
  background-color: #d0e9c6;
  // cursor: pointer;
}

.btn.btn-parent {
  background-color: $grey !important;
  &:hover {
    background-color: #B1B1B1 !important;
  }
}
.btn.btn-parent-active {
  background-color: $darkGrey !important;
  border-color: #666;
  &:hover {
    background-color: #6C6C6C !important;
  }
}