<section class="content-header">
  <h1>
    {{'G_Tab_Users-Mails' | i18n}}
    <small>
      {{'P_Users-Mails_Title' | i18n}}
    </small>
  </h1>
</section>
<section class="content"
         x-ng-controller="MailCtrl">
  <div class="row">
    <section class="col-lg-12">
      <!-- Form -->
      <div x-ng-if="getCurrentMail()">
        <div x-ls-mail-form></div>
      </div>

      <div x-ng-if="!getCurrentMail()">
        <div x-ls-mail-list></div>
      </div>
    </section>
  </div>
</section>
