<div class="row">
  <div class="page-header">
    <h1>{{'P_Users-Threads_Title' | i18n}}</h1>
  </div>
  <div x-ng-controller="ThreadCtrl">

    <!-- Form -->

    <div x-ng-if="getCurrentThread()">
      <div class="btn-toolbar">
        <button class="btn btn-primary" type="button"
                x-ng-click="showList()">
          <span>
            <i class="icon-list icon-white"></i> 
            {{'P_Users-Threads_ListTitle' | i18n}}
          </span>
        </button>
      </div>
      <div x-ls-thread-form></div>
    </div>

    <!-- List -->

    <div x-ng-if="!getCurrentThread()">
      <table class="table"
             x-ng-table="tableParams">
        <tr x-ng-repeat="thread in $data"
            x-ng-click="edit(thread)">
          <td data-title="'P_Users-Threads_ListName' | i18n"
              sortable="'name'">
            <span>
              {{thread.name}}
            </span>
          </td>
          <td data-title="'P_Users-Threads_ListModificationDate' | i18n"
              sortable="'modificationDate'">
            <span>
              {{thread.modificationDate | date:'dd/MM/yyyy HH:mm'}}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
