<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{ 'DOMAIN_POLICIES.BOX_LIST.TITLE' | translate }}
    </h3>
    <div class="pull-right box-tools">
      <div class="btn-group">
        <button class="btn btn-primary" type="button"
                x-ng-click="create()">
          <span>
            <i class="fa fa-plus"></i> 
            {{ 'DOMAIN_POLICIES.BOX_LIST.BUTTON_ADD' | translate }}
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-striped"
             x-ng-table="tableParams">
        <tbody>
          <tr x-ng-repeat="domainPolicy in $data"
              x-ng-click="edit(domainPolicy)">
            <td data-title="'DOMAIN_POLICIES.BOX_LIST.TABLE.HEADER_IDENTIFIER' | translate"
                sortable="'identifier'">
              <span>
                {{domainPolicy.identifier}}
              </span>
            </td>
            <td data-title="'DOMAIN_POLICIES.BOX_LIST.TABLE.HEADER_DESCRIPTION' | translate"
                sortable="'description'">
              <span>
                {{domainPolicy.description}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
