<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{domain.label}}
    </h3>
    <div class="pull-right box-tools">
      <button class="btn btn-primary btn-sm"
              x-ng-click="cancel()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <button type="button" class="btn btn-success"
            x-ng-click="add()">
      <i class="fa fa-plus"></i>
      {{ 'MAIL_LAYOUT.BOX_LIST.BUTTON_ADD' | translate }}
    </button>
    <div class="table-responsive">
      <table class="table table-striped"
             x-ng-table="tableParams">
        <tr x-ng-repeat="mailLayout in $data"
            x-ng-click="edit(mailLayout)">
          <td style="cursor: pointer"
              data-title="'MAIL_LAYOUT.BOX_LIST.TABLE.HEADER_NAME' | translate">
            <span>
              {{mailLayout.name}}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
