<div class="box box-primary">
  <!-- Header - Begin -->
  <div class="box-header">
    <h3 class="box-title">{{domain.label}}</h3>
    <small x-ng-show="mailLayout.readonly" class="label label-danger">
      <i class="fa fa-eye"></i>
      {{'MAIL_LAYOUT.SHOW_FORM.LABEL' | translate}}
    </small>
    <div class="pull-right box-tools">
      <a class="list btn-back"
         x-ui-sref="maillayout.list({domainId: domain.identifier})"
         tooltip="{{'COMMON.BASIC_FORM.BUTTON_CLOSE' | translate}}">
        <i class="fa fa-2x fa-list pink"></i>
      </a>
    </div>
  </div>
  <!-- Header - End -->
  <form class="form" name="mailLayoutForm" role="form" novalidate
      x-ls-form-submit="update()"
      x-ls-form-attempt>
    <fieldset>
      <div class="box-body">
        <fieldset x-ng-disabled="mailLayout.readonly">
          <!-- Description -->
          <div class="form-group">
            <label for="description">
              {{'MAIL_LAYOUT.BOX_FORM.LABEL_NAME' | translate}}
            </label>
            <textarea id="description" name="description" type="text" class="form-control" required
                x-ng-model="mailLayout.description">
            </textarea>
          </div>
          <!-- Layout -->
          <div class="form-group">
            <label for="layout">
              {{'MAIL_LAYOUT.BOX_FORM.LABEL_LAYOUT' | translate}}
            </label>
            <textarea id="layout" name="layout" type="text" class="form-control" rows="5"
                x-ng-model="mailLayout.layout">
            </textarea>
          </div>

          <div class="form-group">
            <tabset>
              <tab heading="{{lang}}" x-ng-repeat="lang in mailLanguage" class="cursor-pointer">
                <textarea
                  id="{{'messages' + capitalize(lang)}}"
                  name="{{'messages' + capitalize(lang)}}"
                  type="text" class="form-control" rows="5"
                  x-ng-model="mailLayout['messages' + capitalize(lang)]"
                  x-ng-disabled="mailLayout.readonly">
                </textarea>
              </tab>
            </tabset>
          </div>

          <!-- Visible -->
          <div class="input-group">
            <span class="input-group-addon">
              <input id="visible" name="visible" type="checkbox"
                  x-ng-model="mailLayout.visible">
            </span>
            <span class="form-control">
              {{'MAIL_LAYOUT.BOX_FORM.LABEL_VISIBLE' | translate}}
            </span>
          </div>
        </fieldset>
      </div>
      <div class="box-footer">
        <!-- Validation -->
        <button type="button" id="delete" name="delete" class="btn btn-danger"
            x-ng-click="remove()" x-ng-disabled="mailLayout.readonly">
          {{'MAIL_LAYOUT.BOX_FORM.FORM_ACTIONS.BUTTON_DELETE' | translate}}
        </button>
        <button type="button" id="copy" name="copy" class="btn btn-info" x-ng-click="copy()">
          {{'MAIL_LAYOUT.BOX_FORM.FORM_ACTIONS.BUTTON_COPY' | translate}}
        </button>
        <button type="button" id="reset" name="reset" class="btn btn-warning"
            x-ng-click="reset()" x-ng-disabled="mailLayout.readonly">
          {{'MAIL_LAYOUT.BOX_FORM.FORM_ACTIONS.BUTTON_RESET' | translate}}
        </button>
        <button type="submit" id="submit" name="submit" class="btn btn-success" x-ng-disabled="mailLayout.readonly">
          {{'MAIL_LAYOUT.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate}}
        </button>
      </div>
    </fieldset>
  </form>
</div>
