<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{domain.label}}
    </h3>
    <div class="pull-right box-tools">
      <button class="btn btn-maroon btn-sm"
              tooltip="{{'COMMON.BASIC_FORM.BUTTON_CLOSE' | translate}}"
              x-ng-click="cancel()">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
  <form class="form" name="mailLayoutForm" role="form" novalidate
        x-ls-form-submit="update()"
        x-ls-form-attempt>
    <fieldset>
      <div class="box-body">
        <!-- Name -->
        <div class="form-group">
          <label for="name">
            {{ 'MAIL_LAYOUT.BOX_FORM.LABEL_NAME' | translate }}
          </label>
          <input id="name" name="name" type="text" class="form-control"
                 required
                 x-ng-model="mailLayout.name">
        </div>
        <!-- Layout -->
        <div class="form-group">
          <label for="layout">
            {{ 'MAIL_LAYOUT.BOX_FORM.LABEL_LAYOUT' | translate }}
          </label>
          <textarea id="layout" name="layout" type="text" class="form-control" rows="5"
                 x-ng-model="mailLayout.layout">
          </textarea>
        </div>
        <!-- Plain text -->
        <div class="input-group">
          <span class="input-group-addon">
            <input id="plaintext" name="plaintext" type="checkbox"
                   x-ng-model="mailLayout.plaintext">
          </span>
          <span class="form-control">
            {{ 'MAIL_LAYOUT.BOX_FORM.LABEL_PLAINTEXT' | translate }}
          </span>
        </div>
        <!-- Visible -->
        <div class="input-group">
          <span class="input-group-addon">
            <input id="visible" name="visible" type="checkbox"
                   x-ng-model="mailLayout.visible">
          </span>
          <span class="form-control">
            {{ 'MAIL_LAYOUT.BOX_FORM.LABEL_VISIBLE' | translate }}
          </span>
        </div>
      </div>
      <div class="box-footer">
        <!-- Validation -->
        <button type="button" id="delete" name="delete" class="btn btn-danger"
                x-ng-click="remove()">
          {{ 'MAIL_LAYOUT.BOX_FORM.FORM_ACTIONS.BUTTON_DELETE' | translate }}
        </button>
        <button type="button" id="reset" name="reset" class="btn btn-warning"
                x-ng-click="reset()">
          {{ 'MAIL_LAYOUT.BOX_FORM.FORM_ACTIONS.BUTTON_RESET' | translate }}
        </button>
        <button type="submit" id="submit" name="submit" class="btn btn-success">
          {{ 'MAIL_LAYOUT.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
        </button>
      </div>
    </fieldset>
  </form>
</div>
