<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{ user.firstName }}&nbsp;{{ user.lastName }}&nbsp;&lt;{{ user.mail }}&gt;
    </h3>
    <div class="pull-right box-tools">
      <a class="list btn-back"
          x-ui-sref="inconsistentuser.list.all"
          tooltip="{{'COMMON.BASIC_FORM.BUTTON_CLOSE' | translate}}">
        <i class="fa fa-2x fa-list pink"></i>
      </a>
    </div>
  </div>
  <form class="form" name="userForm"
        x-ls-form-submit="submit(user, domain)"
        x-ls-form-attempt>
    <div class="box-body">
      <div class="row">
        <!-- EDITABLE FIELDS -->
        <div class="col-sm-6">
          <!-- Domain -->
          <div class="form-group"
               x-ng-class="{'has-error': userForm.domain.$invalid &&
                (userForm.domain.$dirty || ls.domain.attempted)}">
            <label for="domain">
              {{ 'INCONSISTENT_USERS.BOX_FORM.LABEL_TARGET_DOMAIN' | translate }}
            </label>
            <select name="domain" class="form-control" required
                    x-ng-model="domain"
                    x-ng-options="domain.identifier as domain.label for domain in allDomains | orderBy:'label'">
            </select>
          </div>
        </div>

        <!-- UNEDITABLE FIELDS -->
        <div class="well col-sm-6">
          <!-- Creation date -->
          <div class="form-group">
            <label for="creationDate">
              {{ 'INCONSISTENT_USERS.BOX_FORM.LABEL_CREATION_DATE' | translate }}
            </label>
            <div class="controls">
              <span name="creationDate" class="form-control-static">
                {{ user.creationDate | date:'medium' }}
              </span>
            </div>
          </div>

          <!-- Modification date -->
          <div class="form-group">
            <label for="modificationDate">
              {{ 'INCONSISTENT_USERS.BOX_FORM.LABEL_MODIFICATION_DATE' | translate }}
            </label>
            <div class="controls">
              <span name="modificationDate" class="form-control-static">
                {{ user.modificationDate | date:'medium' }}
              </span>
            </div>
          </div>
          <!-- First name -->
          <div class="form-group">
            <label for="firstName">
              {{ 'INCONSISTENT_USERS.BOX_FORM.LABEL_FIRST_NAME' | translate }}
            </label>
            <div class="controls">
              <span name="firstName" class="form-control-static">
                {{user.firstName}}
              </span>
            </div>
          </div>

          <!-- Last name -->
          <div class="form-group">
            <label for="lastName">
              {{ 'INCONSISTENT_USERS.BOX_FORM.LABEL_LAST_NAME' | translate }}
            </label>
            <div class="controls">
              <span name="lastName" class="form-control-static">
                {{user.lastName}}
              </span>
            </div>
          </div>
          <!-- Domain -->
          <div class="form-group">
            <label for="domain">
              {{ 'INCONSISTENT_USERS.BOX_FORM.LABEL_DOMAIN' | translate }}
            </label>
            <div class="controls">
              <span name="domain" class="form-control-static">
                {{user.domain}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <!-- Validation -->
      <div class="form-group">
        <div class="controls">
          <button type="button" id="delete" name="delete" class="btn btn-danger"
                  x-ng-click="delete(user)">
            {{ 'INCONSISTENT_USERS.BOX_FORM.FORM_ACTIONS.BUTTON_DELETE' | translate }}
          </button>
          <button type="button" class="btn btn-warning" ui-sref="inconsistentuser.list.all">
            {{ 'INCONSISTENT_USERS.BOX_FORM.FORM_ACTIONS.BUTTON_CANCEL' | translate }}
          </button>
          <button type="submit" id="submit" name="submit" class="btn btn-success">
            {{ 'INCONSISTENT_USERS.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
