<div class="box">
  <div class="box-header">
    <div class="pull-right box-tools">
      <button class="clear-btn pink" x-ng-click="isCollapsed = !isCollapsed" x-ng-class="{'active': isCollapsed}">
        <i class="fa fa-info-circle fa-lg"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <div class="description" collapse="!isCollapsed">
      <x-ls-help content="'INCONSISTENT_USER_BY_SEARCH'"></x-ls-help>
    </div>
    <div class="col-lg-6 col-md-6 col-md-offset-3 bottom-buffer">
      <form x-ng-submit="getStatus(inconsistent)" class="row">
        <label>{{'INCONSISTENT_USERS.SCRUTINY.SEARCH_LEGEND' | translate}}</label>

        <div class="input-group input-group-sm">
          <input type="email" class="form-control"
                 placeholder="{{'INCONSISTENT_USERS.SCRUTINY.PLACEHOLDER' | translate}}"
                 x-ng-model="inconsistent.mail" required
                 x-typeahead-min-length="3"
                 x-typeahead-on-select="getStatus(inconsistent)"
                 x-typeahead-loading="searchingContact"
                 x-typeahead-input-formatter="angular.noop"
                 x-typeahead="u as userRepresentation(u) for u in searchUsersAccount($viewValue) | limitTo:3">
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-16">
        <p ng-show="accounts.length > 0">
          {{'INCONSISTENT_USERS.SCRUTINY.CURRENT_USER_FOUND' | translate}}
          <strong class="text-blue">{{accounts[0].userMail}}</strong>
          <span class="pull-right">
            <i ng-show="!dataUpTodate" class="fa fa-warning text-yellow"
               title="{{'INCONSISTENT_USERS.SCRUTINY.WARNING_OUT_OF_DATE_REFRESH' | translate}}">
            </i>
            <a href="">
              <i class="fa fa-refresh" aria-hidden="true"
                 ng-click="getStatus(inconsistent)" title="{{'INCONSISTENT_USERS.SCRUTINY.REFRESH' | translate}}">
              </i>
            </a>
          </span>
        </p>

        <p ng-show="accounts.length == 0">
          {{'INCONSISTENT_USERS.SCRUTINY.NOT_FOUND_MESSAGE' | translate}}
          <strong class="text-blue">{{searchValue}}</strong>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive col-md-6">
        <table class="table table-hover">
          <thead class="well">
          <tr ng-show="accounts.length > 0">
            <th title="{{'INCONSISTENT_USERS.SCRUTINY.DOMAIN_HEADER_LABEL' | translate}}"
                class="col-md-2">{{'INCONSISTENT_USERS.SCRUTINY.DOMAIN_HEADER' | translate}}
            </th>
            <th title="{{'INCONSISTENT_USERS.SCRUTINY.LDAP_HEADER_LABEL' | translate}}"
                class="col-md-2 text-center">{{'INCONSISTENT_USERS.SCRUTINY.LDAP_HEADER' | translate}}
            </th>
            <th title="{{'INCONSISTENT_USERS.SCRUTINY.DATABASE_HEADER_LABEL' | translate}}"
                class="col-md-2 text-center">{{'INCONSISTENT_USERS.SCRUTINY.DATABASE_HEADER' | translate}}
            </th>
            <th title="{{'INCONSISTENT_USERS.SCRUTINY.GUEST_HEADER_LABEL' | translate}}"
                class="col-md-2 text-center">{{'INCONSISTENT_USERS.SCRUTINY.GUEST_HEADER' | translate}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="account in accounts"
              ng-class="{active: currentDetailState === account.uuid}"
              ng-click="showUserDetail(account)">
            <td class="col-md-4">
              <a href="">{{account.label}}</a>
            </td>
            <td class="col-md-2">
              <a href="">
                <i ng-show="account.ldap" class="fa fa-check text-success"></i>
                <i ng-hide="account.ldap" class="fa fa-times text-danger"></i>
              </a>
            </td>
            <td class="col-md-2">
              <a href="">
                <i ng-show="account.database" class="fa fa-check text-success"></i>
                <i ng-hide="account.database" class="fa fa-times text-danger"></i>
              </a>
            </td>
            <td class="col-md-2">
              <a href="">
                <i ng-show="account.guest" class="fa fa-check text-success"></i>
                <i ng-hide="account.guest" class="fa fa-times text-danger"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6" ui-view></div>
    </div>

  </div>
</div>
