<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{ 'THREADS.BOX_LIST.TITLE' | translate }}
    </h3>
    <div class="box-tools">
      <form x-ng-submit="isClicked()" class="col-lg-4 pull-right">
          <label>{{'THREADS.SEARCH.SERVER' | translate}}</label>
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="{{'THREADS.SEARCH.FIELDS' | translate}}" x-ng-model="threadSearch">
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat" type="button" x-ng-click="isClicked()">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="form-group" x-ng-hide="tableParams.data.length == 0">
      <div class="dataTables_filter" id="example1_filter">
        <label>{{'THREADS.SEARCH.CLIENT' | translate}} :</label><br/>
        <input type="text" ng-model="search" placeholder="" class="col-md-5" />
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover" x-ng-table="tableParams">
        <tr x-ng-repeat="thread in $data | filter: search"
          x-ui-sref="thread.detail({id: thread.uuid, search: threadSearch})">
          <td style="cursor: pointer"
            data-title="'THREADS.BOX_LIST.TABLE.HEADER_NAME' | translate"
            sortable="'name'" class="col-lg-5">
            <span>
              {{thread.name}}
            </span>
          </td>
          <td data-title="'THREADS.BOX_LIST.TABLE.HEADER_MODIFICATION_DATE' | translate"
            sortable="'modificationDate'">
            <span>
              {{thread.modificationDate | date:'medium'}}
            </span>
          </td>
        </tr>
        <tr x-ng-show="tableParams.data.length == 0">
          <td>
            {{'THREADS.SEARCH.INFO' | translate}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
