<div id="functionality_renderer" class="col-md-12">
  <div class="row">
    <div class="form-group">
    </div>
    <form>
      <div class="col-md-10 legend"
           title="{{translations.ACTIVATION_POLICY ? 'MAIL_ACTIVATION.HELP' : 'MAIL_ACTIVATION.NO_DATA' | translate}}"
           x-ng-click="isCollapseActivation = !isCollapseActivation"
           x-ng-class="{'cursor-pointer': translations.ACTIVATION_POLICY != ''}">
        {{ 'MAIL_ACTIVATION.BOX_FORM.LABEL_ENABLE' | translate }}
        <i class="fa fa-info pull-left"></i>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-6" x-ng-show="showConfiguration()">
      <form>
        <fieldset>
          <legend class="legend"
                  title="{{translations.CONFIGURATION_POLICY ? 'MAIL_ACTIVATION.HELP' : 'MAIL_ACTIVATION.NO_DATA' | translate}}"
                  ng-click="isCollapseConfiguration = !isCollapseConfiguration"
                  x-ng-class="{'cursor-pointer': translations.CONFIGURATION_POLICY != ''}">
            {{ 'MAIL_ACTIVATION.BOX_FORM.LEGEND_CONFIGURATION_POLICY' | translate }}
            <i class="fa fa-info pull-right"></i>
          </legend>
          <div class="description" collapse="!isCollapseConfiguration" x-ng-show="translations.CONFIGURATION_POLICY">
            {{ 'MAIL_ACTIVATION.DETAILS.' + mailActivation.identifier + '.CONFIGURATION_POLICY' | translate }}
          </div>
          <div class="col-sm-offset-1 col-sm-12">
            <div class="radio">
              <label>
                <input type="radio" name="configurationRadios" id="configurationRadios2" value="MANDATORY"
                       x-ng-model="mailActivation.configurationPolicy.policy"
                       x-ng-change="update()">
                {{ 'MAIL_ACTIVATION.BOX_FORM.RADIO_MANDATORY' | translate }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="configurationRadios" id="configurationRadios1" value="ALLOWED"
                       x-ng-model="mailActivation.configurationPolicy.policy"
                       x-ng-click="checkPolicyType(mailActivation.configurationPolicy)"
                       x-ng-change="update()">
                {{ 'MAIL_ACTIVATION.BOX_FORM.RADIO_ALLOWED' | translate }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="configurationRadios" id="configurationRadios0" value="FORBIDDEN"
                       x-ng-model="mailActivation.configurationPolicy.policy"
                       x-ng-change="update()">
                {{ 'MAIL_ACTIVATION.BOX_FORM.RADIO_FORBIDDEN' | translate }}
              </label>
            </div>
            <br>

            <div class="checkbox">
              <label>
                <input type="checkbox"
                       x-ng-disabled="disableStatus(mailActivation.configurationPolicy)"
                       x-ng-model="mailActivation.configurationPolicy.status"
                       x-ng-change="update()">
                {{ 'MAIL_ACTIVATION.BOX_FORM.LABEL_STATUS' | translate }}
              </label>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"
         x-ng-show="showDelegation()">
      <form>
        <fieldset>
          <legend class="legend"
                  title="{{translations.DELEGATION_POLICY ? 'MAIL_ACTIVATION.HELP' : 'MAIL_ACTIVATION.NO_DATA' | translate}}"
                  ng-click="isCollapseDelegation = !isCollapseDelegation"
                  x-ng-class="{'cursor-pointer': translations.DELEGATION_POLICY != ''}">
            {{ 'MAIL_ACTIVATION.BOX_FORM.LEGEND_DELEGATION_POLICY' | translate }}
            <i class="fa fa-info pull-right"></i>
          </legend>
          <div class="description" collapse="!isCollapseDelegation" x-ng-show="translations.DELEGATION_POLICY">
            {{ 'MAIL_ACTIVATION.DETAILS.' + mailActivation.identifier + '.DELEGATION_POLICY' | translate }}
          </div>
          <div class="col-sm-offset-1 col-sm-12">
            <div class="radio">
              <label>
                <input type="radio" name="delegationRadios" id="delegationRadios2" value="MANDATORY"
                       x-ng-model="mailActivation.delegationPolicy.policy"
                       x-ng-change="update()">
                {{ 'MAIL_ACTIVATION.BOX_FORM.RADIO_MANDATORY' | translate }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="delegationRadios" id="delegationRadios1" value="ALLOWED"
                       x-ng-model="mailActivation.delegationPolicy.policy"
                       x-ng-click="checkPolicyType(mailActivation.delegationPolicy)"
                       x-ng-change="update()">
                {{ 'MAIL_ACTIVATION.BOX_FORM.RADIO_ALLOWED' | translate }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="delegationRadios" id="delegationRadios0" value="FORBIDDEN"
                       x-ng-model="mailActivation.delegationPolicy.policy"
                       x-ng-change="update()">
                {{ 'MAIL_ACTIVATION.BOX_FORM.RADIO_FORBIDDEN' | translate }}
              </label>
            </div>
            <br>

            <div class="checkbox">
              <label>
                <input type="checkbox"
                       x-ng-disabled="disableStatus(mailActivation.delegationPolicy)"
                       x-ng-model="mailActivation.delegationPolicy.status"
                       x-ng-change="update()">
                {{ 'MAIL_ACTIVATION.BOX_FORM.LABEL_STATUS' | translate }}
              </label>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <form>
    <fieldset>
      <legend class="legend"
              title="{{translations.PARAMETER_DESCRIPTION ? 'MAIL_ACTIVATION.HELP' : 'MAIL_AC.NO_DATA' | translate}}"
              x-ng-click="isCollapseParameter = !isCollapseParameter"
              x-ng-class="{'cursor-pointer': translations.PARAMETER_DESCRIPTION != ''}">
        {{ 'MAIL_ACTIVATION.BOX_FORM.LEGEND_PARAMETERS' | translate }}
        <i class="fa fa-info pull-right"></i>
      </legend>
      <div class="description" collapse="!isCollapseParameter" x-ng-show="translations.PARAMETER_DESCRIPTION">
        {{ 'MAIL_ACTIVATION.DETAILS.' + mailActivation.identifier + '.PARAMETER_DESCRIPTION' | translate }}
      </div>
      <div class="form-group col-md-10">
        <div class="input-group">
          <span class="input-group-addon">
            <input name="$index" type="checkbox"
                   x-ng-model="mailActivation.enable"
                   x-ng-change="updateWithTimeout()"/>
          </span>
          <span class="form-control">
            {{ 'MAIL_ACTIVATION.PARAMETERS.BOOLEAN_' + mailActivation.enable | translate }}
          </span>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="form-group pull-right"
       x-ng-if="!isRootDomain()">
    <div class="col-md-12">
      <button class="btn btn-danger" type="button"
              x-ng-show="showResetToParent()"
              x-ng-click="resetToParent()">
        {{ 'MAIL_ACTIVATION.BOX_FORM.FORM_ACTIONS.BUTTON_RESET' | translate }}
      </button>
    </div>
  </div>
</div>
