<section class="content-header">
  <h1>
    {{'COMMON.TAB.MANAGE_DOMAINS' | translate}}
    <small>
      {{'MANAGE_DOMAINS.TITLE' | translate}}
    </small>
  </h1>
</section>
<section class="content"
         x-ng-controller="DomainManagementCtrl">
  <div class="row">
    <section class="col-md-4">
      <div x-ls-domain-tree state="edit" root="root">
    </section>
    <section class="col-md-8"
             x-ng-if="getCurrentDomain()">
      <div x-ls-domain-form reload="reload()">
    </section>
  </div>
</section>
