<section class="content-header">
  <h1>
    {{'G_Tab_Domains-Management' | i18n}}
    <small>
      {{'P_Domains-Management_Title' | i18n}}
    </small>
  </h1>
</section>
<section class="content"
         x-ng-controller="DomainManagementCtrl">
  <div class="row">
    <section class="col-md-4">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">
            {{'P_Domains-Management_BoxTreeTitle' | i18n}}
          </h3>
        </div>
        <div class="box-body">
          <div x-ls-domain-tree state="edit" root="root">
        </div>
      </div>
    </section>
    <section class="col-md-8"
             x-ng-if="getCurrentDomain()">
      <div x-ls-domain-form reload="reload()">
    </section>
  </div>
</section>
