<section class="content-header">
  <h1>
    {{'G_Tab_Domains-DomainPatterns' | i18n}}
    <small>
      {{'P_Domains-DomainPatterns_Title' | i18n}}
    </small>
  </h1>
</section>
<section class="content"
         x-ng-controller="DomainPatternCtrl">
  <div class="row">
    <section class="col-lg-12">
      <!-- Form -->
      <div x-ng-if="getCurrentDomainPattern()">
        <div x-ls-domain-pattern-form></div>
      </div>

      <!-- List -->
      <div x-ng-if="!getCurrentDomainPattern()">
        <div x-ls-domain-pattern-list></div>
      </div>
    </section>
  </div>
</section>
