<section class="content-header">
  <h1>
    {{'COMMON.TAB.LDAP_CONNECTIONS' | translate}}
    <small>
      {{'LDAP_CONNECTIONS.TITLE' | translate}}
    </small>
  </h1>
</section>
<section class="content"
         x-ng-controller="LdapConnectionCtrl">
  <div class="row">
    <section class="col-lg-12">
      <!-- Form -->
      <div x-ng-if="getCurrentLdapConnection()">
        <div x-ls-ldap-connection-form></div>
      </div>

      <!-- List -->
      <div x-ng-if="!getCurrentLdapConnection()">
        <div x-ls-ldap-connection-list></div>
      </div>
    </section>
  </div>
</section>
