<div class="content">
  <div class="row">
    <div class="container">
      <div class="page-header">
         <h1>{{'P_Domains-LDAPConnections_Title' | i18n}}</h1>

      </div>
      <div>
        <div class="btn-toolbar" data-ng-init="creationForm=false">
          <button class="btn btn-primary" type="button"  data-ng-click="creationForm=!creationForm">
            <i class="icon-plus icon-white"></i> {{'P_Domains-LDAPConnections_Add' | i18n}}
          </button>
        </div>
        <div data-ng-show="creationForm">
          <div data-linshare-ldap-connection-form></div>
        </div>
      </div>
      <div data-ng-controller="GridCtrl">
        <div data-grid-ldap-connections>
          <div data-ng-repeat="myElement in selections">
            <div data-linshare-ldap-connection-form data-ldap-connection="myElement"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
