<div class="content">
  <div class="row">
    <div class="container">
      <div class="page-header">
         <h1>{{'P_Domains-LDAPConnections_Title' | i18n}}</h1>

      </div>
      <div>
        <div class="btn-toolbar" data-ng-init="showCreationForm=false">
          <button class="btn btn-primary" type="button"  data-ng-click="showCreationForm=!showCreationForm" data-ng-switch="showCreationForm">
            <span data-ng-switch-when="false"><i class="icon-plus icon-white"></i> {{'P_Domains-LDAPConnections_Add' | i18n}}</span>
            <span data-ng-switch-when="true"><i class="icon-list icon-white"></i> {{'P_Domains-LDAPConnections_List' | i18n}}</span>
          </button>
        </div>
        <div data-ng-show="showCreationForm">
          <div data-linshare-ldap-connection-form data-show-creation-form="showCreationForm"></div>
        </div>
      </div>
      <div data-ng-controller="GridCtrl" data-ng-show="!showCreationForm">
        <div data-grid-ldap-connections>
          <div data-ng-repeat="myElement in selections">
            <div data-linshare-ldap-connection-form data-ldap-connection="myElement"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
