<div class="box box-primary">
  <!-- Header - Begin -->
  <div class="box-header">
    <h3 class="box-title">{{domain.label}}</h3>
    <small x-ng-show="mailFooter.readonly" class="label label-danger">
      <i class="fa fa-eye"></i>
      {{ 'MAIL_FOOTER.SHOW_FORM.LABEL' | translate }}
    </small>
    <div class="pull-right box-tools">
      <a class="list btn-back"
         x-ui-sref="mailfooter.list({domainId: domain.identifier})"
         tooltip="{{'COMMON.BASIC_FORM.BUTTON_CLOSE' | translate}}">
        <i class="fa fa-2x fa-list pink"></i>
      </a>
    </div>
  </div>
  <!-- Header - End -->
  <form class="form" name="mailFooterForm" role="form" novalidate
      x-ls-form-submit="update()"
      x-ls-form-attempt>
    <fieldset>
      <div class="box-body">
        <fieldset x-ng-disabled="mailFooter.readonly">
          <!-- Description -->
          <div class="form-group">
            <label for="description">
              {{ 'MAIL_FOOTER.BOX_FORM.LABEL_NAME' | translate }}
            </label>
            <textarea id="description" name="description" type="text" class="form-control"
                required
                x-ng-model="mailFooter.description">
            </textarea>
          </div>
          <!-- Footer -->
          <div class="form-group">
            <label for="footer">
              {{ 'MAIL_FOOTER.BOX_FORM.LABEL_FOOTER' | translate }}
            </label>
            <textarea id="footer" name="footer" type="text" class="form-control"
                x-ng-model="mailFooter.footer">
            </textarea>
          </div>
          <!-- French -->
          <div class="form-group">
            <label for="messagesFrench">
              {{ 'MAIL_FOOTER.BOX_FORM.LABEL_FRENCH' | translate }}
            </label>
            <textarea id="messagesFrench" name="messagesFrench" type="text" class="form-control"
                x-ng-model="mailFooter.messagesFrench">
            </textarea>
          </div>
          <!-- English -->
          <div class="form-group">
            <label for="messagesEnglish">
              {{ 'MAIL_FOOTER.BOX_FORM.LABEL_ENGLISH' | translate }}
            </label>
            <textarea id="messagesEnglish" name="messagesEnglish" type="text" class="form-control"
                x-ng-model="mailFooter.messagesEnglish">
            </textarea>
          </div>
          <!-- Visible -->
          <div class="input-group">
            <span class="input-group-addon">
              <input id="visible" name="visible" type="checkbox"
                  x-ng-model="mailFooter.visible">
            </span>
            <span class="form-control">
              {{ 'MAIL_FOOTER.BOX_FORM.LABEL_VISIBLE' | translate }}
            </span>
          </div>
        </fieldset>
      </div>
      <div class="box-footer">
        <!-- Validation -->
        <button type="button" id="delete" name="delete" class="btn btn-danger"
            x-ng-click="remove()" x-ng-disabled="mailFooter.readonly">
          {{ 'MAIL_FOOTER.BOX_FORM.FORM_ACTIONS.BUTTON_DELETE' | translate }}
        </button>
        <button type="button" id="copy" name="copy" class="btn btn-info" x-ng-click="copy()">
          {{ 'MAIL_FOOTER.BOX_FORM.FORM_ACTIONS.BUTTON_COPY' | translate }}
        </button>
        <button type="button" id="reset" name="reset" class="btn btn-warning"
            x-ng-click="reset()" x-ng-disabled="mailFooter.readonly">
          {{ 'MAIL_FOOTER.BOX_FORM.FORM_ACTIONS.BUTTON_RESET' | translate }}
        </button>
        <button type="submit" id="submit" name="submit" class="btn btn-success" x-ng-disabled="mailFooter.readonly">
          {{ 'MAIL_FOOTER.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
        </button>
      </div>
    </fieldset>
  </form>
</div>
