<ul>
  <li x-ng-repeat="node in nodes">
    <div x-ng-init="toggleSubNodes=false"></div> <span id="{{node.key}}" x-ng-click="toggleSubNodes=!toggleSubNodes;">
      <input type="checkbox" value="{{node.value}}" x-ng-model="isChecked" x-ng-click="toggleSubNodes=!toggleSubNodes"></input>
      {{node.key}}
      <i x-ng-class="{'icon-chevron-up':!toggleSubNodes, 'icon-chevron-down':toggleSubNodes}" class="icon-black"></i>
    </span>

    <ul x-ng-show="toggleSubNodes" x-ng-animate="'slide'">
      <li x-ng-repeat="subnode in node.values"> <span id="{{subnode.key}}">
          <input type="checkbox" value="{{subnode.value}}" x-ng-checked="isChecked"></input>
          {{subnode.key}}
        </span>

      </li>
    </ul>
  </li>
</ul>
