<div class="well">
  <ul class="nav nav-list">
    <li>
      <div class="btn-toolbar">
        <div class="btn-group dropdown">
          <button class="btn btn-primary" x-ng-click="configDomain(userRootDomain)">{{userRootDomain.label}}</button>
        </div>
        <ul class="nav nav-list" style="margin-left:20px">
          <li x-ng-repeat="domain in userRootDomain.children | orderBy:'label'">
            <div class="btn-toolbar">
              <div class="btn-group dropdown">
                <button class="btn" style="min-width:150px" x-ng-click="configDomain(domain)">{{domain.label}}</button>
              </div>
            </div>
            <ul class="nav nav-list" style="margin-left:20px">
              <li x-ng-repeat="child in domain.children | orderBy:'label'">
                <div class="btn-toolbar">
                  <div class="btn-group dropdown">
                    <button class="btn" style="min-width:150px" x-ng-click="configDomain(child)">{{child.label}}</button>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
