<h4>{{domain.label}}</h4>
<div x-ng-show="spinner" class="spinner"></div>

<table x-ng-table="tableParams" class="table">
  <tr x-ng-repeat="functionality in $data" x-ng-click="edit(functionality)">
    <td data-title="'P_Administration-Functionalities_Status' | i18n" sortable="'activationPolicy.status'">
      <span x-ng-style="style(functionality)">
        <i x-ng-show="isActivated(functionality)" class="icon-ok icon-white"></i>
        <i x-ng-show="!isActivated(functionality)" class="icon-remove icon-white"></i>
      </span>
    </td>
    <td data-title="'P_Administration-Functionalities_Name' | i18n" sortable="'localizedName'">
      <span>
        {{functionality.localizedName}}
      </span>
    </td>
  </tr>
</table>
