<div class="well">
  <div>
    <ul class="nav nav-list">
      <li>
        <div>
          <div class="btn-toolbar">
            <div class="btn-group dropdown">
              <button class="btn btn-primary" data-ng-click="configDomain(rootDomain)">{{rootDomain.label}}</button>
            </div>
          </div>
          <ul class="nav nav-list" style="margin-left:20px">
            <div data-ng-repeat="topDomain in rootDomain.children | orderBy:'label'">
              <li>
                <div class="btn-toolbar">
                  <div class="btn-group dropdown">
                    <button class="btn" style="min-width:150px" data-ng-click="configDomain(topDomain)">{{topDomain.label}}</button>
                  </div>
                  <ul class="nav nav-list" style="margin-left:20px">
                    <li data-ng-repeat="subDomain in topDomain.children | orderBy:'label'">
                      <div class="btn-toolbar">
                        <button class="btn" style="min-width:150px" data-ng-click="configDomain(subDomain)">{{subDomain.label}}</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </div>
          </ul>
        <div>
      </li>
    </ul>
  </div>
</div>
