<form class="well">
  <h5>{{'P_Administration-Functionalities_ActivationPolicy' | i18n}}</h5>
  <label class="radio inline">
      <input type="radio" name="activationRadios" id="activationRadios0" value="FORBIDDEN"
             data-ng-model="functionality.activationPolicy.policy" data-ng-change="update(functionality)">
      {{'P_Administration-Functionalities_Forbidden' | i18n}}
  </label>
  <label class="radio inline">
      <input type="radio" name="activationRadios" id="activationRadios1" value="ALLOWED"
             data-ng-model="functionality.activationPolicy.policy" data-ng-change="update(functionality)">
      {{'P_Administration-Functionalities_Allow' | i18n}}
  </label>
  <label class="radio inline">
      <input type="radio" name="activationRadios" id="activationRadios2" value="MANDATORY"
             data-ng-model="functionality.activationPolicy.policy" data-ng-change="update(functionality)">
      {{'P_Administration-Functionalities_Mandatory' | i18n}}
  </label>
  <label class="checkbox">
      <input type="checkbox"
             data-ng-disabled="disableStatus(functionality.activationPolicy)"
             data-ng-checked="updateStatus(functionality.activationPolicy)"
             data-ng-model="functionality.activationPolicy.status" data-ng-change="update(functionality)">
      {{'P_Administration-Functionalities_Status' | i18n}}
  </label>
</form>
<form class="well" data-ng-show="showConfiguration(functionality)">
  <h5>{{'P_Administration-Functionalities_ConfigurationPolicy' | i18n}}</h5>
  <label class="radio inline">
      <input type="radio" name="configurationRadios" id="configurationRadios0" value="FORBIDDEN"
             data-ng-model="functionality.configurationPolicy.policy" data-ng-change="update(functionality)">
      {{'P_Administration-Functionalities_Forbidden' | i18n}}
  </label>
  <label class="radio inline">
      <input type="radio" name="configurationRadios" id="configurationRadios1" value="ALLOWED"
             data-ng-model="functionality.configurationPolicy.policy" data-ng-change="update(functionality)">
      {{'P_Administration-Functionalities_Allow' | i18n}}
  </label>
  <label class="radio inline">
      <input type="radio" name="configurationRadios" id="configurationRadios2" value="MANDATORY"
             data-ng-model="functionality.configurationPolicy.policy" data-ng-change="update(functionality)">
      {{'P_Administration-Functionalities_Mandatory' | i18n}}
  </label>
  <label class="checkbox">
      <input type="checkbox"
             data-ng-disabled="disableStatus(functionality.configurationPolicy)"
             data-ng-checked="updateStatus(functionality.configurationPolicy)"
             data-ng-model="functionality.configurationPolicy.status" data-ng-change="update(functionality)">
      {{'P_Administration-Functionalities_Status' | i18n}}
  </label>
</form>

<form name="paramForm" class="well" data-ng-show="showConfiguration(functionality)">
  <h5>{{'P_Administration-Functionalities_Parameters' | i18n}}</h5>
  <div data-ng-repeat="parameter in functionality.parameters">
    <div data-ng-switch="parameter.type">
      <div data-ng-switch-when="INTEGER">
        <div class="control-group">
          <label class="control-label" for="$index"></label>
          <div class="controls">
            <input name="$index" type="number" class="input-large" 
              data-ng-model="parameter.integer" data-ng-change="updateWithTimeout(functionality)" 
              min="0" max="2147483647" required>
          </div>
        </div>
      </div>
      <div data-ng-switch-when="UNIT_TIME">
        <div class="control-group">
          <label class="control-label" for="$index"></label>
          <div class="controls">
            <input name="$index" type="number" class="input-large" 
              data-ng-model="parameter.integer" data-ng-change="updateWithTimeout(functionality)" 
              min="0" max="2147483647" required>
            <select data-ng-model="parameter.string">
              <option data-ng-repeat="option in parameter.select">{{option}}</option>
            </select>
          </div>
        </div>
      </div>
      <div data-ng-switch-when="UNIT_SIZE">
        <div class="control-group">
          <label class="control-label" for="$index"></label>
          <div class="controls controls-row">
            <input name="$index" type="number" class="input-large" 
              data-ng-model="parameter.integer" data-ng-change="updateWithTimeout(functionality)" 
              min="0" max="2147483647" required>
            <select data-ng-model="parameter.string" data-ng-change="update(functionality)">
              <option data-ng-repeat="option in parameter.select">{{option}}</option>
            </select>
          </div>
        </div>
      </div>
      <div data-ng-switch-when="STRING">
        <div class="control-group">
          <label class="control-label" for="$index"></label>
          <div class="controls">
            <input name="$index" type="text" class="input-large" 
              data-ng-model="parameter.string" data-ng-change="updateWithTimeout(functionality)" 
              data-ng-minLength="1" required>
            <input name="$index" type="text" class="input-xlarge" data-ng-model="parameter.string">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="control-group pull-right">
  <div class="controls">
    <button class="btn btn-danger" type="button" data-ng-click="reset(functionality)">
      {{'P_Administration-Functionalities_Reset' | i18n}}
    </button>
  </div>
</div>

