<script type="text/ng-template" id="functionality_renderer">
  <div class="row-fluid">
    <h4>{{domain.label}} - {{functionality.localizedName}}</h4>
  </div>
  <div class="row-fluid">
    <form class="well span6"
          x-ng-if="showActivation(functionality)">
      <h5>{{'P_Administration-Functionalities_ActivationPolicy' | i18n}}</h5>
      <label class="radio control-label">
          <input type="radio" name="activationRadios" id="activationRadios2" value="MANDATORY"
                 x-ng-model="functionality.activationPolicy.policy"
                 x-ng-change="update()">
          {{'P_Administration-Functionalities_Mandatory' | i18n}}
      </label>
      <label class="radio control-label">
          <input type="radio" name="activationRadios" id="activationRadios1" value="ALLOWED"
                 x-ng-model="functionality.activationPolicy.policy"
                 x-ng-click="checkPolicyType(functionality.activationPolicy)"
                 x-ng-change="update()">
          {{'P_Administration-Functionalities_Allow' | i18n}}
      </label>
      <label class="radio control-label">
          <input type="radio" name="activationRadios" id="activationRadios0" value="FORBIDDEN"
                 x-ng-model="functionality.activationPolicy.policy"
                 x-ng-change="update()">
          {{'P_Administration-Functionalities_Forbidden' | i18n}}
      </label>
      <br>
      <label class="checkbox">
          <input type="checkbox"
                 x-ng-disabled="disableStatus(functionality.activationPolicy)"
                 x-ng-model="functionality.activationPolicy.status"
                 x-ng-change="update()">
          {{'P_Administration-Functionalities_Status' | i18n}}
      </label>
    </form>
    <form class="well span6"
          x-ng-show="showConfiguration(functionality)">
      <h5>{{'P_Administration-Functionalities_ConfigurationPolicy' | i18n}}</h5>
      <label class="radio control-label">
          <input type="radio" name="configurationRadios" id="configurationRadios2" value="MANDATORY"
                 x-ng-model="functionality.configurationPolicy.policy"
                 x-ng-change="update()">
          {{'P_Administration-Functionalities_Mandatory' | i18n}}
      </label>
      <label class="radio control-label">
          <input type="radio" name="configurationRadios" id="configurationRadios1" value="ALLOWED"
                 x-ng-model="functionality.configurationPolicy.policy"
                 x-ng-click="checkPolicyType(functionality.configurationPolicy)"
                 x-ng-change="update()">
          {{'P_Administration-Functionalities_Allow' | i18n}}
      </label>
      <label class="radio control-label">
          <input type="radio" name="configurationRadios" id="configurationRadios0" value="FORBIDDEN"
                 x-ng-model="functionality.configurationPolicy.policy"
                 x-ng-change="update()">
          {{'P_Administration-Functionalities_Forbidden' | i18n}}
      </label>
      <br>
      <label class="checkbox">
          <input type="checkbox"
                 x-ng-disabled="disableStatus(functionality.configurationPolicy)"
                 x-ng-model="functionality.configurationPolicy.status"
                 x-ng-change="update()">
          {{'P_Administration-Functionalities_Status' | i18n}}
      </label>
    </form>
  </div>

  <div class="row-fluid">
    <form name="paramForm" class="well span6"
          x-ng-if="showConfiguration(functionality)">
      <h5>{{'P_Administration-Functionalities_Parameters' | i18n}}</h5>
      <div x-ng-repeat="parameter in functionality.parameters">
        <div x-ng-switch="parameter.type">
          <div x-ng-switch-when="INTEGER">
            <div class="control-group">
              <label class="control-label" for="$index"></label>
              <div class="controls">
                <input name="$index" type="number" class="input-large" min="0" max="2147483647" required
                       x-ng-model="parameter.integer"
                       x-ng-change="updateWithTimeout()">
              </div>
            </div>
          </div>
          <div x-ng-switch-when="UNIT_TIME">
            <div class="control-group">
              <label class="control-label" for="$index"></label>
              <div class="controls">
                <input name="$index" type="number" class="input-large" min="0" max="2147483647" required
                       x-ng-model="parameter.integer"
                       x-ng-change="updateWithTimeout()">
                <select x-ng-model="parameter.string">
                  <option x-ng-repeat="option in parameter.select">
                    {{option}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div x-ng-switch-when="UNIT_SIZE">
            <div class="control-group">
              <label class="control-label" for="$index"></label>
              <div class="controls controls-row">
                <input name="$index" type="number" class="input-large" min="0" max="2147483647" required
                       x-ng-model="parameter.integer"
                       x-ng-change="updateWithTimeout()">
                <select x-ng-model="parameter.string"
                        x-ng-change="update()">
                  <option x-ng-repeat="option in parameter.select">
                    {{option}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div x-ng-switch-when="STRING">
            <div class="control-group">
              <label class="control-label" for="$index"></label>
              <div class="controls">
                <input name="$index" type="text" class="input-large" required
                       x-ng-model="parameter.string"
                       x-ng-change="updateWithTimeout()" 
                       x-ng-minLength="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</script>
<div class="pull-right spinner-small"
     x-ng-show="spinner">
</div>
<div class="functionality-parent"
     x-ng-include="'functionality_renderer'">
</div>
<div class="functionality-children">
  <div x-ng-repeat="functionality in functionality.functionalities"
       x-ng-include="'functionality_renderer'">
  </div>
</div>
<div class="row-fluid">
  <div class="control-group"
       x-ng-if="!isRootDomain()">
    <div class="controls">
      <button class="btn btn-danger" type="button"
              x-ng-click="resetToParent()">
        {{'P_Administration-Functionalities_Reset' | i18n}}
      </button>
    </div>
  </div>
</div>
