<p><strong>USAGE OF UPLOAD REQUEST</strong></p>
<p>
Une invitation de dépôt est l'ouverture temporaire et réglementée de la possibilité, pour un utilisateur externe au système LinShare, de procéder au téléversement de fichiers dans l'espace personnel d'un utilisateur interne au système.
</p>
<div collapse="!functionality.collapse.showDsec">
<p>
  Un utilisateur interne à LinShare souhaitant qu'un utilisateur externe lui dépose des fichiers dans son espace personnel, procède selon le principe suivant :
<p>
<ul>
<li>L'utilisateur interne, qui est l'émetteur de l'invitation, créé une invitation de dépôt en utilisant l'application.</br>Il peut notamment, lors de cette création, modifier les conditions d'utilisation de l'invitation de dépôt en changeant le paramétrage par défaut dans la limite des possibilités que lui a octroyées l'administrateur.</li>

<li>Le système notifie l'utilisateur externe, c'est à dire le destinataire de l'invitation.</br>Cette notification est un courriel disposant d'un lien HTTPS unique pointant vers une interface de dépôt LinShare et indiquant ses conditions d'utilisation.</br>Cette interface permet au(x) destinataire(s) de déposer un ou plusieurs documents à l'attention de l'émetteur. </li>

<li>L'invitation de dépôt est close lorsque sa date d'expiration est atteinte (à 0H00), ou par une action manuelle de l'émetteur ou du destinataire, selon la configuration de l'invitation.</li>
</ul>
</div>
<i class="fa fa-fw btn-description pull-right" ng-click="functionality.collapse.showDsec = !functionality.collapse.showDsec" ng-class="{'fa-plus': !functionality.collapse.showDsec, 'fa-minus': functionality.collapse.showDsec}"></i>