<section class="content-header">
  <h1>
    {{ 'COMMON.NAVBAR.CHANGE_PASSWORD' | translate }}
  </h1>
</section>
<section class="content"
         x-ng-controller="PasswordCtrl">
  <div class="row">
    <section class="col-lg-6">
      <div class="box box-primary">
        <form class="form" name="passwordForm"
              x-ls-form-submit="match(password.newPwd, newPwdRetyped) && submit()"
              x-ls-form-attempt>
          <div class="box-body">
            <div class="form-group"
                 x-ng-class="{'has-error': passwordForm.oldPwd.$invalid &&
                   (passwordForm.oldPwd.$dirty || ls.passwordForm.attempted)}">
              <label for="oldPwd">
                {{ 'CHANGE_PASSWORD.BOX_FORM.LABEL_PASSWORD.OLD' | translate }}
              </label>
              <input id="oldPwd" name="oldPwd" type="password" class="form-control" required
                     x-ng-model="password.oldPwd">
            </div>
            <div class="form-group"
                 x-ng-class="{'has-error': passwordForm.newPwd.$invalid &&
                   (passwordForm.newPwd.$dirty || ls.passwordForm.attempted)}">
              <label for="newPwd">
                {{ 'CHANGE_PASSWORD.BOX_FORM.LABEL_PASSWORD.NEW' | translate }}
              </label>
            <meter value="{{ strengthScore(password.newPwd) }}" min="0" low="30" optimum="70" high="50" max="100"
                   style="margin-left:10px">
            </meter>
              <input id="newPwd" name="newPwd" type="password" class="form-control" required
                     x-ng-model="password.newPwd">
            </div>
            <div class="form-group"
                 x-ng-class="{'has-error': !match(password.newPwd, newPwdRetyped) ||
                   (passwordForm.newPwdRetyped.$invalid &&
                   (passwordForm.newPwdRetyped.$dirty || ls.passwordForm.attempted))}">
              <label for="newPwdRetyped">
                {{ 'CHANGE_PASSWORD.BOX_FORM.LABEL_PASSWORD.NEW_RETYPED' | translate }}
              </label>
              <input id="newPwdRetyped" name="newPwdRetyped" type="password" class="form-control" required
                     x-ng-model="newPwdRetyped">
            </div>
          </div>
          <div class="box-footer">
            <!-- Validation -->
            <button type="button" id="cancel" name="cancel" class="btn btn-default"
                    x-ng-click="redirectToHome()">
              {{ 'CHANGE_PASSWORD.BOX_FORM.FORM_ACTIONS.BUTTON_CANCEL' | translate }}
            </button>
            <button type="submit" id="submit" name="submit" class="btn btn-success">
              {{ 'CHANGE_PASSWORD.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</section>
