<div class="quota-ctn adaptable-area">
  <div class="quota-value-ctn" data-ng-class="container.colors.main">
    <p class="quota-value" data-ng-if="!container.areas" data-ng-show="container.width > 3">
      {{container.value.display}}
    </p>
    <!-- TODO: KLE disable tooltip if user has unlinked the value -->
    <div class="interactive-right-border" data-ng-show="container.dynamic"
         tooltip-placement="top"
         tooltip-popup-delay="150" tooltip-enable="true"
         tooltip-append-to-body="true"
         tooltip="{{container.dynamic.tooltip | translate}}">
      <div data-ng-class="container.colors.border"></div>
      <i class="interactive-arrow-hint fa fa-caret-right" data-ng-class="container.colors.label"></i>
    </div>
    <div data-ng-if="container.areas" data-ng-repeat="area in container.areas" data-ng-class="area.colors.main"
         graph-area="area">
    </div>
  </div>
  <div class="footer-graph"
       data-ng-class="container.footer ? container.colors.border + ' current-color' : 'unassigned-clr'">
    <span class="data-slider-display main-value" data-ng-if="container.footer.value"
          data-ng-class="container.colors.label">
      {{container.footer.value}}
    </span>
    <i class="slider-arrow fa fa-caret-up" data-ng-if="container.footer.value"
       data-ng-class="container.colors.label">
    </i>
  </div>
</div>
