<div class="modal-header">
  <h3 class="modal-title">
    {{'MAIL_CONFIG.MODAL_FORM.TITLE' | translate}}
  </h3>
</div>
<form class="form" name="mailConfigForm" role="form" novalidate
      x-ls-form-submit="create(model)"
      x-ls-form-attempt>
  <fieldset>
    <div class="modal-body">
      <!-- Name -->
      <div class="form-group" x-ng-class="{'has-error': mailConfigForm.name.$invalid &&
            (mailConfigForm.name.$dirty || ls.mailConfigForm.attempted)}">
        <label for="name">
          {{'MAIL_CONFIG.MODAL_FORM.LABEL_NAME' | translate}}
        </label>
        <input id="name" name="name" type="text" class="form-control" required
               x-ng-model="mailConfig.name">
      </div>
      <fieldset>
        <legend>
          {{'MAIL_CONFIG.MODAL_FORM.LABEL_MODEL' | translate}}
        </legend>
        <!-- Domain -->
        <div class="form-group"
             x-ng-class="{'has-error': mailConfigForm.domain.$invalid &&
              (mailConfigForm.domain.$dirty || ls.mailConfigForm.attempted)}">
          <label for="domain">
            {{'MAIL_CONFIG.MODAL_FORM.LABEL_TARGET_DOMAIN' | translate}}
          </label>
          <select id="domain" name="domain" class="form-control" required
                  x-ng-model="domain"
                  x-ng-change="reloadModels(lang, domain)"
                  x-ng-options="d.label for d in domains | orderBy:'identifier'">
          </select>
        </div>
        <!-- Model -->
        <div class="form-group"
             x-ng-show="isDefined(domain)"
             x-ng-class="{'has-error': mailConfigForm.model.$invalid &&
              (mailConfigForm.model.$dirty || ls.mailConfigForm.attempted)}">
          <label for="model">
            {{'MAIL_CONFIG.MODAL_FORM.LABEL_MODEL' | translate}}
          </label>
          <select id="model" name="model" class="form-control" required
                  x-ng-model="model"
                  x-ng-options="m.name for m in models">
          </select>
        </div>
        <!-- Visible -->
        <div class="input-group">
          <span class="input-group-addon">
            <input id="visible" name="visible" type="checkbox"
                   x-ng-model="mailConfig.visible">
          </span>
          <span class="form-control">
            {{'MAIL_CONFIG.MODAL_FORM.LABEL_VISIBLE' | translate}}
          </span>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default"
              x-ng-click="cancel()">
        {{'MAIL_CONFIG.MODAL_FORM.FORM_ACTIONS.BUTTON_CANCEL' | translate}}
      </button>
      <button type="submit" class="btn btn-primary">
        {{'MAIL_CONFIG.MODAL_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate}}
      </button>
    </div>
  </fieldset>
</form>
