<div class="box box-primary">
  <!-- Header - Begin -->
  <div class="box-header">
    <h3 class="box-title">
      {{domain.label}}
    </h3>
    <small x-ng-if="mailConfig.readonly" class="label label-danger">
     <i class="fa fa-eye"></i>
      {{'MAIL_CONFIG.SHOW_FORM.LABEL' | translate}}
    </small>
    <div class="pull-right box-tools">
      <a class="list btn-back"
         x-ui-sref="mailconfig.list({domainId: domain.identifier})"
         tooltip="{{'COMMON.BASIC_FORM.BUTTON_CLOSE' | translate}}">
        <i class="fa fa-2x fa-list pink"></i>
      </a>
    </div>
  </div>
  <!-- Header - End -->
  <form class="form" name="mailConfigForm" role="form" novalidate
      x-ls-form-submit="update(true)"
      x-ls-form-attempt>
    <fieldset>
      <div class="box-body">
        <fieldset>
          <!-- Name -->
          <div class="form-group">
            <label for="name">
              {{'MAIL_CONFIG.BOX_FORM.LABEL_NAME' | translate}}
            </label>
            <input id="name" name="name" type="text" class="form-control"
                required
                x-ng-model="mailConfig.name" x-ng-disabled="mailConfig.readonly">
          </div>
          <!-- Visible -->
          <div class="form-group">
            <label for="visible">
              {{'MAIL_CONFIG.BOX_FORM.LABEL_VISIBLE' | translate}}
            </label>
            <div class="input-group">
              <span class="input-group-addon">
                <input id="visible" name="visible" type="checkbox"
                    x-ng-model="mailConfig.visible" x-ng-disabled="mailConfig.readonly">
              </span>
              <span class="form-control" x-ng-if="mailConfig.visible">
                {{'MAIL_CONFIG.BOX_LIST.TABLE.PUBLIC' | translate}}
              </span>
              <span class="form-control" x-ng-if="!mailConfig.visible">
                {{'MAIL_CONFIG.BOX_LIST.TABLE.PRIVATE' | translate}}
              </span>
            </div>
            <p class="help-block">{{'MAIL_CONFIG.BOX_FORM.LEGEND_VISIBLE' | translate}}</p>
          </div>
          <!-- Mail layout -->
          <div class="form-group"
              x-ng-class="{'has-error': mailConfigForm.mailLayout.$invalid &&
                (mailConfigForm.mailLayout.$dirty || ls.mailConfigForm.attempted)}">
            <label for="mailLayout">
              {{'MAIL_CONFIG.BOX_FORM.LABEL_MAIL_LAYOUT' | translate}}
            </label>
            <select id="mailLayout" name="mailLayout" class="form-control" required
                x-ng-model="mailConfig.mailLayout"
                x-ng-change="update(false)"
                x-ng-options="mlh.uuid as mlh.description for mlh in mailLayouts | orderBy:'description'"
                x-ng-disabled="mailConfig.readonly">
            </select>
          </div>
          <!-- Mail footer -->
          <div class="table-responsive">
            <table class="table table-striped table-hover"
                show-filter="true"
                x-ng-table="tableFooterParams">
              <tr x-ng-repeat="mailFooterLang in $data" class="not-linked"
                  x-ui-sref="mailconfig.mailfooterlang({mailConfigId: $state.params.id, id: mailFooterLang.uuid, domainId: $state.params.domainId})">
                <td style="cursor: pointer"
                    data-title="'MAIL_CONFIG.BOX_FORM.TABLE.HEADER_MAIL_LANGUAGE' | translate"
                    filter="{'language': 'text'}"
                    sortable="'language'">
                  <span>
                    {{'MAIL_CONFIG.BOX_FORM.HEADER.LANGUAGE.' + mailFooterLang.language | translate}}
                  </span>
                </td>
                <td style="cursor: pointer"
                    data-title="'MAIL_CONFIG.BOX_FORM.TABLE.HEADER_MAIL_FOOTER_NAME' | translate"
                    filter="{'mailFooterName': 'text'}"
                    sortable="'mailFooterName'">
                  <span>
                    {{mailFooterLang.mailFooterName}}
                  </span>
                </td>
              </tr>
            </table>
          </div>
          <!-- Mail contents -->
          <div class="table-responsive">
            <table class="table table-striped table-hover"
                show-filter="true"
                x-ng-table="tableContentParams">
              <tr x-ng-repeat="mailContentLang in $data" class="not-linked"
                  x-ui-sref="mailconfig.mailcontentlang({mailConfigId: $state.params.id, id: mailContentLang.uuid, domainId: $state.params.domainId})">
                <td style="cursor: pointer"
                    data-title="'MAIL_CONFIG.BOX_FORM.TABLE.HEADER_MAIL_LANGUAGE' | translate"
                    filter="{'language': 'text'}"
                    sortable="'language'">
                  <span>
                    {{'MAIL_CONFIG.BOX_FORM.HEADER.LANGUAGE.' + mailContentLang.language | translate}}
                  </span>
                </td>
                <td style="cursor: pointer"
                    data-title="'MAIL_CONFIG.BOX_FORM.TABLE.HEADER_MAIL_CONTENT_TYPE' | translate"
                    filter="{'mailContentType': 'text'}"
                    sortable="'mailContentType'">
                  <span>
                    {{mailContentLang.mailContentType}}
                  </span>
                </td>
                <td style="cursor: pointer"
                    data-title="'MAIL_CONFIG.BOX_FORM.TABLE.HEADER_MAIL_CONTENT_LEGEND' | translate"
                    filter="{'mailContentTypeTranslated': 'text'}"
                    sortable="'mailContentTypeTranslated'">
                  <span>
                    {{ mailContentLang.mailContentTypeTranslated}}
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </fieldset>
      </div>
      <div class="box-footer">
      <!-- Validation -->
      <div class="form-group">
        <button type="button" id="delete" name="delete" class="btn btn-danger" x-ng-click="remove()"
                x-ng-disabled="mailConfig.readonly">
          {{'MAIL_CONFIG.BOX_FORM.FORM_ACTIONS.BUTTON_DELETE' | translate}}
        </button>
        <button type="button" id="copy" name="copy" class="btn btn-info" x-ng-click="copy()">
          {{'MAIL_CONFIG.BOX_FORM.FORM_ACTIONS.BUTTON_COPY' | translate}}
        </button>
        <button type="button" id="reset" name="reset" class="btn btn-warning" x-ng-click="reset()"
                x-ng-disabled="mailConfig.readonly">
          {{'MAIL_CONFIG.BOX_FORM.FORM_ACTIONS.BUTTON_RESET' | translate}}
        </button>
        <button type="submit" id="submit" name="submit" class="btn btn-success"
                x-ng-disabled="mailConfig.readonly">
          {{'MAIL_CONFIG.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate}}
        </button>
      </div>
      </div>
    </fieldset>
  </form>
</div>
