<section class="content-header">
  <h1>
    {{ 'COMMON.TAB.MIME_POLICIES' | translate }}
    <small>
      {{ 'MIME_POLICIES.TITLE' | translate }}
    </small>
  </h1>
</section>
<section class="content"
         x-ng-controller="MimePolicyCtrl">
  <div class="row">
    <section class="col-md-4"
             x-ng-if="!getCurrentMimePolicy()">
      <div x-ls-domain-tree root="root">
    </section>
    <section class="col-md-8"
             x-ng-if="getCurrentDomain() && !getCurrentMimePolicy()">
      <div x-ls-mime-policy-list></div>
    </section>
    <section class="col-md-12"
             x-ng-if="getCurrentDomain() && getCurrentMimePolicy()">
      <div x-ls-mime-policy-form></div>
    </section>
  </div>
</section>
