@import "~ant-design-vue/dist/antd.less";
@import './variables.less';
@import "./fonts/Inter/inter";

.page {
  &__menu-item {
    cursor: pointer;
    padding: 15px 0px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 16px;
      color: @text-color;
    }

    .anticon {
      color: @primary-4;
      font-size: 14px;
    }
  }
}

/*========================================================
CUSTOME SCROLLBAR
=========================================================*/
.ls-scrollbar{
  &::-webkit-scrollbar {
    width: 0.5em;
  }
  
  *::-webkit-scrollbar-track {
    background-color: #F7F7FA;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #E4E5F0 !important;
    border-radius: 100px;
  }
}
