<div class="modal-header">
  <h3 class="modal-title" translate>UPGRADE_TASKS.MODAL.TITLE</h3>
</div>
<div class="modal-body"
     translate
     translate-values="{STATUS: status}"
     translate-interpolation="messageformat">
    UPGRADE_TASKS.MODAL.TEXT
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-ng-click="$close(false)" translate>
    UPGRADE_TASKS.MODAL.BUTTONS.CANCEL
  </button>
  <button class="btn btn-danger" data-ng-click="$close(true)" translate>
    UPGRADE_TASKS.MODAL.BUTTONS.OK
  </button>
</div>
