<div class="modal-header">
  <h3 class="modal-title">
    {{ 'MAIL_LAYOUT.MODAL_FORM.TITLE' | translate }}
  </h3>
</div>
<form class="form" name="mailLayoutForm" role="form" novalidate
      x-ls-form-submit="create()"
      x-ls-form-attempt>
  <fieldset>
    <div class="modal-body">
        <!-- Name -->
        <div class="form-group">
          <label for="name">
            {{ 'MAIL_LAYOUT.MODAL_FORM.LABEL_NAME' | translate }}
          </label>
          <input id="name" name="name" type="text" class="form-control"
                 required
                 x-ng-model="mailLayout.name">
        </div>
        <!-- Model -->
        <div class="form-group">
          <label for="model">
            {{ 'MAIL_LAYOUT.MODAL_FORM.LABEL_MODEL' | translate }}
          </label>
          <select id="model" name="model"
                  x-ng-model="model"
                  x-ng-options="modelRepresentation(m) for m in models">
          </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                x-ng-click="cancel()">
          {{ 'MAIL_LAYOUT.MODAL_FORM.FORM_ACTIONS.BUTTON_CANCEL' | translate }}
        </button>
        <button type="submit" class="btn btn-primary">
          {{ 'MAIL_LAYOUT.MODAL_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
        </button>
    </div>
  </fieldset>
</form>
