<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{ domain.label }}
    </h3>
  </div>
  <div class="box-body">
    <button type="button" class="btn btn-success"
            x-ng-click="add()">
      <i class="fa fa-plus"></i>
      {{ 'MAIL_CONFIG.BOX_LIST.BUTTON_ADD' | translate }}
    </button>
    <div class="table-responsive">
      <table class="table table-striped"
             x-ng-table="tableParams">
        <tr x-ng-repeat="mailConfig in $data"
            x-ng-click="edit(mailConfig)">
          <td style="cursor: pointer"
              data-title="'MAIL_CONFIG.BOX_LIST.TABLE.HEADER_NAME' | translate"
              sortable="'name'">
            <span>
              {{ mailConfig.name }}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
