<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{ domain.label }}
    </h3>
    <div class="pull-right box-tools">
      <div class="btn-group">
        <label class="btn btn-info"
               x-ng-model="filters.language"
               x-btn-radio="0">
          {{ 'MAIL_CONTENT.BOX_LIST.HEADER.LANGUAGE.ENGLISH' | translate }}
        </label>
        <label class="btn btn-info"
               x-ng-model="filters.language"
               x-btn-radio="1">
          {{ 'MAIL_CONTENT.BOX_LIST.HEADER.LANGUAGE.FRENCH' | translate }}
        </label>
      </div>
      <button class="btn btn-primary btn-sm"
              x-ng-click="cancel()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <button type="button" class="btn btn-success"
            x-ng-click="add()">
      <i class="fa fa-plus"></i>
      {{ 'MAIL_CONTENT.BOX_LIST.BUTTON_ADD' | translate }}
    </button>
    <div class="table-responsive">
      <table class="table table-striped"
             x-ng-table="tableParams">
        <tr x-ng-repeat="mailContent in $data"
            x-ng-click="edit(mailContent)">
          <td style="cursor: pointer"
              data-title="'MAIL_CONTENT.BOX_LIST.TABLE.HEADER_NAME' | translate"
              sortable="'name'">
            <span>
              {{mailContent.name}}
            </span>
          </td>
          <td style="cursor: pointer"
              data-title="'MAIL_CONTENT.BOX_LIST.TABLE.HEADER_CONTENT_TYPE' | translate"
              sortable="'mailContentType'">
            <span>
              {{mailContent.mailContentType}}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
