<div class="box box-primary">
  <div class="box-header">
    <div class="pull-right box-tools">
      <button class="btn btn-primary btn-sm"
              x-ng-click="cancel()">
        <i class="fa fa-list"></i> 
        {{ 'MIME_POLICIES.BOX_FORM.BUTTON_LIST' | translate }}
      </button>
    </div>
  </div>
  <form class="form" name="mimeConfig" role="form" novalidate
        x-ls-form-submit="update()"
        x-ls-form-attempt>
    <fieldset>
      <div class="box-body">
        <!-- Name -->
        <div class="form-group">
          <label for="name">
            {{ 'MIME_POLICIES.BOX_FORM.LABEL_NAME' | translate }}
          </label>
          <input id="name" name="name" type="text" class="form-control"
                 required
                 x-ng-model="mimePolicy.name">
        </div>
      </div>
      <div class="box-footer">
        <!-- Validation -->
        <button type="button" id="delete" name="delete" class="btn btn-danger"
                x-ng-click="remove()">
          {{ 'MIME_POLICIES.BOX_FORM.FORM_ACTIONS.BUTTON_DELETE' | translate }}
        </button>
        <button type="button" id="reset" name="reset" class="btn btn-warning"
                x-ng-click="reset()">
          {{ 'MIME_POLICIES.BOX_FORM.FORM_ACTIONS.BUTTON_RESET' | translate }}
        </button>
        <button type="submit" id="submit" name="submit" class="btn btn-success">
          {{ 'MIME_POLICIES.BOX_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
        </button>
      </div>
    </fieldset>
  </form>
</div>
<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {{ 'MIME_POLICIES.BOX_FORM.TITLE_MIME_TYPES' | translate }}
    </h3>
    <i class="fa fa-save fade"
      x-ng-class="{in: iconSaved}">
    </i>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-striped"
             x-ng-table="tableParams"
             show-filter="true">
        <tr x-ng-repeat="mimeType in $data">
          <td style="cursor: pointer"
              data-title="'MIME_POLICIES.BOX_FORM.TABLE.HEADER_STATUS' | translate"
              sortable="'enable'">
            <input type="checkbox"
                   x-ng-model="mimeType.enable"
                   x-ng-change="updateMimeType(mimeType)">
          </td>
          <td data-title="'MIME_POLICIES.BOX_FORM.TABLE.HEADER_EXTENSIONS' | translate"
              filter="{ 'extensions': 'text' }"
              sortable="'extensions'">
            <span>
              {{ mimeType.extensions }}
            </span>
          </td>
          <td data-title="'MIME_POLICIES.BOX_FORM.TABLE.HEADER_MIME_TYPE' | translate"
              filter="{ 'mimeType': 'text' }"
              sortable="'mimeType'">
            <span>
              {{ mimeType.mimeType }}
            </span>
          </td>
        </tr>
    </div>
  </div>
</div>
