<div class="modal-header">
  <h3 class="modal-title">
    {{ 'MIME_POLICIES.MODAL_FORM.TITLE' | translate }}
  </h3>
</div>
<form class="form" name="mimePolicyForm" role="form" novalidate
      x-ls-form-submit="disabledSubmit=true;create();"
      x-ls-form-attempt>
  <fieldset>
    <div class="modal-body">
      <!-- Name -->
      <div class="form-group"
           x-ng-class="{'has-error': mimePolicyForm.name.$invalid &&
            (mimePolicyForm.name.$dirty || ls.mimePolicyForm.attempted)}">
        <label for="name">
          {{ 'MIME_POLICIES.MODAL_FORM.LABEL_NAME' | translate }}
        </label>
        <input id="name" name="name" type="text" class="form-control"
               required
               x-ng-model="mimePolicy.name">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default"
              x-ng-click="cancel()">
        {{ 'MIME_POLICIES.MODAL_FORM.FORM_ACTIONS.BUTTON_CANCEL' | translate }}
      </button>
      <button type="submit" class="btn btn-primary"
        x-ng-disabled="disabledSubmit">
        {{ 'MIME_POLICIES.MODAL_FORM.FORM_ACTIONS.BUTTON_SUBMIT' | translate }}
      </button>
    </div>
  </fieldset>
</form>
