<div>
	<p><strong>Правила междоменной связи</strong></p>
	<p>Правила междоменной связи позволяют управлять связью<i>(просматривать/делиться)</i> между
		пользователей из разных доменов или в пределах одного домена.<br/>
		Когда вы создаете домен через <a x-ui-sref="domain.detail({domainId: domain})">'Configuration des domaines'</a> и выбираете опцию <strong>'Création automatique'</strong> для
		 <strong>'Правила междоменной связи'</strong>, правило будет создано автоматически разрешая новосозданому домену, общаться с самим собой. Все остальные сообщения
запрещены по умолчанию.<br/>
Чтобы правило принималось во внимание, оно должно быть присвоено домену.</p>
</div>
