<p><strong>Пользовательская диагностика</strong></p>
<p>Это окно показывает полный отчет для запрошенного по адресу электронной почты пользователя о его присутствии
  в LDAP с соответствующим доменом, а также в базе данных. Это окно полезно при тестировании, если пользователь находится в
  правильном домене или если он принадлежит нескольким доменам в одно и то же время и т.д.
</p>

<p>Кроме того, в этом окне вы можете показать всю связанную с пользователем информацию, а также отредактировать данные, например, изменить
  домен на другой.
</p>
