<div>
	<p><strong>Конфигурация почты</strong></p>
	<p>Это окно позволяет создавать структуры электронной почты для ваших доменов. Из информации, введенной в представлениях :</p>
	<ul>
		<li><strong><a x-ui-sref="maillayout.list({domainId: domain})">'Структура электронной почты'</a></strong> позволяет создавать шаблоны структуры электронной почты, различные макеты</li>
		<li><strong><a x-ui-sref="mailfooter.list({domainId: domain})">'Нижний колонтитул электронной почты'</a></strong> для компоновки ножки электронной почты</li>
		<li><strong><a x-ui-sref="mailcontent.list({domainId: domain})">'Содержимое электронной почты'</a></strong> управлять содержимым уведомлений, отправляемых автоматически пользователям приложения</li>
	</ul>
	<p>После настройки различных шаблонов структуры электронной почты вы сможете в <a x-ui-sref="domain.detail({domainId: domain})"> «Конфигурация домена»'</a>
		 (при создании / редактировании одного из ваших доменов), выбрать конфигурацию электронной почты.</p>
</div>
