<div>
	<p><strong>Технические аккаунты</strong></p>
	<p>Это окно позволяет создавать учетные записи с определенными правами делегирования.<br/><br/>
	<strong>Сведения о правах :</strong></p>
	<ul>
		<li><strong>'делегирование' :</strong> позволяет выполнять операции для других пользователей через API-интерфейс делегирования. Чтобы выполнить эти операции, вы должны выбрать список разрешений <i> (прав) </i>, которые вы хотите предоставить этой учетной записи. По умолчанию не выбраны разрешения.<br/>
			Для определения того, как работает API-интерфейс делегирования, вы можете обратиться к своей документации, доступной по адресу : <a href="http://download.linshare.org">http://download.linshare.org</a></li>
		<li><strong>'Загрузить предложение' :</strong> Загружайте предложение, являющееся внешним модулем приложения, для подключения к LinShare требуется специальная учетная запись и восстановление ее конфигурации. Эта учетная запись посвящена этому использованию.</li>
	</ul>
</div>
