<strong>Полезность</strong><br/>
<p>В контексте миграции версий, будь то второстепенная версия, такая как 2.1.x - 2.2.x или основная версия, такая как 1.x - 2.0, может потребоваться выполнить дополнительную обработку данных, чтобы завершите обновление программного обеспечения.
Напоминание: Процесс обновления всегда начинается с миграции SQL (за исключением версий обслуживания,
пример 2.3.6).
</p>
<br/>

<strong>прогресс</strong><br/>
<p>Эти задачи должны выполняться по порядку и успешно завершаться.<br/>
NB: Задача может завершиться успешно, но ошибки могут возникать во время ее запуска.
Поэтому необходимо проверить отчеты о выполнении, присутствующие в консоли.
В случае ошибки вам нужно будет обратиться к отчетам сервера Tomcat за более подробной информацией, решить проблему и перезапустить задачу перед продолжением.
</p>
<br/>

<strong>Criticité</strong><br/>
<p>Все задачи должны быть выполнены для завершения обновления.<br/>
    Пока задачи в статусе «Обязательный» не будут завершены, пользователи не смогут использовать систему.

    Пока задачи состояния «Требуется» не завершены, система будет работать в деградированном режиме.
    Некоторые функции или данные не будут доступны.
    Эти задачи могут выполняться параллельно с деятельностью пользователя.
</p>
