<p><strong>Персонализируйте приветствие для пользователей, подключенных к приложению «LinShare». </Strong> <br/> <br/>
	Вы можете создать несколько приветствий по доменам и связать их с разными поддоменами. <br/>
	Чтобы создать приветствие, вам просто нужно дублировать существующее приветствие, чтобы сделать это:
<ul>
	<li>В дереве левых доменов вы найдете список доменов: родители <i> (только для чтения) </i> и список ваших доменов и поддоменов <i> (в режиме записи) </i>. <br/> Вы можете дублировать приветствие <strong> с помощью кнопки «duplicate» </strong> в списке приветствий или путем предварительного просмотра приветствия. После повторного запроса откроется окно, вам нужно будет ввести имя и домен, в который вы хотите скопировать приветствие.</li>
	<li>С помощью кнопки <strong> «добавить» </strong> откроется окно с просьбой выбрать домен, чтобы выбрать шаблон приветствия, вам нужно будет выбрать новое имя и копию, это будет выполняться в текущем домене.</li>
</ul>
<p>После этого создания вы сможете изменить приветствие и назначить его тем доменам по вашему выбору, которые смогут извлечь выгоду из него, то есть во время <a x-ui-sref = "domain.detail ({ domainId: domain}) "> </a>, вы сможете выбрать там приветствие, предлагаемым списком будут приветствия, назначенные для домена. По умолчанию, если приветствие не предоставляется, список будет предлагать только приветствие по умолчанию.</p>
