<span class="btn-group" dropdown>
  <i class="fa fa-info-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"></i>
  <div class="activity-log-ctn audit-dropdown">
    <h5 class="header-log-info">
      <span>
        <span data-ng-class="auditAction.icon"></span>&nbsp;
        <span data-ng-if="auditAction.hasBracket">{{auditAction.resourceNameVarious}} > </span>
        <span>{{auditAction.resourceName}}</span>
      </span>
    </h5>
    <p>
      <b class="action-activity-log" translate>{{auditAction.sentenceAction}}</b> :
      <span translate translate-values="auditAction.sentenceVars">{{auditAction.sentenceKey}}</span>
    </p>
    <div data-ng-if="auditAction.updatedValues" data-ng-repeat="updatedValue in auditAction.updatedValues">
      <p class="activity-fields-renamed-label"><span translate>{{updatedValue.keyName}}</span> :</p>
      <p class="activity-fields-renamed-ctn">
        <span>{{updatedValue.oldValue | translateIf:updatedValue.rightsUpdate}}</span>
        <span class="activity-arrow">-></span>
        <span>{{updatedValue.newValue | translateIf:updatedValue.rightsUpdate}}</span>
      </p>
    </div>
    <p class="footer-log-info">
      <span>{{auditAction.creationDate | relativeTime}}</span>
      | <span translate>DETAILS_POPUP.BY</span> <span translate>{{auditAction.authorName}}</span>
    </p>
  </div>
</span>
