.activity-log-ctn {
  padding-bottom: 20px;

  p {
    margin-bottom: 0;
  }
  .action-activity-log {
    color: #5e5e5e;
    font-weight: bold;
  }
  .footer-log-info {
    margin-top: 0.5em;
    color: #676767;
    cursor: default;
  }
  .header-log-info {
    margin-bottom: 1em;
    border-bottom: solid 2px #f1f1f1;
    padding-bottom: 0.35em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .activity-user-target {
    color: #5b90b9;
  }
  .activity-fields-renamed-ctn {
    color: #7f7f7f;
    display: flex;
    flex-wrap: nowrap;
    cursor: default;
    span {
      max-width: 45%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.activity-arrow {
        width: 8%;
        padding: 0 5px;
        min-width: 22px;
        text-align: center;
      }
    }
  }
  .activity-fields-renamed-label {
    margin-top: 7px;
    color: #828181;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 0.015em;
  }
  .activity-resource-name {
    font-weight: normal;
    color: #000000;
    font-size: 0.9em;
  }
}
