/* LABEL */
.schema-bottom-txt {
  position: absolute;
  left: 0;
  margin: 0;
  bottom: -24px;
  font-size: 0.75em;
  &.middle-scheme-limit {
    left : 50%;
    text-align:center;
    transform: translateX(-50%);
  }
  &.max-scheme-limit {
    right: 0;
    text-align: right;
    direction: rtl;
  }
}