<div id="functionality_renderer" class="col-md-12"
     x-ng-if="showActivation() || showConfiguration() || showDelegation()">
  <!-- Activation and Configuration Policy - Begin -->
  <div class="row">
    <!-- Activation Policy - Begin -->
    <div class="col-md-6" x-ng-if="showActivation()">
      <form>
        <fieldset>
          <legend class="legend"
                  title="{{translations.ACTIVATION_POLICY ? 'FUNCTIONALITIES.HELP' : 'FUNCTIONALITIES.NO_DATA' | translate}}"
                  x-ng-click="isCollapseActivation = !isCollapseActivation"
                  x-ng-class="{'cursor-pointer': translations.ACTIVATION_POLICY != ''}">
            {{ 'FUNCTIONALITIES.BOX_FORM.LEGEND_ACTIVATION_POLICY' | translate }}
            <i class="fa fa-info pull-right"></i>
          </legend>
          <div class="description"
               collapse="!isCollapseActivation"
               x-ng-show="translations.ACTIVATION_POLICY">
            {{ 'FUNCTIONALITIES.DETAILS.' + functionality.identifier + '.ACTIVATION_POLICY' | translate }}
          </div>
          <div class="col-sm-offset-1 col-sm-12">
            <div class="radio">
              <label>
                <input type="radio" name="activationRadios" id="activationRadios2" value="MANDATORY"
                       x-ng-model="functionality.activationPolicy.policy"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.RADIO_MANDATORY' | translate }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="activationRadios" id="activationRadios1" value="ALLOWED"
                       x-ng-model="functionality.activationPolicy.policy"
                       x-ng-click="checkPolicyType(functionality.activationPolicy)"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.RADIO_ALLOWED' | translate }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="activationRadios" id="activationRadios0" value="FORBIDDEN"
                       x-ng-model="functionality.activationPolicy.policy"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.RADIO_FORBIDDEN' | translate }}
              </label>
            </div>
            <br>
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       x-ng-disabled="disableStatus(functionality.activationPolicy)"
                       x-ng-model="functionality.activationPolicy.status"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.LABEL_STATUS' | translate }}
              </label>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- Activation Policy - End -->
    <!-- Configuration Policy - Begin -->
    <div class="col-md-6" x-ng-show="showConfiguration()">
      <form>
        <fieldset>
          <legend class="legend"
                  title="{{translations.CONFIGURATION_POLICY ? 'FUNCTIONALITIES.HELP' : 'FUNCTIONALITIES.NO_DATA' | translate}}"
                  ng-click="isCollapseConfiguration = !isCollapseConfiguration"
                  x-ng-class="{'cursor-pointer': translations.CONFIGURATION_POLICY != ''}">
            {{ 'FUNCTIONALITIES.BOX_FORM.LEGEND_CONFIGURATION_POLICY' | translate }}
            <i class="fa fa-info pull-right"></i>
          </legend>
          <div class="description"
               collapse="!isCollapseConfiguration"
               x-ng-show="translations.CONFIGURATION_POLICY">
            {{ 'FUNCTIONALITIES.DETAILS.' + functionality.identifier + '.CONFIGURATION_POLICY' | translate }}
          </div>
          <div class="col-sm-offset-1 col-sm-12">
            <div class="radio">
              <label>
                <input type="radio" name="configurationRadios" id="configurationRadios2" value="MANDATORY"
                       x-ng-model="functionality.configurationPolicy.policy"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.RADIO_MANDATORY' | translate }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="configurationRadios" id="configurationRadios1" value="ALLOWED"
                       x-ng-model="functionality.configurationPolicy.policy"
                       x-ng-click="checkPolicyType(functionality.configurationPolicy)"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.RADIO_ALLOWED' | translate }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="configurationRadios" id="configurationRadios0" value="FORBIDDEN"
                       x-ng-model="functionality.configurationPolicy.policy"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.RADIO_FORBIDDEN' | translate }}
              </label>
            </div>
            <br>
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       x-ng-disabled="disableStatus(functionality.configurationPolicy)"
                       x-ng-model="functionality.configurationPolicy.status"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.LABEL_STATUS' | translate }}
              </label>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- Configuration Policy - End -->
  </div>
  <!-- Activation and Configuration Policy - End -->
  <!-- Delegation Policy and Parameters - Begin -->
  <div class="row">
    <!-- Delegation Policy - Begin -->
    <div class="col-md-6" x-ng-show="showDelegation()">
      <form>
        <fieldset>
          <legend class="legend"
                  title="{{translations.DELEGATION_POLICY ? 'FUNCTIONALITIES.HELP' : 'FUNCTIONALITIES.NO_DATA' | translate}}"
                  ng-click="isCollapseDelegation = !isCollapseDelegation"
                  x-ng-class="{'cursor-pointer': translations.DELEGATION_POLICY != ''}">
            {{ 'FUNCTIONALITIES.BOX_FORM.LEGEND_DELEGATION_POLICY' | translate }}
            <i class="fa fa-info pull-right"></i>
          </legend>
          <div class="description"
               collapse="!isCollapseDelegation"
               x-ng-show="translations.DELEGATION_POLICY">
            {{ 'FUNCTIONALITIES.DETAILS.' + functionality.identifier + '.DELEGATION_POLICY' | translate }}
          </div>
          <div class="col-sm-offset-1 col-sm-12">
            <div class="radio">
              <label>
                <input type="radio" name="delegationRadios" id="delegationRadios2" value="MANDATORY"
                       x-ng-model="functionality.delegationPolicy.policy"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.RADIO_MANDATORY' | translate }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="delegationRadios" id="delegationRadios1" value="ALLOWED"
                       x-ng-model="functionality.delegationPolicy.policy"
                       x-ng-click="checkPolicyType(functionality.delegationPolicy)"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.RADIO_ALLOWED' | translate }}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="delegationRadios" id="delegationRadios0" value="FORBIDDEN"
                       x-ng-model="functionality.delegationPolicy.policy"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.RADIO_FORBIDDEN' | translate }}
              </label>
            </div>
            <br>
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       x-ng-disabled="disableStatus(functionality.delegationPolicy)"
                       x-ng-model="functionality.delegationPolicy.status"
                       x-ng-change="update()"/>
                {{ 'FUNCTIONALITIES.BOX_FORM.LABEL_STATUS' | translate }}
              </label>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- Parameters End -->
    <div class="col-md-6" x-ng-if="showParameters()">
      <form>
        <fieldset>
          <legend class="legend"
                  title="{{translations.PARAMETER_DESCRIPTION ? 'FUNCTIONALITIES.HELP' : 'FUNCTIONALITIES.NO_DATA' | translate}}"
                  x-ng-click="isCollapseParameter = !isCollapseParameter"
                  x-ng-class="{'cursor-pointer': translations.PARAMETER_DESCRIPTION != ''}">
            {{ 'FUNCTIONALITIES.DETAILS.' + functionality.identifier + '.PARAMETER_NAME' | translate }}
            <i class="fa fa-info pull-right"></i>
          </legend>
          <div class="description"
               collapse="!isCollapseParameter"
               x-ng-show="translations.PARAMETER_DESCRIPTION">
            {{ 'FUNCTIONALITIES.DETAILS.' + functionality.identifier + '.PARAMETER_DESCRIPTION' | translate }}
          </div>
          <div x-ng-repeat="parameter in functionality.parameters">
            <div x-ng-switch="parameter.type">
              <div x-ng-switch-when="INTEGER">
                <div class="form-group">
                  <input name="$index" type="number" class="form-control" min="0" max="2147483647" required
                         x-ng-model="parameter.integer"
                         x-ng-change="updateWithTimeout()"/>
                </div>
              </div>
              <div x-ng-switch-when="UNIT_TIME">
                <div class="form-group">
                  <div class="form-inline row">
                    <div class="form-group col-sm-5">
                      <input name="$index" type="number" class="form-control" min="0" max="2147483647" required
                             x-ng-model="parameter.integer"
                             x-ng-change="updateWithTimeout()"/>
                    </div>
                    <div class="form-group col-sm-5">
                      <select class="form-control"
                              x-ng-model="parameter.string"
                              x-ng-change="update()"
                              x-ng-options="option as 'COMMON.ENUM.UNIT_TIME.' + option | translate for option in parameter.select">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div x-ng-switch-when="UNIT_SIZE">
                <div class="form-group">
                  <div class="form-inline row">
                    <div class="form-group col-sm-5">
                      <input name="$index" type="number" class="form-control" min="0" max="2147483647" required
                             x-ng-model="parameter.integer"
                             x-ng-change="updateWithTimeout()"/>
                    </div>
                    <div class="form-group col-sm-5">
                      <select class="form-control"
                              x-ng-model="parameter.string"
                              x-ng-change="update()"
                              x-ng-options="option as 'COMMON.ENUM.UNIT_SIZE.' + option | translate for option in parameter.select">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div x-ng-switch-when="STRING">
                <div class="form-group">
                  <input name="$index" type="text" class="form-control" required
                         x-ng-model="parameter.string"
                         x-ng-change="updateWithTimeout()"
                         x-ng-minLength="1"/>
                </div>
              </div>
              <div x-ng-switch-when="BOOLEAN">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input name="$index" type="checkbox"
                             x-ng-model="parameter.bool"
                             x-ng-change="updateWithTimeout()"/>
                    </span>
                    <span class="form-control">
                      {{ 'FUNCTIONALITIES.PARAMETERS.' + functionality.identifier + "__" + parameter.type + '_' + parameter.bool | translate }}
                    </span>
                  </div>
                </div>
              </div>
              <div x-ng-switch-when="ENUM_LANG">
                <div class="form-group">
                  <select class="form-control"
                          x-ng-model="parameter.string"
                          x-ng-change="updateWithTimeout()"
                          x-ng-options="option as 'COMMON.ENUM.ENUM_LANG.' + option | translate for option in parameter.select">
                  </select>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- Parameters - End -->
  </div>
  <div class="form-group pull-right" x-ng-if="!isRootDomain()">
    <div class="col-md-12">
      <button class="btn btn-danger" type="button"
              x-ng-show="showResetToParent()"
              x-ng-click="resetToParent()">
        {{ 'FUNCTIONALITIES.BOX_FORM.FORM_ACTIONS.BUTTON_RESET' | translate }}
      </button>
    </div>
  </div>
</div>
