<section class="content-header">
  <h1>
    {{'G_Tab_Parameters-Functionalities' | i18n}}
    <small>
      {{'P_Parameters-Functionalities_Title' | i18n}}
    </small>
  </h1>
</section>
<section class="content"
         x-ng-controller="FunctionalityManagementCtrl">
  <div class="row">
    <section class="col-md-4">
      <div x-ls-domain-tree root="root">
    </section>
    <section class="col-md-8"
             x-ng-if="getCurrentDomain() && !getCurrentFunctionality()">
      <div x-ls-functionality-list></div>
    </section>
    <section class="col-md-8"
             x-ng-if="getCurrentDomain() && getCurrentFunctionality()">
      <div x-ls-functionality-form></div>
    </section>
  </div>
</section>
